@import "../btn/sweepToRight.scss";
@import "../../variables/colors.module.scss";

%btnPrimary {
    @extend %sweep-to-right;

    width: 100%;
    max-width: 268px;
    height: 48px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #004dff;
    color: $whitef4;
    border-radius: 5px;
}

%btnPrimary:hover {
    // border-radius: 5px !important;
    box-shadow: 0px 8px 16px rgba(0, 41, 133, 0.25);
}

%btnPrimary:before {
    border-radius: 5px !important;
    background-color: #0037b3;
}
