.customSelectWrapper {
    position: relative;
    user-select: none;
    width: 100%;
    min-width: 168px;
    height: auto;
    transition: all 0.5s;
    // background-color: red;
}

.customSelect {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.customSelectTrigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.5s;
}
