@import "./masterSelect.module.scss";

.customSelect {
    height: 68px;
}

.customSelectTrigger {
    height: 60px;
}
.textSelect {
    display: block;
    white-space: nowrap;
    width: 100%;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customOptions {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    max-height: 300px;
    background-color: #ffffff;
    overflow: scroll;
    border: 1px solid #e0e5e8;
    border-radius: 0.25rem;
    padding: 0.5rem 0;
    // border-top: 0px !important;
    // border-top-left-radius: 0px !important;
    // border-top-right-radius: 0px !important;
    // border: 1px solid #E0E5E8;
    // border-radius: 5px;
    // background-color: #ffffff;
}

.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .customOptions {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .customSelect {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.customOption {
    // position: relative;
    display: block;
    cursor: pointer;
    align-items: center;
    height: 40px;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    background-color: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        background-color: #e0e5e8;
    }

    &:first-of-type {
        margin-top: -1px;
    }
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}
