@import "./masterSelect.module.scss";

.textSelect {
    font-weight: bold;
    font-size: 16px;
}

.customSelectTrigger {
    transition: all 0.5s;
}

.customSelect {
    padding: 24px !important;
}

.customOptions {
    display: none;
    transition: all 0.5s;
}

.open {
    display: block;
    transition: all 0.5s;
}
