.wpBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    max-width: 564px;
    height: 56px;
    background: #ffffff;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
    border-radius: 28px;
    transform: 0.5s all;
}

.button {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    width: 276px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 66px;
    color: #868a92;
    cursor: pointer;
}

.activeBtn {
    color: #ffffff;
    background-color: #0045ff;
}
