@import "../generalCss/container.module.scss";
@import "../generalCss/button.module.scss";
@import "./responsive.module.scss";

%contentAll {
    max-width: 744px;
    margin: 0px auto 0px auto;
    width: 100%;
}

.subTitle {
    font-size: 16px;
    color: #868a92;
    line-height: 24px;
}

.titleTop {
    font-weight: 800;
    font-size: 48px;
}

.subTitleTop {
    margin-top: 32px;
    font-size: 18px;
    color: #707070;
    line-height: 32px;
}

.title {
    line-height: 44px;
    font-weight: 800;
    font-size: 32px;
}

.titleS {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.conatinerTop {
    max-width: 936px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding-top: 228px;
    padding-bottom: 192px;
    display: flex;
    justify-content: space-between;
}

.containerRight {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnPrimary {
    @extend %btnPrimary;
}

.imgTop {
    filter: drop-shadow(0px 10px 25px rgba(0, 94, 235, 0.1));
    border-radius: 20px;
}

.wpCardCenter {
    @extend %contentAll;
}

.wpContentBtnList {
    @extend %contentAll;
}

.cardCenter {
    display: flex;
    min-height: 336px;
    box-shadow: 0px 83px 115.181px -61px #cad9fc;
    border-radius: 5px;
    margin-bottom: 237px;
}

.leftCard {
    padding: 80px 32px 96px 32px;
    display: flex;
    width: 100%;
    max-width: 408px;
    flex-direction: column;

    .subTitle {
        margin-top: 24px;
    }
}

.rightCard {
    background: #f7f9ff;
    // max-width: 336px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemCard {
    padding: 24px 0px 24px 0px;
    width: 100%;
    // max-width: 336px;
    max-height: 81px;
    height: 100%;
    padding-left: 66px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.activeCard {
    background: #e8edfc;
    color: #0045ff;
    position: relative;

    &::before {
        position: absolute;
        content: url(../../images/icons/polygon.png);
        left: -1px;
    }
}

.contentListItem {
    @extend %contentAll;
    padding-bottom: 216px;
    align-items: center;
}

.itemLine {
    margin-top: 80px;
    display: flex;
}

.whyTitle {
    margin: 0px auto 0px auto;
    display: flex;
    max-width: 481px;
}

.imgLine {
    width: 168px !important;
    height: 168px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8edfc;
    border-radius: 20px;
}

.textLine {
    margin: auto 0px auto 0px;
}

.contentBtnList {
    @extend %contentAll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 216px;
}

.btnList {
    max-width: 187px;
    width: 100%;
    height: 88px;
    background: #ffffff;
    box-shadow: 0px 13.3847px 26.7695px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    font-weight: bold;
    font-size: 17.4002px;
    line-height: 24px;
    color: #0045ff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrpRound {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 17.5px;
    background: #ffffff;
    background: #ffffff;
}

.contentBottom {
    @extend %content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 777px;
    width: 100%;

    .subTitle {
        max-width: 552px;
        margin-top: 32px;
        text-align: center;
    }
}

.bgBottom {
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bgBottom:nth-child(1) {
    background-image: url(../../images/partner/image1.png);
    background-position: top right;
    margin-right: 200px;
}

.bgBottom:nth-child(2) {
    background-image: url(../../images/partner/image2.png);
    background-position: top left;
    margin-top: 100px;
}

.bgBottom:nth-child(3) {
    background-image: url(../../images/partner/image3.png);
    background-position: bottom left;
    margin-left: 218px;
}

.bgBottom:nth-child(4) {
    background-image: url(../../images/partner/image4.png);
    background-position: bottom right;
}

.wpBottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    // position: absolute;
    // z-index: 10;
    // background: transparent;
}

.imgLineRight {
    margin-right: 26px;
}

.imgLineLeft {
    margin-left: 26px;
}
