@media only screen and (max-width: 1128px) {
    .contentBottom {
        .bgBottom:nth-child(1) {
            display: none !important;
        }
        .bgBottom:nth-child(2) {
            display: none !important;
        }
        .bgBottom:nth-child(3) {
            display: none !important;
        }
        .bgBottom:nth-child(4) {
            display: none !important;
        }
    }
    .conatinerTop {
        padding: 0px 24px 0px 24px;
    }
    .contentListItem {
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;
    }

    .wpCardCenter {
        padding: 0px 24px 0px 24px;
    }
    .wpContentBtnList {
        padding: 0px 24px 0px 24px;
    }
}

@media only screen and (max-width: 700px) {
    .conatinerTop {
        display: block !important;
    }
    .imgTop {
        width: 100%;
        max-width: 100%;
    }
    .btnPrimary {
        max-width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .conatinerTop {
        padding-top: 104px !important;
        padding-bottom: 72px !important;
    }
    .imgTop {
        margin-top: 32px;
    }
    .titleTop {
        font-size: 20px !important;
    }
    .cardCenter {
        display: block !important;
        // margin: 0px 24px 0px 24px !important ;
        box-shadow: none !important;
        margin-bottom: 48px !important;
    }
    .leftCard {
        padding: 24px 24px 38px 24px !important;
        max-width: 100% !important;
    }

    .itemCard{
        font-size: 20px !important;
    }

    .title {
        font-size: 20px !important;
        line-height: 22px !important;
    }

    .itemLine {
        flex-direction: column;
        align-items: center;

        .textLine {
            .titleS {
                text-align: center;
                font-size: 18px;
            }
            .subTitle {
                text-align: center;
            }
        }
    }

    .whyTitle {
    }
    .contentBtnList {
        display: block !important;
        margin-bottom: 48px !important;
    }

    .btnList {
        max-width: 100% !important;
    }
    .wrpRound {
        margin: 16px auto 16px auto;
        transform: rotate(90deg);
    }
    .contentListItem {
        padding-left: 25px;
        padding-right: 25px;
        justify-content: center;

        .titleS {
            margin-top: 16px;
        }

        .itemLine {
            margin-top: 32px !important;
        }
    }
    .imgLineRight {
        margin-right: 0px !important;
    }

    .contentListItem {
        padding-bottom: 48px !important;
    }

    .contentBottom {
        height: auto !important;
        padding-bottom: 72px;
    }
}
