@import '../../variables/colors.module.scss';

label.medium {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: $darkgrey;
  display: block;
}