@import '../mixins/fontsize.module.scss';

.xxxLarge {
  @include font-36
}

.xxLarge {
  @include font-22
}

.extraLarge {
  @include font-20
}

.large {
  @include font-18
}

.medium {
  @include font-16
}

.small {
  @include font-12;
}

.extraSmall {
  @include font-10
}

.xxSmall {
  @include font-8
}