@import "./responsive.module.scss";

.subTitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-shadow: 0px 0px 20px #ffffff;
    margin-top: 32px;
}

.title {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 0px 0px 20px #ffffff;
    // text-align: center;

    &::nth-child(2) {
        margin-top: 19px;
    }
}
.description {
    font-size: 16px;
    line-height: 24px;
    // text-align: center;
    color: #868a92;
}

.infoBtn {
    height: 57px;
    background: #0045ff;
    box-shadow: 0px 10px 25px rgba(0, 94, 235, 0.25);
    border-radius: 10px;
    font-weight: bold;
    padding: 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.learnMore {
    margin-top: 50px;
}

.joinOur {
    max-width: 1128px;
    width: 100%;
    margin: 0px auto 0px auto;
    // margin-top: 433px;
    display: flex;
    // align-items: center;
    flex-direction: column;
    position: relative;

    // flex-wrap: wrap;
    // overflow: auto;

    .wrJoinOur {
        margin-top: 112px;
        display: flex;

        &:last-of-type {
            margin-bottom: 246px;
            // margin-top: 272px;

            .leftJoinOur {
                background-image: url(../../images/aboutUs/menJoinOur.png);

                .infoBtn:nth-child(1) {
                    top: 135px;
                    position: absolute;
                    left: -66px;
                }

                .infoBtn:nth-child(2) {
                    top: 239px;
                    position: absolute;
                    // left: 223px;
                }

                .infoBtn:nth-child(3) {
                    top: 336px;
                    position: absolute;
                    left: -22px;
                }
            }
        }

        &:first-of-type {
            .leftJoinOur {
                background-image: url(../../images/aboutUs/joinOur.png);
            }
        }
    }

    .rightJoinOur {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: start;
        // margin-left: 80px;

        .title {
            font-size: 30px;
        }

        .description {
            margin-top: 24px;
            width: 100%;
            max-width: 549px;
        }
    }

    .leftJoinOur {
        background-image: url(../../images/aboutUs/joinOur.png);
        margin-left: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        max-width: 360px;
        min-height: 360px;
        width: 100%;
        position: relative;
        margin: 0px auto 0px auto;

        .infoBtn:nth-child(1) {
            top: 203px;
            position: absolute;
            left: -73px;
        }

        .infoBtn:nth-child(2) {
            position: absolute;
            top: 284px;
            right: -65px;
        }
    }
}
