@media only screen and (max-width: 1128px) {
    %content {
        padding: 0px 20px 0px 20px;
    }
    
    .wrJoinOur {
        display: block !important;
        justify-content: center;
        align-items: center;
        margin-top: 0px !important;

        &:last-of-type {
            margin-bottom: 0px !important;
        }

        .rightJoinOur {
            margin-top: 32px;
        }
        .leftJoinOur {
            margin-top: 32px !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .rightJoinOur {
        margin-left: 0px !important;
        margin-right: 0px !important;

        .description {
            max-width: 272px !important;
        }
        .title {
            max-width: 272px !important;
        }
    }

    .learnMore {
        margin-top: 32px !important;
    }

    .description {
        font-size: 14px !important;
        line-height: 24px !important;
        margin-top: 8px !important;
        display: flex;
    }
    .title {
        font-size: 20px !important;
        line-height: 27px !important;
    }

    .leftJoinOur {
        min-height: 256px !important;
    }

    .infoBtn {
        height: 43px !important;
        display: none !important;
    }
}
