@import '../../variables/colors.module.scss';

.selectBoxM {
	background: $white;
	border: 1px solid $lightgrey;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	height: 52px;

	.label {
		margin-right: 10px;
	}

	.arrowDown {
		font-size: 7px;
		color: $darkgrey;
	}
}

.active {
	border: 1px solid #0045ff;
}

.checkBox {
	z-index: 2;
	position: absolute;
	display: block;
	border: 1px solid;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 19px 16px 16px 16px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1px;
	color: #333333;
}

.checkBox label {
	display: block;
}

.selectBoxM:hover {
	cursor: pointer;
}
