%sweep-to-right {
	border-radius: 5px;
	border-width: 0px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: color 1000ms;
	transition: color 1000ms;

	&:focus {
		outline: none;
	}
}

%sweep-to-right:before {
	content: '';
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition: 300ms ease-out;
	transition: 300ms ease-out;
}

%sweep-to-right:hover:before {
	border-radius: 5px;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
