@keyframes loadAnimate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 20px;
    height: 20px;
    border: 5px solid #004dff;
    border-radius: 100%;
    border-top: 5px solid transparent;
    animation: loadAnimate infinite linear 1s;
}
