@mixin font-config {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@mixin font-36 {
  @include font-config;
  font-size: 36px;
}

@mixin font-22 {
  @include font-config;
  font-size: 22px;
}

@mixin font-20 {
  @include font-config;
  font-size: 20px;
}

@mixin font-18 {
  @include font-config;
  font-size: 18px;
}

@mixin font-16 {
  @include font-config;
  font-size: 16px;
}

@mixin font-12 {
  @include font-config;
  font-size: 12px;
}

@mixin font-10 {
  @include font-config;
  font-size: 10px;
}

@mixin font-8 {
  @include font-config;
  font-size: 8px;
}