@import '../../variables/colors.module.scss';

@mixin card-wrapper {
  background: $white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 32px;
  padding: 40px;
}

@mixin addon-card {
  border: 1px solid $lightgrey;
  box-sizing: border-box;
  border-radius: 10px;
  background: $white;

  &.active {
    border: 1px solid $darkblue;
  }
}

@mixin checkbox {
  width: 22px;
  height: 22px;
  border: 2px solid $grey1;
  border-radius: 2px;
  background: $transparent;
}