@import "./responsive.module.scss";

%content {
  max-width: 1128px;
  width: 100%;
  margin: 0px auto 0px auto;
}

.bgTop {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;

  .contentBg {
    @extend %content;
    .subTitle {
      margin-top: 34px;
      max-width: 453px;
    }
  }
}

.bgDetailTop {
  @extend .bgTop;
  margin-top: 0px;
}

.topDetailColumn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.content {
  @extend %content;
  padding: 80px 0px 120px 0px;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
}

.topTitle {
  margin: 3em 0;
}

.contentTitle {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 0px;
}

.contentSubtitle {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #868a92;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 88px;
}

.card {
  // width: 30%;
  width: 100%;
  max-width: 360px;
  background: white;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 20px;
}

.cardImage {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px 10px 0 0;
}

.cardContent {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    color: #0045ff;
  }
}

.cardSubtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 15px;
  color: #333333;
}

.cardFooter {
  margin: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.learn-more .animation-arrow-left {
  margin-left: 150px !important;
}
.readMore {
  color: #868a92;
  display: flex;
  // transition: justify-content 3s !important;

  path {
    fill: #868a92;
  }
  // .animation-arrow-left {
  //   margin-left: 150px !important;
  // }
  &:hover {
    justify-content: space-between;
    color: #0045ff;
    // .animation-arrow-left {
    //   margin-left: 150px !important;
    // }
    path {
      fill: #0045ff;
    }
  }
}

.imageContent {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.contentWrapper {
  margin-top: 20px;
  align-items: flex-start;
}

.wrContainer {
}

.wpIcon {
  display: flex;

  .iconRn {
    margin: 9px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
