@media only screen and (max-width: 1128px) {
  .content {
    padding: 0px 24px 64px 24px !important;
  }
  .contentBg {
    padding: 0px 24px 0px 24px;
  }

  .bgDetailTop {
    padding: 0px 24px 64px 24px;
  }
  .contentWrapper {
    padding: 0px 24px 0px 24px;
  }
  .wpFooter {
    padding: 0px 24px 0px 24px;
  }
  .cardWrapper {
    justify-content: center;
    grid-row-gap: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .topTitle {
    width: 360px;
    margin: 3em auto 3em auto !important;
  }

  .bgTop {
    min-height: 100px !important;
  }

  .title {
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 34px !important;
  }

  .contentTitle {
    font-weight: bold !important;
    font-size: 18px !important;
  }

  .contentSubtitle {
    font-size: 12px !important;
    line-height: 18px !important;
  }

  .cardWrapper {
    // flex-direction: column !important;
  }

  .card {
    width: 100% !important;
  }

  .cardTitle {
    font-size: 16px !important;
  }

  .bgDetailTop {
    margin-top: 100px !important;
  }

  .topDetailColumn {
    flex-direction: column !important;
  }

  .topDetailColumnItem {
    margin: 10px 0;
  }

  .content {
    margin-top: 15px !important;
  }

  .imageContent {
    border-radius: 5px !important;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
