.container {
    .children {
        max-width: 1128px;
        width: 100%;
        margin: 0px auto 0px auto;
        padding: 196px 25px 295px 25px;
    }

    .term-and-condition {
        .ant-modal-header {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .solid {
            border-style: solid;
            text-align: center;
            padding: 2px;

            b {
                font-weight: bold;
                font-size: 16px;
            }
        }

        .text-blue {
            color: #3c8dbc !important;
        }

        p {
            margin: 0 0 10px;
            color: black !important;
        }

        .modal-row {
            display: flex !important;
            flex-direction: row !important;
        }

        .text-number {
            margin-right: 15px !important;
        }

        h5 {
            color: black;
            text-align: justify;
            font-size: 14px;
        }

        .title-term-and-condition {
            font-size: 20px;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        h4 {
            b {
                font-size: 18px;
                font-weight: bold !important;
            }
        }
    }
}
