@import '../../variables/colors.module.scss';
@import '../mixins/global.module.scss';

.container {
  display: flex;

  .left {
    flex: 1;

    .row {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
    }

    .addonCard {
      @include addon-card;
      padding: 37px 16px 30px 16px;
      margin-right: 24px;
      width: calc(50% - 24px);
      cursor: pointer;

      &~.addonCard {
        margin-right: 0;
        width: 50%;
      }

      .top {
        display: flex;
        align-items: center;

        .headerLeft {
          flex: 1;
          display: flex;
          align-items: center;
        }

        .recommended {
          display: flex;
          padding: 5px 10px;
          border-radius: 20px;
          background: $transparentBlue;
          margin-left: 8px;
        }

        .price {
          margin-left: 43px;
          align-self: flex-end;
        }

      }

      .description {
        margin-top: 27px;
        max-width: 300px;
      }

      .checkbox {
        @include checkbox;
        margin-right: 14px;
      }

      .pickupButton {
        background: $darkblue;
        height: 40px;
        margin-top: 33px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
      }

      .pickupButtonLabel {
        font-size: 14px;
        color: $white;
      }

      .pickupButtonIcon {
        font-size: 12px;
        color: $white;
      }
    }
  }

  .right {
    margin-left: 24px;

    .bookingSummary {
      @include card-wrapper;
      padding: 0;
      width: 396px;

      .head {
        background: $whitef9;
        padding: 40px;
      }

      .content {
        padding: 40px;

        .title {
          margin-bottom: 8px;
        }

        .portDetailItem {
          display: flex;
          align-items: flex-start;

          img {
            margin-top: 3px;
          }

          .detail {
            .portName {
              font-size: 14px;
            }
          }
        }

        .summaryItem {
          margin-top: 24px;
        }

        .iconArrowDown {
          font-size: 15px;
          color: $darkgrey;
        }
      }
    }

    button.buttonNext {
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding: 0 40px;
      margin-top: 32px;
      background: $whiteda;
    }
  }
}