@import '../../variables/colors.module.scss';
@import '../mixins/global.module.scss';

.bookingSuccess {
    height: 100vh;
    display: flex;

    .left {
        padding-left: 156px;
        padding-top: 28px;
        width: 50%;

        .logo {
            width: 55px;
        }

        .title {
            margin-top: 121px;
        }

        .subtitle {
            color: $darkgrey !important;
            margin-top: 8px;

            b {
                color: $primary !important;
            }
        }

        .info {
            color: $darkgrey !important;
            margin-top: 8px;
            line-height: 34px;
            margin-top: 32px;
            max-width: 481px;
        }

        .buttonBack {
            width: 268px;
            margin-top: 48px;
            background: $primary;
            box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
        }

        .moreInfo {
            max-width: 290px;
            color: $grey70 !important;
            margin-top: 141px;
            margin-bottom: 25px;
        }

        .infoItem {
            display: flex;
            margin-bottom: 24px;

            .label {
                margin-left: 26px;
            }
        }
    }

    .right {
        width: 50%;
        background: url('../../images/png/success-illustration.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}