@import '../../variables/colors.module.scss';
@import '../mixins/global.module.scss';

.container {
  display: flex;

  .left {
    flex: 1;

    .inputTitle {
      b {
        color: $required;
      }
    }

    .inputWrapper {
      margin-top: 8px;
    }

    .consignee {
      display: flex;
      flex-direction: column;
      @include card-wrapper;

      .row {
        margin-top: 32px;
        display: flex;
      }

      .selectInput {
        margin-right: 24px;
      }

      .textInput {
        margin-right: 24px;
      }

      .addressInput {
        width: 461px;
        height: 132px;
      }
    }

    .notifyParty {
      @include card-wrapper;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .buttonAdd {
        background: $primary;
      }
    }

    .dataBarang {
      @include card-wrapper;
      padding: 0;

      .top {
        padding: 24px;
      }

      .filters {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 16px;

        .filterItem {
          width: 240px;
          margin-right: 24px;

          &:last-child {
            width: 168px;
          }
        }
      }
    }

    .dokumenWajib {
      @include card-wrapper;

      .doneIndicator {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $whited3;
        margin-top: 19px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .iconCheck {
          font-size: 12px;
          color: $white;
        }
      }

      .row {
        display: flex;
        align-items: center;
        margin-top: 24px;

        .rowTitle {
          margin-top: 20px;
          margin-right: 10px;
        }
      }

      button.buttonUpload {
        background: $transparent;
        border: 1px solid $lightgrey;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 0 59px;
        width: auto;

        i.iconUpload {
          font-size: 18px;
          color: $darkgrey;
          margin-right: 11px;
        }
      }
    }

    .tabPane {
      display: flex;
      background: $lightblue1;
      padding: 8px 23px;

      .tab {
        border-radius: 16px;
        background: $white;
        padding: 7px 24px;
        margin-right: 8px;

        &.active {
          background: $darkblue;
        }
      }
    }

    .containerTable {
      border-spacing: 0;
      width: 100%;

      thead tr td {
        border-bottom: 1px solid $mainblue;
      }

      .header {
        display: flex;
        align-items: center;
        padding: 16px 24px;
      }

      .sortToggle {
        .sortUp {
          width: 0px;
          border-bottom: 6px solid $lightgrey;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          margin-bottom: 2px;
        }

        .sortDown {
          width: 0px;
          border-top: 6px solid $mainblue;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
        }
      }

      tbody {
        tr td {
          padding: 12px 23px;

          .row {
            display: flex;
            align-items: center;
          }

          .input {
            width: 100%;
            height: 34px;
          }

          button {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $whitef9;
            outline: none;
            border: none;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            display: flex;

            .iconMinus {
              color: $white;
              font-size: 12px;
            }

            &.removeButton {
              background: $remove;
            }

            &.addButton {
              background: $lightgreen;
            }
          }
        }

        tr:nth-child(2n) {
          background: $whitef9;
        }

        tr:nth-last-child(2) {
          td {
            padding-bottom: 33px;
          }
        }

        tr:last-child {
          background: $white;

          td {
            border-top: 1px solid $lightgrey;
            border-bottom: 1px solid $lightgrey;
          }
        }
      }
    }

    .disclaimer {
      padding: 24px;
      display: flex;
      align-items: center;

      .tooltip {
        width: 14px;
        height: 14px;
        background: $secondary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .right {
    margin-left: 24px;

    .bookingSummary {
      @include card-wrapper;
      padding: 0;
      width: 396px;

      .head {
        background: $whitef9;
        padding: 40px;
      }

      .content {
        padding: 40px;

        .title {
          margin-bottom: 8px;
        }

        .portDetailItem {
          display: flex;
          align-items: flex-start;

          img {
            margin-top: 3px;
          }

          .detail {
            .portName {
              font-size: 14px;
            }
          }
        }

        .summaryItem {
          margin-top: 24px;
        }

        .iconArrowDown {
          font-size: 15px;
          color: $darkgrey;
        }
      }
    }

    button.buttonNext {
      justify-content: space-between;
      display: flex;
      align-items: center;
      padding: 0 40px;
      margin-top: 32px;
      background: $whiteda;
    }
  }
}