@import '../../variables/colors.module.scss';

.container {
  .menuTitle {
    background: $mainblue;
    width: 291px;
    height: 63px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;

    .title {
      margin-left: 11px;
    }

    .icon {
      width: 50px;
      background: $white;
      height: 110%;
      border-radius: 0 30px 30px 0;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  .megamenu {
    background: $white;
  }

  .searchButton {
    // @extend %sweep-to-right;
    margin: 32px 0px 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #004DFF;
    box-shadow: 0px 8px 16px rgba(0, 69, 255, 0.2);
    border-radius: 5px;
    height: 60px;
    width: 168px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: color 1s;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
  }

  .searchButton:before {
    background: #0A3EB8;
    border-radius: 5px;
  }

  .searchButton:hover {
    box-shadow: 0px 8px 16px rgba(10, 60, 194, 0.25);
  }
}

.buttonOutline {
  padding: 12px 24px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  border-radius: 8px;
  background-color: transparent;
  border-width: 1px;
  border-color: #DADADA;
  border-style: solid;
}

.buttonOutlineDisabled {
  background: #DADADA;
  padding: 12px 24px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  border-radius: 8px;
  border-width: 0px;
}