@import '../../variables/colors.module.scss';
@import '../mixins/global.module.scss';

.freightBreadcrumb {
    margin-top: 23px;
    display: flex;

    .left {
        flex: 1;
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .label {
            color: $grey1 !important;
            margin-right: 8px;

            &:last-child {
                margin-left: 8px;
            }
        }
    }

    .freightStepIndicator {
        display: flex;
        flex-direction: column;
        position: relative;

        .icons {
            display: flex;
        }

        .line {
            height: 2px;
            background: $lightgrey;
            position: absolute;
            bottom: 7px;
            z-index: 0;
            left: 40px;
            right: 32px;
            margin: auto;
        }

        .indicatorItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 44px;

            &:last-child {
                margin-right: 0;
            }
        }

        .indicatorIcon {
            color: $primary;
        }

        .itemIcon {
            height: 18px;
        }

        .indicatorLabel {
            margin-top: 10px;
            line-height: 16px;
        }

        .bullet {
            width: 16px;
            height: 16px;
            background: $lightgrey;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4px;
            z-index: 10;

            &.active {
                background: $primary;
            }

            &:after {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                background: $white;
                border-radius: 50%;
            }
        }
    }
}