@import '../../variables/colors.module.scss';

.container {
  background: $white;
  border: 1px solid #E0E5E8;
  box-sizing: border-box;
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  .mainCard {
    display: flex;
    padding: 0px 37px;
    justify-content: space-between;
  }
  .left {
    display: flex;
    flex-direction: column;
  }
  .middle {
    display: flex;
    align-items: flex-start;
    margin-left: 42px;
    margin-right: 42px;
    .cardItem {
      .value {
        margin-top: 7px;
      }
    }
    .port {
      .portName {
        display: flex;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        margin-top: 12px;
      }
      .portFlag {
        margin-top: 5px;
      }
    }
    .duration {
      width: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 24px;
      .lineWrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-self: stretch;
        align-items: center;
      }
      .bulletFull {
        background: $mainblue;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        .arrowWhite {
          font-size: 8px;
          color: $white;
        }
      }
      .line {
        height: 2px;
        flex: 1;
        background: $lightgrey;
      }
      .bulletEmpty {
        background: $white;
        width: 16px;
        height: 16px;
        border: 4px solid $mainblue;
        border-radius: 50%;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttonPick {
      background: $mainblue;
      margin-top: 24px;
      font-size: 16px;
    }
  }

  .cardDetail {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $lightgrey;
    margin-top: 24px;
    padding: 24px 37px;
    .left {
      margin-right: 100px;
      .portDetail {
        display: flex;
        flex: 1;
        align-items: center;
        .dates {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          align-self: stretch;
          justify-content: space-between;
        }
        .date {
          font-size: 14px;
        }
        .lineWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin: 0 7px;
          .bulletFull {
            background: $mainblue;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrowWhite {
              font-size: 8px;
              color: $white;
            }
          }
          .line {
            width: 2px;
            flex: 1;
            background: $lightgrey;
          }
          .bulletEmpty {
            background: $white;
            width: 16px;
            height: 16px;
            border: 4px solid $mainblue;
            border-radius: 50%;
            &.grey {
              border: 4px solid $lightgrey;
            }

          }
        }
        .ports {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          .portDetailItem {
            display: flex;
            align-items: flex-start;
            img {
              margin-top: 3px;
            }
            .detail {
              .portName {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .costs {
        padding-right: 32px;
        border-right: 1px solid $lightgrey;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
          border-right: 0px;
          padding-right: 0;
        }
        .costTitle {
          margin-bottom: 8px;
        }
        .costLabel {
          margin-bottom: 11px;
        }
      }
      .containerDetail {
        display: flex;
        .containerName {
          width: 111px;
          margin-right: 10px;
        }
        .containerPrice {
          margin-right: 10px;
          width: 65px;
        }
      }
    }
  }
}