.container {
	max-width: 1336px;
	margin: 0px auto 0px auto;
	.bookingMenu {
	}
	.searchFilter {
		margin: 27px 0;
	}
	.result {
		// margin-top: 32px;
		.pagination {
			display: flex;
			justify-content: center;
		}
	}
}
