@import '../../variables/colors.module.scss';

.container {
  background: $white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  align-items: center;
  .filters {
    display: flex;
    align-items: center;
    flex: 1;
  }
  .title {
    margin-right: 48px;
  }
  .filterItem {
    margin-left: 24px;
  }

  .right {
    display: flex;
    align-items: center;
    .buttonSearch {
      height: 40px;
      font-size: 12px;
      margin-left: 24px;
    }
  }

}