@import '../../variables/colors.module.scss';
@import '../mixins/global.module.scss';

.container {
	display: flex;

	.left {
		flex: 1;
	}

	.right {
		margin-left: 24px;
		width: 396px;
	}

	.warning {
		@include card-wrapper;
		border-left: 12px solid $warning;
		display: flex;
		align-items: center;
		padding: 21px 29px;

		.iconWarning {
			font-size: 30px;
			color: $warning;
			margin-right: 26.97px;
		}
	}

	.summaryCard {
		@include card-wrapper;
		padding: 0;

		.mainInfo {
			display: flex;
			border-bottom: 1px solid $lightgrey;
			padding-bottom: 40px;
			padding: 40px;
		}

		.shippingIns {
			border-bottom: 1px solid $lightgrey;
			padding-bottom: 40px;
			padding: 40px;
		}

		.detailInfo {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid $lightgrey;
			padding-bottom: 40px;
			padding: 40px;

			.detailInfoContent {
				margin-top: 16px;
				display: flex;

				.contentLeft {
					width: 350px;
				}

				.ctnQty {
					margin-bottom: 4px;
					line-height: 24px;
					font-size: 14px;
				}
			}

			.infoTitle {
				color: $grey1 !important;
				margin-bottom: 8px;
			}

			.portDetailItem {
				display: flex;
				align-items: flex-start;

				img {
					margin-top: 3px;
				}

				.detail {
					.portName {
						font-size: 14px;
					}
				}
			}

			.summaryItem {
				margin-bottom: 24px;
			}

			.iconArrowDown {
				font-size: 15px;
				color: $darkgrey;
			}

			.etaEtd {
				font-size: 14px;
			}

			.addons {
				margin-top: 16px;

				.addonItem {
					background-color: $lightblue2;
					display: inline-block;
					padding: 0px 12px;
					border-radius: 12px;
					margin-right: 24px;

					.addonItemLabel {
						font-size: 14px;
						line-height: 24px;
					}
				}
			}
		}

		.stakeholder {
			flex: 1;

			.stakeholderType {
				margin-bottom: 16px;
			}

			.address {
				margin-top: 8px;
				max-width: 292px;
			}

			.userWrapper {
				margin-top: 20px;

				.userData {
					display: flex;
					align-items: center;
					margin-top: 8px;

					.phoneNumber {
						margin-right: 24px;
					}
				}
			}
		}
	}

	.invoiceSummary {
		@include card-wrapper;
		padding: 32px;

		.summaryHeader {
			display: flex;
			border-bottom: 1px solid $lightgrey;
			padding-bottom: 24px;

			.summaryItem {
				flex: 1;

				.infoTitle {
					line-height: 18px;
					margin-bottom: 8px;
				}
			}
		}

		.summaryBody {
			margin-top: 24px;

			.bodyTitle {
				margin-bottom: 24px;
			}

			.costItem {
				display: flex;

				.costItemValue {
					font-size: 14px;
					margin-right: 48px;
					line-height: 24px;
					margin-bottom: 8px;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.toggleOthers {
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-top: 16px;

				.toggleLabel {
					font-size: 14px;
					color: $grey70 !important;
					margin-right: 16px;
				}

				.line {
					height: 1px;
					flex: 1;
					background: $lightgrey;
					margin-right: 16px;
				}
			}
		}
	}

	.summaryActions {
		@include card-wrapper;
		padding: 0px;
		display: flex;

		.actionButton {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
			padding: 29px;
			border: none;
			outline: none;
			background: transparent;
			border-right: 1px solid $lightgrey;

			&:last-child {
				border-right: 0px;
			}

			.buttonLabel {
				margin-left: 16px;
			}
		}
	}

	.submitButton {
		background: $primary;
		margin-top: 40px;
	}

	.saveButton {
		background: $white;
		border: 1px solid $lightgrey;
		margin-top: 32px;
	}
}
