.table {
	border-spacing: 0 16px;
	font-size: 14px;

	td {
		border-bottom: 1px solid #e0e5e8;
		height: 36px;
	}
}

.th {
	color: #868a92;
	font-weight: 800;
	font-size: 14px;
	padding-bottom: 16px;
}

.iconSort {
	padding: 4px;
	margin-left: 8px;
	display: flex;
	flex-direction: column;

	svg:nth-child(1) {
		margin-bottom: 1px;
	}

	svg:nth-child(2) {
		margin-top: 1px;
	}
}

.btExpor {
	cursor: pointer;
	width: 48px;
	height: 22px;
	background: #e8e6ff;
	border-radius: 5px;
	font-weight: bold;
	font-size: 10px;
	color: #1501fe;
}

.btImpor {
	cursor: pointer;
	width: 48px;
	height: 22px;
	background: #ebfaf9;
	border-radius: 5px;
	font-weight: bold;
	font-size: 10px;
	color: #33ccc3;
}

.btUnpaid {
	width: 48px;
	height: 22px;
	background: #faebeb;
	border-radius: 5px;
	font-weight: bold;
	font-size: 10px;
	color: #ff0000;
}
