@import '../../variables/colors.module.scss';
@import './responsive.module.scss';

.wrapper {
	background: white;
	// height: 202px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	max-width: 100%;
	margin: 0px auto 0px auto;
	padding: 24px;
	padding-bottom: 0;

	.top {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between !important;

		.right {
			display: flex;
			flex-wrap: wrap;
		}
	}
	.bottom {
		margin-top: 24px;
	}
	.menuSeparator {
		// margin-right: 67px;
	}
	.buttonSearch {
		align-self: flex-end;
	}
	.menuItem {
		position: relative;
		z-index: 1;
		margin-left: 24px;
		// flex-wrap: wrap;
		// display: flex;
		width: 100%;
		padding-right: 24px;

		&:before {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			background: $mainblue;
			border-radius: 50%;
			position: absolute;
			left: -16px;
			top: 7px;
		}
		.titleWrapper {
			display: flex;
			align-items: center;
			label {
				margin-right: 32px;
			}
			&:after {
				content: '';
				display: flex;
				flex: 1;
				height: 1px;
				background-color: $whitef4;
			}
		}
		.menuWrapper {
			.bottomMenu {
				display: flex;
				flex-direction: row;
				align-items: center;
				.nav {
					width: 24px;
					height: 24px;
					border-radius: 12px;
					border: none;
					align-items: center;
					justify-content: center;
					outline: none;
				}
				.bottomMenuMid {
					display: flex;
					overflow-x: auto;

					// justify-content: space-between;
					// flex-direction: row;
					// flex: 1;
				}
				.bottomMenuMid::-webkit-scrollbar {
					display: none;
				}
			}
			.containerItem {
				display: flex;
				flex-direction: row;
				height: 78px;
				min-width: 254px;
				align-items: center;
				border-right: 1px solid $whitef4;
				padding-right: 16px;
				justify-content: center;
				flex: 1;
				&:last-child {
					border-right: 0px;
				}
			}

			.containerItem.active {
				border-bottom: 3px solid #004dff;
			}

			.counter {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 56px;
				margin-left: 19px;
				.buttonSmall {
					width: 16px;
					height: 16px;
					border: 1.5px solid $lightgrey;
					box-sizing: border-box;
					border-radius: 1px;
					background: transparent;
					outline: none;
					align-items: center;
					justify-content: center;
					display: flex;
					cursor: pointer;
					.buttonIcon {
						font-size: 10px;
					}
				}
			}
		}
		.directions {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.port {
				display: flex;
				max-width: 163px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				align-items: center;
			}
		}
	}
}
