@import '../../variables/colors.module.scss';

button.medium {
  outline: none;
  background: $lightgrey2;
  border: none;
  cursor: pointer;
  width: 166px;
  height: 50px;
  border-radius: 5px;
}

button.full {
  width: 100%;
  background: $lightgrey2;
  border: none;
  cursor: pointer;
  height: 64px;
  border-radius: 5px;
}