%active {
    color: #0045ff;
    border-color: #0045ff !important;

    .donwloadIfIcon {
        fill: #0045ff;
    }
}

%error {
    color: red;
    border-color: red !important;

    .donwloadIfIcon {
        fill: red !important;
    }
}

.unError {
    @extend %error;
    &:hover {
        @extend %error;
    }
}

.donwloadIfIcon {
    transition: all 0.3s;
    cursor: pointer;
}

.textUpload {
    white-space: nowrap;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.inputFile {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    width: 168px;
    position: absolute;
    cursor: pointer !important;
}

.btnDownload {
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 11px 13px 14.25px;
    width: 168px;
    height: 40px;
    font-weight: 600;
    font-size: 10px;
    margin-left: 24px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        @extend %active;
    }
}

.activeBtn {
    @extend %active;
}
