%active {
    border-color: #004dff !important;
    color: #004dff;
    transition: all 0.5;
}

%errorHandle {
    border-color: red !important;
    color: red;
    transition: all 0.5;
}

.showError {
    @extend %errorHandle;
}

.errorText {
    font-size: 12px;
    margin-left: 3px;
    margin-top: 1px;
    color: red;
    visibility: hidden;
    transition: all 0.5;
}

.errorTextShow {
    visibility: visible;
}

.titleDropDown {
    width: 186px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectWrapper {
    position: relative;
}

.selectButton {
    // width: 186px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-overflow: ellipsis;
    //padding: 20px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        @extend %active;
    }
}

.activeClick {
    @extend %active;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.selectListContainer {
    position: absolute;
    // width: 296px;
    // height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 6px;
    z-index: 1;

    transition: display 0.9s;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;

    display: block !important;

    -webkit-animation-name: slideIn;
    animation-name: slideIn;

    ul {
        list-style-type: none;
        padding: 0px;
    }
}

.showSelect {
    display: block !important;
    transition: display 0.9s;
}

.showFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: display 0.9s;
}

.wrIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.routerAnm {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.wrLabel {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #868A92;
}