.cardItem {
  // min-width: 384px;
  width: 100%;
  // height: 100%;
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  // margin: 0px 0px 0px 74px;
  // padding: 16px 0px 14px 0px;
  min-height: 80px;

  .textCard {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0045ff;
    margin-bottom: 8px;
  }

  .subTextCard {
    font-size: 14px;
    line-height: 19px;
    color: #707070;
  }

  &:hover {
    cursor: pointer;
  }
}

.wpIcon {
  min-height: 80px;
  width: 96px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafcff;
}

.wpCardRight {
  padding: 16px 0px 14px 22px;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
