.wpContainer {
    max-width: 1128px;
    width: 100%;
    overflow: hidden;
}

.container {
    flex-wrap: wrap;
    margin: 80px 0px 133px 0px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    width: 1128px;
}

.wpAnimationContainer {
    transition: 2s;
    position: relative;
    // width: 200%;
    display: flex;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    max-width: 552px;
    width: 100%;

    min-height: 200px;
}

.title {
    font-weight: bold;
    font-size: 22px;
    color: #002985;
}

.sub_title {
    font-weight: 600;
    font-size: 13px;
    color: #868a92;
    max-width: 320px;
    margin-top: 8px;
}

.cssImg {
    margin-right: 26px;
}

.wpDot {
    margin: 24px auto 141px auto;
    display: flex;
    width: 24px;
    justify-content: space-between;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #edf1f8;
    cursor: pointer;
}

.activeDot {
    background: #002985;
}
