.progressContainer {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e0e5e8;
    padding-top: 35px;
}

.progressInnerContainer {
    width: 1250px;
    display: flex;
    padding-bottom: 15px;
}

.wizard {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progressTitle {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #004dff;
}

.progressTitleInactive {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #b8c1c6;
}

.progressTitleDone {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #b8c1c6;
}

.progressCircle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressOuterCircle {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #004dff;
    box-shadow: 0px 4px 8px rgba(0, 69, 255, 0.25);
}

.progressPendingOuterCircle {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #e0e5e8;
}

.progressOuterCircleInactive {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #e0e5e8;
}

.progressInnerCircle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ffffff;
}

.progressLine {
    height: 2px;
    background: #e0e0e0;
}

.progressLineContainer {
    justify-content: flex-end;
    align-items: flex-end;
}

.progressCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
