.modalBody {
	// width: 606px;
	height: 500px;
	border-radius: 10px;
	background: #ffffff;
}

.searchBox {
	position: absolute;
	width: 558px;
	height: 53px;
	// left: 441px;
	// top: 156px;
	margin: 20px;

	background: #fefefe;
	/* Stoke Grey */
	z-index: 1;

	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 8px;
}

.modalFooter {
	// position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 606px;
	height: 88px;
	text-align: right;
	padding: 16px 27px 16px;
	background: #ffffff;
	border-radius: 10px;
}

.btnNext {
	display: flex;
	// flex-flow: row;
	align-items: center;
	// text-align: center;
	padding: 0 22px 0 24px;
	justify-content: space-between;
	width: 183px;
	height: 56px;
	border: none;
	background: #dadada;
	border-radius: 5px;
	cursor: pointer;
}
