.bgContainer {
    background-image: url("../../images/bg/bg-freight.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 806px;
    // height: 100%;
}

.cardContainer {
    // max-width: 1128px;
    // margin: 0px auto 0px auto;
    margin-top: 24px;
    display: flex;
    height: 100%;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.33) 100%);
    box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
}

.title {
    margin-top: 48px;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 0px 25.0909px #ffffff;
}

.subTitle {
    font-size: 17px;
    line-height: 30px;
    color: #868a92;
}

.btnYellow {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 258px;
    margin-top: 56px;
}

.syInfo {
    width: 192px;
}
