%content {
    max-width: 1128px;
    width: 100%;
    margin: 0px auto 0px auto;
}

.containerTop {
    max-width: 960px;
    width: 100%;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btnRoundBlock {
        margin-top: 40px;
    }
}

.title {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}

.titleS {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

.cardSearch {
    width: 100%;
    max-width: 744px;
    height: 240px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 196px auto 0px auto;
    padding: 70px 40px 24px 40px;
}

.inputSearch {
    width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.5);
    border: none;
    margin-left: 24px;
}

.wpInputSearch {
    max-width: 397px;
    width: 100%;
    height: 48px;
    background: #fcfcfc;
    border: 2px solid #e0e5e8;
    box-sizing: border-box;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 27px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

.btnSearch {
    width: 100%;
    max-width: 108px;
    // height: 48px;
    border: 2px solid #0045ff;
    box-sizing: border-box;
    border-radius: 36px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0045ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2px;
    cursor: pointer;
}

.cardTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
}

.btnRound {
    cursor: pointer;
    margin-top: 48px;
    padding: 13px 35px 13px 35px;
    border: 2px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.orTx {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 40px;
}

.btnRoundBlock {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 13px 34px 13px 34px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: #0045ff;
    box-shadow: 0px 20px 46px -18px #92b0ff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.wpTitleCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wpTitleCard:nth-last-of-type(1) {
    margin: 147px 0px 24px 0px;
}

.cardCollapse {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    padding: 24px;
    margin-top: 24px;
    justify-content: space-between;
    // transition: all 0.3s;
}

.middleCard {
    width: 100%;
    max-width: 576px;
}

.titleCC {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.subCC {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    color: #707070;
    line-height: 40px;
}

.description {
    font-size: 16px;
    line-height: 32px;
    // text-align: center;
    color: #868a92;
}

.rightCC {
    max-width: 240px;
    width: 100%;
    transition: all 0.3s;
}

.titleRightCC {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;

    &:nth-last-of-type(3) {
        margin-top: 26px;
    }
}

.subRightCC {
    font-size: 14px;
    line-height: 19px;
}

.cardRightCC {
    width: 240px;
    background: #f6f9ff;
    border-radius: 10px;
    padding: 29px 24px 24px 24px;
    margin-bottom: 37px;
}

.wpIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;

    img {
        cursor: pointer;
    }
}

.activeCardC {
    height: 100%;
    // transition: all 0.3s;
}

.noActiveCardC {
    // transition: all 0.3s;
    height: 71px;
    overflow: hidden;
}

.headerCard {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bgImage {
    @extend %content;
    position: absolute;
    background-repeat: no-repeat;
    // background-size: contain;
    // height: 900px;
    width: 100%;
    height: 100%;

    &:nth-child(1) {
        background-image: url("../../images/career/profile-img1.png");
        top: -204px;
        background-position: left top;
    }
    &:nth-child(2) {
        background-image: url("../../images/career/profile-img2.png");
        background-position: right top;
        top: -232px;
    }
    &:nth-child(3) {
        background-image: url("../../images/career/profile-img3.png");
        background-position: left top;
        top: 226px;
    }

    &:nth-child(4) {
        background-image: url("../../images/career/profile-img4.png");
        background-position: right top;
        top: 67px;
    }
}

.contentCenter {
    // height: 100%;
    margin: 461px 0px 96px 0px;
    height: 1041px;
    // padding-top: 208px;
    background-image: url("../../images/career/bg-map.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wpContentCenter {
    // @extend %content;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 177px;
    flex-direction: column;
    // padding-top: 336px;

    .title {
        max-width: 744px;
        text-align: center;
        margin: 0px auto 0px auto;
    }
}

.bgImage2 {
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    margin-top: -119px;
    max-width: 744px;
    text-align: center;
}

.cardCenter {
    width: 624px;
    // height: 312px;
    background: #ffffff;
    box-shadow: 0px 83px 115.181px -61px #cad9fc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 48px 48px 48px;

    .titleCC {
        margin-top: 24px;
    }

    .description {
        text-align: center;
        max-width: 456px;
        // justify-content: space-between;
        display: flex;
        position: relative;
        &::before {
            // margin-left: 20px;
            position: absolute;
            margin-left: -50px;
            // left: -15px;
            content: url("../../images/png/quotes-start-icon.png");
        }

        &::after {
            position: absolute;
            right: -35px;
            bottom: -6px;
            content: url("../../images/png/quotes-last-icon.png");
        }
    }
}

.infoBtn {
    height: 57px;
    background: #0045ff;
    box-shadow: 0px 10px 25px rgba(0, 94, 235, 0.25);
    border-radius: 10px;
    font-weight: bold;
    padding: 16px 24px;
    color: #ffffff;
    display: inline-block;
}

.wrJoinOur {
    @extend %content;
    margin: 0px auto 0px auto;
    margin-top: 112px;
    display: flex;
    align-items: center;
    margin-bottom: 246px;
    margin-top: 272px;
    justify-content: space-between;
}

.description {
    margin-top: 24px;
    width: 100%;
    max-width: 549px;
}

.leftJoinOur {
}

.rightJoinOur {
    background-image: url(../../images/career/manImg.png);
    margin-left: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    width: 360px;
    height: 432px;
    position: relative;
}

.infoBtn:nth-child(1) {
    top: 145px;
    position: absolute;
    left: -24px;
}

.infoBtn:nth-child(2) {
    top: 323px;
    position: absolute;
    left: -84px;
}

.infoBtn:nth-child(3) {
    top: 199px;
    position: absolute;
    right: -64px;
}

.cardSlider {
    margin: 204px auto 0px auto;
    width: 100%;
    max-width: 1056px;
    // min-height: 384px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 48px 60px 26px 60px;
    background-image: url(../../images/career/bgImg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.topCardSlider {
    display: flex;
    align-items: center;
}

.rightCS {
    width: 100%;
    margin-left: 24px;
}

.boldText {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #0045ff;
    margin-top: 24px;
}

.childText {
    font-size: 16px;
    line-height: 22px;
}

.wpIndicator {
    display: flex;
    justify-content: center;
    margin-top: 37px;
}

.roundIndicator {
    border: 2px solid #0045ff;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    transition: all 0.5s;

    .indicator {
        border-radius: 10px;
    }
}

.indicator {
    width: 7px;
    height: 7px;
    background-color: #eeeeee;
    border-radius: 7px;
    transition: all 0.5s;
    cursor: pointer;

    &::after {
        content: "";
        height: 55px;
        width: 3px;
        background-color: red;
    }
}

.indicatorActive {
    background-color: #0045ff !important;
}

.contentGallery {
    @extend %content;
    max-width: 936px;
    display: grid;
    grid-template-columns: auto 216px 216px;
    grid-gap: 24px;

    // .title {
    //     max-width: 316px;
    // }
    // .description {
    //     max-width: 316px;
    // }
}

.boxGallery {
    width: 216px;
    height: 216px;
    border: 2px solid #f4f4f4;
    border-radius: 10px;
}
