.wrepper {
  width: 396px;
  height: 476px;
  background: #ffffff;
  box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px;
}

.titleAlert{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.footerGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-top: 40px;
}

.buttonPayment {
  height: 72px;
  background: #FAFAFA;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  color: #002985;
  cursor: pointer;
}

.buttonPayment:hover {
  border: 1px solid #002985;
  box-sizing: border-box;
}