.parentContainer{
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background: #FFFFFF;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.header { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .wrapperText {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
  }
}

.menuWrapper {
  margin-top: 32px;
  padding: 8px;
  background: #FAFAFA;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .menuItem {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 49px;
    text-align: center;
    flex-grow: 1;
    background: #FAFAFA;
    border-radius: 100px;
    color: #333333;
  }

  .menuItemActive {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 49px;
    text-align: center;
    flex-grow: 1;
    background: #002985;
    border-radius: 100px;
    color: white;
  }

}

.childrenWrapper {
  padding-bottom: 40px;
}