.wrepper {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    background: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1;
    align-items: center;

    .textHeader{
        font-weight: 700;
        font-size: 20;
        line-height: 34px;
        font-family: Poppins;
    }
 }

 .wrapperForm {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    margin-top: 24px;
    padding: 24px;
    border-radius: 5px;

    .textLegend{
        padding-left: 4px;
        padding-right: 4px;
        font-size: 16px;
    }

    .wrapperTambahBaru{
        display: flex;
        flex-direction: row;
        align-items: center;
   
        .formInput {
            margin-left: 24px;
        }
   
    }
 }

 .wrepperCustomer{
    overflow: scroll;
    height: 144px;

 }

 .wrepperHeaderCustomer{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 12px;

    text{
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        margin-right: 24px;
        color: #868A92;
    }

	.textNama {
		width: 177px;
	}

	.textNpwp{
		flex-shrink: 1;
        flex: 1;
	}
 }

