.wrepper {
  width: 625px;
  height: 349px;
  background: #ffffff;
  box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.titleAlert{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.spaceBetween{
  margin-top: 40px;
}

.headerInformation{
  width: 121px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;

  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #333333;
  }

  .value {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #333333;
  }

}

.table {
  width: 100%;

  .tr {
    height: 56px;

    td {
      padding-right: 16px;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #333333;
    }
  }

  .wrapperStatus {
    background: #EBFAF7;
    border-radius: 5px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: #33CCB2;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    text-align: center;
    margin-right: 16px;
  }

  .buttonAction{
    cursor: pointer;
    background: #33CCB2;
    border-radius: 2px;
    width: 64px;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}