.modalScss {
    position: fixed;
    // position: relative;
    z-index: 99 !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: bottom 0.1s ease-in 0.1s, visibility 0.2s;
    visibility: hidden;
    padding-top: 180px;
}

.active {
    visibility: visible;
    visibility: all 0.1s;
    width: 100%;
    height: 100%;
    z-index: 99 !important;
}

.animation {
	padding-top: 0px !important;
	// opacity: 1;
	// transition: opacity .1s;
}

.modalContent {
    transition: padding-top 0.6s;
    background-color: transparent;
    margin: 0px auto 0px auto;
    padding-top: 300px;
    width: 100%;
    height: 100%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
