.wrepper {
    height: 426px;
    width: 631px;
    background: #ffffff;
    box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
}

.bg {
    background-image: url("../../images/home/bgRedirectModal.png");
    background-position: bottom;
    background-repeat: no-repeat;
    // background-size: cover;
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.canceled {
    text-decoration-line: underline;
    font-feature-settings: "pnum" on, "lnum" on;
    cursor: pointer;
    color: #0045ff;
    margin-top: 40px;
}

.title {
    width: 295px;
    text-align: center;
    margin-top: 39px;
}