.wrepper {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    // margin: 0px 24px 0px 24px;
    background: #ffffff;
}

.bg {
    border-radius: 10px 10px 0px 0px;
    background-image: url(../../images/home/bg-select-sign.jpg);
    background-size: cover;
    max-width: 536px;
    height: 239px;
    width: 100%;
    // height: 100%;
    background-repeat: no-repeat;
    padding: 91px 0px 68px 24px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    // align-items: center;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    color: #ffffff;
}

.arrowRight {
    fill: #333333;
}

.card {
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 10px;
    width: 232px;
    transition: border 0.3s, box-shadow 0.3s;
    height: 209px;
    margin-top: -48px;
    cursor: pointer;
    padding: 32px 32px 32px 24px;

    &:hover {
        border: 1px solid #0045ff;
        box-shadow: 0px 30px 35px -40px rgba(3, 84, 206, 0.212);

        .arrowRight {
            fill: #0045ff;
        }

        .icon {
            padding-left: 147px;
        }
    }
}

.text1 {
    font-size: 12px;
    line-height: 16px;
    color: #707070;
}

.text2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.icon {
    display: flex;
    justify-content: flex-start;
    transition: justify-content 0.3s;
    transition: padding-left 0.3s;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 24px 32px 24px;
}

@media only screen and (max-width: 600px) {
    .card {
        margin-top: 24px !important;
    }

    .wrepper {
        width: 300px;
        margin: 0px auto 60px auto;
    }
}
