.wrepper {
  width: 631.67px;
  height: 497px;
  background: #ffffff;
  box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bg {
  background-image: url("../../images/home/bgRedirectModal.png");
  background-position: bottom;
  background-repeat: no-repeat;
  align-items: center;
  padding-top: 42px;
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  border-radius: 16px;
}

.iconAlert {
  margin-top: 60px;
}

.titleAlert{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 28.8581px;
  line-height: 42px;
  text-align: center;
  color: #333333;
}

.subTitle{ 
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16.0323px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  margin-top: 5.1;
}