@import '../../variables/colors.module.scss';

.container {
  background: $white;
  border-radius: 100px;
  width: 816px;
  height: 65px;
  display: flex;
  overflow: hidden;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: $transparent;
    border-radius: 100px;
    cursor: pointer;

    &.active {
      background: $darkblue;
    }
  }
}