.row {
  display: flex;
  flex-direction: row;
}

.terminalWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  align-items: center;
}

.gapItem{
  margin-left: 20px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  thead {
    tr {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 51px;
      color: #333333;
      height: 18px;
    }
  }

  tbody {
    td {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #333333;
      line-height: 42px;
    }

    .textSatuan{
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height, or 129% */

      display: flex;
      align-items: center;

      /* Text Color / 02 Grey */

      color: #868A92;
    }
  }

  tfoot{
    border-top: 1px solid #E0E5E8;
    border-bottom: 1px solid #E0E5E8;

    tr {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 51px;
      color: #333333;
      height: 18px;
    }

    td {
      height: 32px;
    }
  }

}
