.rowFlex { 
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.row {
  flex-direction: row;
  display: flex;
}

.labelPreview {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-top: 24px;

  .textTitle{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #868A92;
  }

  text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #1E1E1E;
    margin-top: 7.5px;
  }
}

.ringkasanFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #EFEFEF;
  border-radius: 8px;
  height: 60px;
  margin-top: 16px;

  .header {
    width: 186px;
    line-height: 60px;
    padding-left: 16px;
    background: #707070;
    border-radius: 8px 0px 0px 8px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
  }

  .content {
    margin-left: 23px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    color: #333333;
  }
}

.footerButton {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}