.row {
  display: flex;
  flex-direction: row;
}
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  thead {
    td {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 32px;
      color: #868A92;
    }
  }

  tbody {

    td {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      color: #333333;
    }

    .noKontainer {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #000000;
    }

    .status {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 18px;
      color: #0055FF;
      background: #E6EEFF;
      border-radius: 5px;
      padding: 2px 8px;
    }

  }
}
