.row {
  display: flex;
  flex-direction: row;
}
.rowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gapItem {
  margin-left: 5.5px;
  margin-right: 5.5px;
}
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  thead {
    td {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      color: #868A92;
    }
  }

  tbody {

    td {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 32px;
      color: #000000;

      .gridDokumen {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .textDokumen {
        margin-left: 8px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
        color: #000000;
      }

    }

    .status {
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 18px;
      color: #0055FF;
      background: #E6EEFF;
      border-radius: 5px;
      padding: 2px 8px;
    }

  }
}


.labelPreview {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-top: 24px;

  .textTitle{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #868A92;
  }

  text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #1E1E1E;
    margin-top: 7.5px;
  }
}

.ringkasanFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #EFEFEF;
  border-radius: 8px;
  height: 60px;
  margin-top: 16px;

  .header {
    width: 186px;
    line-height: 60px;
    padding-left: 16px;
    background: #707070;
    border-radius: 8px 0px 0px 8px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
  }

  .content {
    margin-left: 23px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    color: #333333;
  }
}

.buttonSendDokumen {
  height: 44px;
  background: #DADADA;
  opacity: 0.6;
  border-radius: 8px;
  border: 0px;
  padding: 12px 24px;
  color: #1E1E1E;
}