.textitem {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #868a92;
    transition: color 0.3s;
    margin-bottom: 16px;
}

.wrInput {
    display: grid;
    grid-gap: 23px;
    grid-template-columns: auto auto auto;
    height: auto;
}

.wrInputFlex {
    display: flex;
    align-items: center;
}

.wrWidth {
    width: 368px;
    margin-right: 24px;
}

%active {
    color: #0045ff;
    border-color: #0045ff !important;

    .donwloadIfIcon {
        fill: #0045ff;
    }
}

%inactiveInput {
    border-bottom: 1px solid red;
}

.activeBtn {
    @extend %active;
}

.wpBtn {
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
}

.agree {
    font-size: 14px;
    line-height: 32px;
    margin-left: 12px;
}

.wpAgree {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.provision {
    color: #0045ff;
    text-decoration: underline;
    cursor: pointer;
}

.showAnimation {
    display: none;
    transition: display 0.5s;
    animation: fade_in_show 0.8s;
    margin: 8px 0px 32px 0px;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
