.bg {
    background: #FAFCFF;
    height: 100%;
}

%bgPosition {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bgImg1 {
    @extend %bgPosition;
    background-image: url('../../images/bg/right-sign-1.jpg');
    background-position: right top;
}

.bgImg2 {
    @extend %bgPosition;
    background-image: url('../../images/bg/right-sign-2.jpg');
    background-position: right top;
    margin-top: 105px;
}

.bgImg3 {
    @extend %bgPosition;
    background-image: url('../../images/bg/right-sign-3.jpg');
    background-position: left bottom;
    margin-left: -47px;
}

.bgImg4 {
    @extend %bgPosition;
    background-image: url('../../images/bg/right-sign-4.jpg');
    background-position: right bottom;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: center;
}

.content {
    margin-top: 232px;
    width: 384px;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-left: 4px;
    transition: all .5s;
}

.listItem {
    border-bottom: 1px solid #E0E5E8;
    transition: all .5s;
}

.iconHv {
    transition: fill .3s;
}

.item {
    display: flex;
    height: 53px;
    align-items: center;
    cursor: pointer;

    &:hover {
        .title {
            color: #0045FF;
        }

        .iconHv {
            fill: #0045FF;
        }
    }
}

.activeItem {
    align-items: flex-start !important;
    background: #FFFFFF;
    box-shadow: 0px 30px 35px -40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0px 0px 24px 0px;
    border-width: 0px;
    transition: all .5s;
    margin-top: 8px;
    margin-bottom: 8px;

    .title {
        color: #0045FF;
    }

    .item {
        height: auto !important;
    }
}

.WrIcon {
    width: 24px;
    height: 54px;
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
}

.childTitle {
    font-size: 14px;
    line-height: 19px;
    color: #707070;
    margin-left: 32px;
}