@import "../../variables/colors.module.scss";

.containerpicker {
  position: absolute;
  width: 276px;
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  top: 120px;
  display: none;
  z-index: 4;
  &.show {
    display: block;
  }

  .item {
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid $lightgrey;

    &:last-child {
      border-bottom: 0;
    }

    p {
      color: $darkgrey;
    }
  }
}

.finishText {
  padding-right: 40px;
  font-weight: bold;
  cursor: pointer;
}

.btnMp {
  width: 24px;
  height: 24px;
  border: 1px solid #e0e5e8;
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.containerTruck {
  margin-left: -290px;
  position: absolute;
  width: 552px;
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  top: 125px;
  display: none;

  &.show {
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
  }

  .itemTruck {
    width: 276px;
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: space-between;
    border-bottom: 1px solid #e0e5e8;

    &:last-of-type {
      border-bottom: 0px;
    }

    &:nth-child(7) {
      border-bottom: 0px;
      border-bottom-left-radius: 5px;
    }

    &:nth-child(8) {
      border-bottom: 0px;
      border-bottom-right-radius: 5px;
    }

    &:nth-child(1) {
      border-top-left-radius: 5px;
    }

    &:nth-child(2) {
      border-top-right-radius: 5px;
    }
  }

  .leftItem {
  }

  .rightItem {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }

  .inputSelect {
  }

  .wpItem {
    display: flex;
  }

  .noInp {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
}

.type {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.rate {
  font-size: 12px;
  line-height: 18px;
  color: #868a92;
}

.viewDone {
  justify-content: flex-end !important;

  &:hover {
    color: #004dff;
    path {
      fill: #004dff;
    }
  }
}

.errorText {
  color: red;
  // height: 30px;
  font-weight: bold;
  padding: 16px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .containerpicker {
    margin-top: -20px;
    width: 100%;
    z-index: 1;
  }

  .itemTruck {
    width: 100% !important;
  }

  .containerTruck {
    &.show {
      grid-template-columns: none;
    }
  }
}
