@import "../../variables/colors.module.scss";

.datepicker {
  position: absolute;
  width: 328px;
  height: 150px;
  top: 125px;
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: none;
  z-index: 1;

  &.show {
    display: block;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    padding: 24px;
    align-items: center;
    justify-content: space-between;

    .navButton {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background: $whitef3;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i.iconArrow {
        font-size: 12px;
        color: $darkgrey;
      }
    }

    .months {
      display: flex;
      flex-direction: row;
      overflow: hidden;
      margin: 0 10px;
      flex: 1;

      .tabSection {
        visibility: hidden;
        display: none;
        flex: 1;

        &.active {
          visibility: visible;
          display: flex;
          flex-direction: row;
        }
      }

      .item {
        background: $whitef4;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 7px 10px;
        margin-right: 8px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          background: $primary;

          p {
            color: white !important;
          }
        }
      }
    }
  }

  .dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 24px;

    .item {
      background: $whitef4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      padding: 10px 7px;
      margin-right: 24px;
      cursor: pointer;
      flex: 1;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: $primary;

        p {
          color: white !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .datepicker {
    margin-top: -40px;
    width: 100%;
  }
}
