@import "../../variables/colors.module.scss";

.datepicker {
  position: absolute;
  width: 328px;
  // height: 450px;
  top: 125px;
  background: #ffffff;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: none;
  z-index: 1;

  &.show {
    display: block;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    padding: 24px;
    align-items: center;
    justify-content: space-between;

    .navButton {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background: $whitef3;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i.iconArrow {
        font-size: 12px;
        color: $darkgrey;
      }
    }
    .labelHeader{
      display: flex;
      flex-direction: row;
    }
  }

  .dates {
    border-bottom: 1px solid #F2F3F7;
    .labelDates{
      position: relative;
      width: calc(100%/7);
      height: 24px;
      display: inline-block;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      z-index: 1;
      text-align: center;
      .labelDatesText{
        color: rgb(134, 138, 146) !important;
      }
    }
    .datesContent{
      .dateContentWrapper{
        position: relative;
        width: calc(100%/7);
        height: 44px;
        display: inline-block;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: middle;
        z-index: 1;
        text-align: center;
      .dateContentText{
          // background: #F0F4FF;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px;
          width: 100%;
          height: 100%;
          position: relative;
          cursor: pointer;
          .todayText{
            color: #002985 !important;
          }
          .today::before{
            position: absolute;
            content: "hari ini";
            top:0;  
            transform: translateY(-50%);
            display: inline-block;
            width: 100%;
            left: 0;
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            line-height: 11px;
            /* identical to box height */

            text-align: center;

            /* Fill Color / 02 Dark Blue (LOGOL) */

            color: #002985;
          }
          .outsideMonth{
            color: #C0CDD5 !important;
          }
          .holiday{
            color: #EB4747 !important;
          }
          .isbetween{
            height: 25px;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-inline: 0;
            display: flex;
            width: 100%;
            background: #F0F4FF;
          }
          .isStart{
            height: 25px;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-inline: 0;
            display: flex;
            width: 100%;
            background: linear-gradient(90deg, #fff 50%, #F0F4FF 50%);
          }
          .isEnd{
            height: 25px;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-inline: 0;
            display: flex;
            width: 100%;
            background: linear-gradient(90deg, #F0F4FF 50%, #fff 50%);
          }
          .active{
            color: #fff !important;
            text-align: center;
            width: 33px;
            padding: 8px;
            background: #005EEB;
            box-shadow: 0px 4px 8px rgba(0, 69, 255, 0.2);
            border-radius: 100px;
          }
        }
      }
    }
  }
  .footer{
    padding-top: 24px;
    padding-inline: 16px;
    padding-bottom: 20px; 
    .shipmentDurationForm{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .shipmentDurationSelection{
        display: flex;
        flex-direction: row;
        width: 45%;
        justify-content: space-between;
        align-items: center;
      }
      .RoundedButton{
        border: 1px solid #E0E5E8;
        border-radius: 100px;
        width: 24px;
        cursor: pointer;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .labelShipment{
        color: rgb(134, 138, 146) !important;
      }
    }
    .buttonWrapper{
      display: flex;
      justify-content: flex-end;
      margin-top: 32px;
      .buttonChoose{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
  
        width: 126px;
        height: 34px;
  
        /* Main Blue */
  
        background: #005EEB;
        border-radius: 4px;
        .text{
          color:#fff !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .datepicker {
    margin-top: -40px;
    width: 100%;
  }
}
