@import "../mixins/fontsize.module.scss";

.textSelect {
  width: 100%;
  max-width: 197px;
  padding: 0px 8px 0px 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-overflow: ellipsis;
  color: rgb(128,128,128);
  overflow: hidden;
}

.megamenu {
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  min-height: 104px;
  height: 100%;
  display: flex;
  overflow: visible;

  .portInput {
    border: none;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include font-16;
    font-weight: bold;
    max-width: 163px;
  }

  .selectedLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 163px;
  }

  .gridItem {
    text-align: start;
    overflow: visible;
    flex: 1;
    position: relative;
    // width: 100%;

    .title {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      margin: 16px 0px 0px 16px;
      color: #868a92;
    }

    .buttonSelect {
      cursor: pointer;
      height: 48px;
      display: flex;
      list-style: none;
      width: 100%;
      padding: 0px 24px 0px 16px;
      margin-top: 8px;
      justify-content: space-between;
      align-items: center;
      
    }
    img {
      height: 0px;
    }
    .swapImg {
      position: absolute;
      right: -13px;
      top: 40px;
      height: 30px;
      cursor: pointer;
    }
  }

  .gridItem:nth-child(1) {
    padding-right: 13px;
    border-right: 1px dashed #e0e5e8;
  }

  
  /* .gridItem:nth-child(2)::after {
    position: relative;
    content: url("../../images/icons/left-right.svg");
    left: -25px;
    text-align: center;
    top: -36px;
  } */

  .gridItem:nth-child(2) {
    padding: 0px 12px 0px 12px;
  }

  .gridItem:nth-child(3) {
    padding: 0px 12px 0px 12px;
    border-right: 1px solid #e0e5e8;
    border-left: 1px solid #e0e5e8;
  }

  .gridItem:nth-child(4) {
    padding: 0px 0px 0px 12px;
  }
}

.lineCenter {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.textError {
  color: red;
  font-size: 10px;
  margin: 0px 10px 0px 15px;
  display: none;
  transition: display 0.3s;
}

.showTextEerror {
  display: block;
  transition: display 0.3s;
}

@media only screen and (max-width: 600px) {
  .megamenu {
    height: auto !important;
  }
}
