@import "../../variables/colors.module.scss";

.portpicker {
  background: #fff;
  min-height: 336px;
  width: 648px;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 121px;
  z-index: 10;
  overflow: hidden;

  &.show {
    display: flex;
  }

  .leftPane {
    background: $lightblue;
    width: 276px;

    .listItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 16px;
      cursor: pointer;
      transition: background 0.3s;

      i.iconGlobe {
        font-size: 16px;
        color: $darkblue;
        margin-right: 8px;
      }

      i.arrowRight {
        font-size: 13px;
        color: $darkgrey;
        align-self: "flex-end";
      }

      &:hover,
      &.active {
        transition: background 0.3s;
        background: white;
        color: #333333 !important;
      }
    }

    .wpInLeft {
      width: 276px;
      height: 56px;
      padding: 8px 16px 8px 16px;
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 158.04%), #edf1f8;
      border-radius: 5px 0px 0px 0px;

      .inputLeft {
        width: 219px;
        height: 40px;
        background-color: transparent;
        border-width: 0px;
        border-radius: 5px;
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    overflow-wrap: break-word;
    grid-auto-rows: 45px;
    width: 100%;
  }

  .textSelect {
    font-size: 16px;
    flex: 1;
    margin-left: 10px;
    color: #868a92;
    transition: 0.3s;
  }

  .activeSelect {
    color: #333333 !important;
    font-weight: bold !important;
  }

  .gridItem {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    cursor: pointer;
    transition: color 0.3s;
    transition: font-weight 0.3s;

    p:hover {
      transition: color 0.3s;
      transition: font-weight 0.3s;
      color: #002985 !important;
    }

    // &:first-of-type() {
    //   color: $darkgrey !important;
    // }
  }

  .rightPane {
    flex: 1;
    display: flex;
    // max-width: 659px;

    .titlePicker {
      display: flex;
      border-bottom: 1px solid #edf1f8;
      height: 64px;
      align-items: center;
      margin-bottom: 24px;
    }

    .viewSg {
      width: 100%;
      padding: 0px 24px 24px 24px;
      height: 100%;
      display: flex;
      flex-direction: column;

      .autoCompleted {
        width: 612px;
        height: 56px !important;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        padding-left: 16px;
        font-size: 16px;
        box-sizing: border-box;
        border-radius: 5px;
        text-overflow: ellipsis;

        &:focus {
          border: 1px solid #004dff;
        }
      }

      .wpTextSg {
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        margin-top: 9px;
        text-overflow: ellipsis;
      }

      .textP {
        margin-left: 11px;
        font-size: 16px;
        line-height: 24px;

        padding-right: 20px;
        max-width: 570px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .textSg {
        display: flex;
        height: 53px;
        align-items: center;
        padding-left: 10px;
        cursor: pointer;

        &:first-of-type {
          border-radius: 5px 5px 0px 0px;
        }

        &:last-of-type {
          border-radius: 0px 0px 5px 5px;
        }

        &:hover {
          background: #edf1f8;
        }
      }
    }
  }
}

.exportShipping {
  display: flex;
  color: #868a92;
  margin-top: 70%;
  padding: 12px 24px 12px 24px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .listItem {
    &.active {
      background: $lightblue !important;
    }
  }
}
