@import "../../variables/colors.module.scss";

.picker {
  background: #fff;
  max-height: 144px;
  width: 364px;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 121px;
  z-index: 10;
  overflow: auto;

  &.show {
    display: flex;
    flex-direction: column;
  }

  .listItem {
    cursor: pointer;
    transition: background 0.3s;
    padding: 6px 0 6px 25px;
    border-bottom: 0.5px solid #e0e5e8;
    &:hover,
    &.active {
      transition: background 0.3s;
      background: #005eeb;
      color: #fff !important;
      .countryText{
        color: #FFFFFF;
      }
    }
    .countryText{
      font-family: Nunito Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #868A92;
    }
  }
}
