.tooltip {
	position: relative;
	display: inline-block;
	background: #1e1e1e;
	color: #ffffff;
}

.tooltip .tooltiptext {
	visibility: visible;
	width: 576px;
	height: 74px;
	background-color: black;
	border-radius: 6px;
	padding: 13px 16px 13px 16px;
	position: absolute;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	z-index: 1;
	top: 150%;
	left: -215px;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.btnGantiMetode {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #1e1e1e;
	margin-top: 32px;
	width: 100%;
	height: 64px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
}

.btnGantiMetode:hover {
	cursor: pointer;
}
