.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px 0px 31px 0px;
    max-width: 456px;
    width: 100%;
}

.wrRoundIcon {
    height: 60px;
    display: flex;
    align-items: center;
}

.container {
    max-width: 456px;
    width: 100%;
}

.content {
    padding: 13px 24px 0px 24px;

    &:nth-child(1) {
        border-bottom: 1px dashed #e0e5e8;
        padding-bottom: 31px;
    }
}

.text {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin-top: 4px;
    margin: auto 0px auto 0px;
}

.label {
    // margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    color: #868a92;

    // &:nth-child(1) {
    //     margin-top: 24px !important;
    // }
}

%title {
    font-weight: bold;
    line-height: 24px;
}

.title1 {
    @extend %title;
    font-size: 24px;
    margin-bottom: 24px;
}

.title2 {
    @extend %title;
    font-size: 16px;
}

.flex {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
}

.total {
    margin-top: 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #002985;
}

.pdRight {
    margin-right: 8px;
}

.bottomPosition {
    transform: rotate(90deg);
}

.track {
    display: flex;
    align-items: center;
}

.voucherScss {
    background-image: url(../../images/svg/voucher.svg);
    width: 100%;
    height: 48px;
    margin-top: 16px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px 0px 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ff8800;
}

.totalFalse {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-decoration-line: line-through;
    color: #868a92;
    margin-top: 3px;
    text-align: right;
}

.feeDetail {
    font-size: 14px;
    line-height: 18px;
    margin-top: 16px;
}

.wrDonwload {
    width: 100%;
    max-width: 456px;
    height: 64px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 8px 8px 8px 16px;
}

.btnDonwload {
    width: 155px;
    height: 48px;
    justify-content: space-between;
    padding: 0px 16px 0px 17.5px;
    align-items: center;
    display: flex;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

.textD {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
}

.textFormat {
    font-size: 14px;
    line-height: 18px;
}
