@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

%active-date {
    background: #ff7a00;
    box-shadow: 0px 4px 8px rgba(255, 122, 0, 0.2);
    border-radius: 17px;
    color: #ffffff;
    border-width: 0px;
    transition: all 0.4s;

    &::selection {
        border: 0px solid #ffffff;
        outline: 0px solid #ffffff;
    }

    &:focus {
        border: 0px solid #ffffff;
        outline: 0px solid #ffffff;
    }
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin-right: 4px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    width: 34px;
    height: 34px;
    padding-top: 8px;
    color: #333333;
    border-radius: 17px;
    transition: all 0.4s;

    &:last-of-type {
        margin-right: 0px !important;
    }

    // &:hover {
    //     @extend %active-date;
    // }

    &:focus {
        @extend %active-date;
    }
}

.react-datepicker__day-name {
    font-size: 12px;
    color: #868a92;
}

.react-datepicker__day {
    &:hover {
        @extend %active-date;
    }
}

.react-datepicker__header {
    // color: #868a92 !important;
    border-bottom: 0px !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
    height: 18px;
    color: #333333;
}

.react-datepicker {
    filter: drop-shadow(0px 16px 64px rgba(0, 0, 0, 0.05));
    border: 0px solid #aeaeae !important;
    width: 288px;
}

.react-datepicker__month {
    margin: 4px 16px 16px 16px !important;
}

.react-datepicker__month-container {
    float: none !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    @extend %active-date;

    &:hover {
        @extend %active-date;
    }

    &::selection {
        border: 0px solid #ffffff !important;
    }
}

.react-datepicker__header {
    background: #ffffff;
    padding-top: 24px;
}
.react-datepicker__navigation {
    margin-top: 16px;
}

.react-datepicker__navigation--previous {
    left: 28px;
}

.react-datepicker__navigation--next {
    right: 28px;
}

.react-datepicker__day-names,
.react-datepicker__week {
    margin-top: 4px;
}

.react-datepicker__month {
    margin: 16px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0px;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    @extend %active-date;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
    color: #c0cdd5 !important;

    &:hover {
        background: #ffffff !important;
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2) !important;
        border-radius: 0px !important;
        color: #c0cdd5 !important;
    }
}
.react-datepicker-popper {
    margin-left: -13px;
}

.react-datepicker__day--selected {
    color: #ffffff;
}

.react-datepicker__day--keyboard-selected {
    color: #ffffff;
}

@media (max-width: 600px) {
    .react-datepicker-popper[data-placement^="bottom"] {
        margin-top: -13px !important;
    }
}
