.monitor {
    // min-width: 1400px;
    // min-height: 100%;
    // padding-bottom: 195px;
}

.boxShadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.headerMonitor {
    height: 68px;
    border-bottom: 1px solid #494f58;
    display: flex;
}

.childHeaderMonitor {
    display: flex;
    width: 100%;
    margin-left: 32px !important;
    margin-right: 32px;

    img {
        cursor: pointer;
    }
}

.classFullSc {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 32px;
}

.smallText {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #838e95;
    margin-left: 8px;
}

.footerRight {
    flex-direction: row;
    display: flex;
    align-items: center;

    select {
        width: 53px !important;
        height: 27px !important;
        background-color: #e0e5e8;
        background: #ffffff;
        border-radius: 0px;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;

        cursor: pointer;

        *:before,
        *:after {
            box-sizing: unset !important;
        }
    }
}

.lightMonitorLabel {
    background-color: #15315d !important;
}

.cardMonitorLabel {
    display: flex;
    border-radius: 4px 4px 0px 0px;
    margin-top: 13px;
}

.cardMonitorBoxShadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.borderCardMonitorLabel {
    border-bottom: 2px solid #e0e5e8;
}

.cardMonitor {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.cardChild {
    border-left: 8px solid #408aff;
    border-radius: 6px 4px 4px 6px;
}

.cardChildLight {
    border-right: 1px solid #e0e5e8 !important;
    border-top: 1px solid #e0e5e8 !important;
    border-bottom: 1px solid #e0e5e8 !important;
    box-sizing: border-box;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}

.fontTextWeight {
    font-weight: 800;
    font-size: 20px;
    font-family: Nunito Sans;
    letter-spacing: 0.3px;
}

.fontTextSemiBold {
    font-weight: 600;
    font-size: 20px;
    font-family: Nunito Sans;
    letter-spacing: 0.3px;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 4.5px;
    margin-right: 8px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;

    .rowChild {
        display: flex;
        width: 300px;
        margin-right: 20px;
        justify-content: space-between;
    }

    .anticon {
        cursor: pointer;
    }
}

.column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lineHeight {
    height: 22px;
    border-left: 1px solid #494f58;
}

.fontTextNormal {
    font-weight: 600;
    font-size: 16px;
    font-family: Nunito Sans;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.wizardProgress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    white-space: nowrap;
    margin-right: 15px;

    li {
        float: left;
        margin-right: 68px;
        text-align: center;
        position: relative;
        width: 70px;
    }
}

.stepName {
    display: table-cell;
    height: 24px;
    text-align: center;
    width: 100px;
    font-weight: 600;
    font-size: 14px;
    color: #e8eef2;
    padding-left: 0px;
}
.stepNameWrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}
.completed {
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #00af52;
    border-radius: 50%;
    width: 23px;
    display: inline-block;
    margin-top: 10px;
    background-color: #97cd51;
    color: #97cd51;
}
.completed:after {
    content: "";
    display: block;
    height: 5px;
    width: 98px;
    position: absolute;
    bottom: 48px;
    left: 47px;
    background-color: #01af50;
    color: #97cd51;
}

li:last-of-type .completed:after {
    display: none;
}
.inprocess {
    font-size: 14px;
    font-weight: bold;
    border: 3px solid #f9c20b;
    border-radius: 50%;
    width: 23px;
    display: inline-block;
    margin-top: 10px;
    background-color: #fefe04;
    color: #fefe04;
}

.inprocess:after {
    content: "";
    display: block;
    background: #8c8d87;
    height: 5px;
    position: absolute;
    bottom: 42px;
    left: 47px;
}
li:last-of-type .inprocess:after {
    display: none;
}
.pending {
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-bottom: 1px;
    background-color: #f1f1f1;
    color: #f1f1f1;
}
.pending:after {
    content: "";
    display: block;
    height: 5px;
    width: 116px;
    position: absolute;
    bottom: 40px;
    left: 47px;
    color: #f1f1f1;
}
.pending1:after {
    background-color: #2256a7;
}

.pending2:after {
    background-color: #434b57;
}

.pending2-light:after {
    background-color: #e0e5e8;
}

.pending2-dark:after {
    background-color: #434b57;
}

li:last-of-type .pending:after {
    display: none;
}

.stepName {
    display: 10px;
    padding: 0px !important;
    margin: 0px !important;
}
.stepNameWrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}
.pending1:after {
    background-color: #2256a7;
}
.pending2Light:after {
    background-color: #e0e5e8;
}
.pending2Dark:after {
    background-color: #434b57;
}
.uppercase {
    text-transform: uppercase;
}
.antStepsItemContent {
    top: 0px !important;
    position: absolute !important;
}

.animationChangeColor {
    -webkit-animation: mover 0.2s 1 alternate;
    animation: mover 0.2s 1 alternate;
}

.antPaginationItem {
    margin-right: 2px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-color: #838e95;

    a {
        font-size: 16px;
        color: #838e95;
        font-family: Nunito Sans;
    }
}

.antPaginationItem:hover {
    background-color: #408aff !important;
    border: none;

    a {
        color: #ffffff !important;
    }
}

.antPaginationItemActive {
    background-color: #408aff !important;
    border: none;

    a {
        color: #ffffff !important;
    }
}

.textDes {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes mover {
    0% {
        transform: translateY(-2);
    }

    100% {
        transform: translateY(20px);
    }
}
