.address {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.title {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}

.modalFooter {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e0e5e8;
	margin-left: -20px;
	margin-right: -20px;
	padding-right: 26px;
	padding-left: 26px;
	padding-top: 16px;
}

.price {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	color: #002985;
}
