$lightblue:#edf1f8;
$lightblue1: #EBF1FA;
$darkblue:#002985;
$darkgrey:#333333;
$mainblue:#004DFF;
$whitef3:#F3F3F3;
$whitef2:#FFFFFF;
$whitef4:#F4F4F4;
$whitef9:#F9F9F9;
$primary:#0045FF;
$checkblue: #005EEB;
$secondary: #2065EC;
$lightgrey:#E0E5E8;
$lightgrey2: #ECECEC;
$grey1:#868A92;
$white: #FFFFFF;
$transparent: rgba(255, 255, 255, 0);
$required: #d94545;
$whiteda: #DADADA;
$remove: #EA4B4B;
$lightgreen: #0DC99C;
$whited3: #D3D3D3;
$transparentBlue: rgba(0, 69, 255, 0.1);
$warning: #FF9F31;
$lightblue2: #EDF1F8;
$grey70: #707070;
$whitee7: #DCE2E7;