@import '../../../scss/btn/sweepToRight.scss';

.flexContent {
	display: flex;
	// flex-wrap: nowrap;
	flex-direction: row;
}

.content {
	max-width: 1336px;
	margin: 0 auto 0 auto;
	display: flex;
	align-items: center;
}

.left {
	width: 800px;
	border-right: 1px solid #e0e5e8;
}

.grid {
	display: flex;
	margin-bottom: 32px;
	flex-wrap: nowrap;

	.gridItem {
		width: 100%;
		margin-right: 24px;
	}
}

.right {
	width: 360px;
	padding-left: 24px;
}

.boxSaldo {
	position: relative;
	min-width: 336px;
	height: 117px;
	background: linear-gradient(75.31deg, #0fb97b 0%, #24a8f4 100%);
	box-shadow: 0px 16px 32px -8px rgba(28, 175, 197, 0.25);
	border-radius: 10px;
}

.img {
	position: absolute;
	top: 20px;
}

.innerBoxText {
	padding: 32px 20px;
	font-family: Nunito Sans;
	font-style: normal;
	color: #ffffff;
}

.line {
	height: 830px;
	width: 0;
	border: 1px solid #e0e5e8;
}
.boxPayLater {
	position: relative;
	min-width: 336px;
	height: 117px;
	background: linear-gradient(75.31deg, #4f0fb9 0%, #9924f4 100%);
	box-shadow: 0px 16px 32px -8px rgba(91, 18, 195, 0.25);
	border-radius: 10px;
}

.tagihanItem {
	padding-top: 50px;
	width: auto;
	height: 140px;
	text-align: center;
	background: #ffffff;
	border-radius: 10px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #868a92;
}

.tagihanItem:hover {
	color: #ffffff;
	background: #004dff;
	box-shadow: 0px 16px 32px -8px rgba(0, 71, 252, 0.25);
	cursor: pointer;
}

.btnCari {
	@extend %sweep-to-right;
	width: 140px;
	height: 48px;
	background: #ffffff;
	border: none;
	border-radius: 5px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #002985;
}

.selectLayanan {
	display: flex;
	width: 186px;
	height: 52px;
	top: 0px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
}

// .selectLayanan:hover,
// .btnCari:hover {
// 	box-shadow: 0px 2px 4px rgba(0, 94, 235, 0.3);
// 	cursor: pointer;
// }

.btnCari::before {
	background: #f2f2f2;
}

.inputText {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin: 12px 10px;
	line-height: 24px;
}

.topUpInput {
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	height: 48px;
	width: 100%;
	display: flex;
	border-color: #e0e5e8;
	align-items: center;
	flex-direction: row;

	.inputNominal {
		background: #ffffff;
		width: 100%;
		border: none;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		margin-top: 0px !important;
		color: #333333;
		padding-left: 32px;
	}

	.btnTopUp {
		@extend %sweep-to-right;
		width: 98px;
		height: 38px;
		background: #004dff;
		box-shadow: 0px 2px 4px rgba(0, 94, 235, 0.3);
		border-radius: 4px;
		border-width: 0px;
		margin-right: 8px;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		margin-left: auto;
	}

	.btnTopUp:before {
		background-color: #0a3eb8;
	}
}

.pembayaranContainer {
	display: block;
	margin-top: 76px;
	padding: 20px 10px;
	width: auto;
	margin-right: 24px;
	background: #ffffff;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
}
.flexItem {
	display: flex;
}
.navItem {
	display: block;
	box-sizing: border-box;
	height: 32px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 30px;
}

.navItem div {
	color: #333333;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	height: 100%;
	font-size: 18px;
	line-height: 32px;
	text-decoration: none;
	box-sizing: border-box;
	display: block;
}

.navItem div:hover {
	cursor: pointer;
}

.navItem div.active {
	border-bottom: 2px solid #004dff;
	border-radius: 2px;
}

.itemWrapper {
	margin-top: 24px;
	display: flex;
	flex-flow: column;
	width: 100%;
	left: 16px;
	top: 421px;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 8px;
}

.item1 {
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

.item {
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.item button {
	@extend %sweep-to-right;
	width: 192px;
	height: 48px;
	background: #004dff;
	border-radius: 5px;
	border: none;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}

.item button:before {
	background-color: #0a3eb8;
}

.metode {
	width: 264px;
	height: 641px;
	padding: 20px;
	padding-top: 32px;
	margin-right: 24px;
	background: #ffffff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
}

.rincian {
	font-family: Nunito Sans;
	font-style: normal;
	color: #000000;
	width: 552px;
	height: 643px;
	padding: 32px 24px 32px 24px;
	margin-right: 24px;
	background: #ffffff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
}

.rincian h4 {
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -0.3px;
}

.inputKodePromo {
	width: 364px;
	height: 48px;
	padding: 19px;
	margin-right: 12.5px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;

	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #707070;
}

.btnGunakan {
	width: 119px;
	height: 48px;
	background: #dadada;
	border-radius: 5px;
	border: none;

	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}

.btnGunakan:hover {
	cursor: pointer;
}

.metode h3 {
	margin-bottom: 24px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -0.3px;
	color: #000000;
}

.btnTransfer {
	display: flex;
	flex-direction: row;
	padding: 16px;
	width: 216px;
	height: 68px;
	background: #002985;
	border-radius: 8px;
}

.btnTransfer h5 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	margin-top: 4px;
	font-size: 20px;
	line-height: 27px;
	color: #ffffff;
}

.btnTransfer:hover {
	opacity: 0.9;
}

.btnMetodeBayar {
	display: flex;
	flex-direction: row;
	padding: 16px;
	padding-right: 0;
	width: 216px;
	height: 68px;
	background: #ffffff;
	border: 1px solid #dadada;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 20px auto;
}

.btnMetodeBayar h5 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	margin-top: 4px;
	font-size: 20px;
	line-height: 27px;
	color: #333333;
}

.btnMetodeBayar:hover,
.btnTransfer:hover {
	cursor: pointer;
}

.header {
	height: 107px;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 34px;
	padding-bottom: 40px;
	box-sizing: border-box;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
}

.logo {
	text-align: center;
	padding-left: 208px;
}

.title {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 48px;
}

.detail {
	font-family: Nunito Sans;
	font-style: normal;
	height: 259px;
	left: 1020px;
	top: 237px;
	background: #ffffff;
	border-radius: 8px;
}

.col6 {
	width: 50%;
}

.detailHeader {
	text-align: center;
	padding: 30px 25px;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #0045ff;
	height: 79px;
	background: #fafafa;
	border-radius: 8px 8px 0px 0px;
}

.btnBayar {
	@extend %sweep-to-right;
	height: 64px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	background: #004dff;
	border: none;
	margin-top: 32px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
}

.btnBayar:before {
	background-color: #0a3eb8;
}

.col3 {
	width: 25%;
}

.col4 {
	width: 33.33333%;
}

.caraPembayaran {
	font-family: Nunito Sans;
	font-style: normal;
	height: 92px;
	padding: 32px;
	left: 0px;
	top: 437px;
	background: #ffffff;
	border-radius: 8px;
}
