@import "./responsive.module.scss";

%content {
    max-width: 1128px;
    width: 100%;
    margin: 0px auto 0px auto;
}

.content {
    padding-top: 72px;
}

.containerTop {
    background-image: url("../../images/png/triangleImg.png");
    // background-color: red;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 712px;
    background-position: left center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.layout {
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
    height: 100%;
}

.wpSelectRoundBig {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.wpTop {
    max-width: 1128px;
    width: 100%;
    height: 100%;
}

.textLayanan {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.cardCenter {
    @extend %content;
    display: flex;
    align-items: center;
    flex-direction: column;

    .titleCard {
        font-weight: 800;
        font-size: 32px;
        line-height: 44px;
    }

    .wpImg {
        width: 100%;
        display: flex;
        margin-top: 46px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .imgWpImg {
        padding: 12px 16px 12px 16px;
    }
}

.cardCenterChild {
    @extend %content;
    flex-wrap: wrap;

    background-color: #ffffff;
    margin-top: 127px;
    // height: 135px;
    padding: 24px 0px 24px 0px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 744px;
    width: 100%;
    // height: 135px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 17px;
}

.textXlCard {
    line-height: 45px;
    color: #333333;
    text-shadow: 0px 0px 15.6997px #ffffff;
    font-weight: 800;
    font-size: 33px;
}

.textSCard {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    text-shadow: 0px 0px 23.7321px #ffffff;
}

.centerCard {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.whyUseLogol {
    @extend %content;
    margin-top: 233px;
    width: 100%;
    max-width: 1128px;
    border-radius: 20px;
    padding-top: 75px;
    position: relative;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);

    .wpListImg {
        flex-wrap: wrap;
        margin-top: 56px;
        overflow: auto;
        // height: 400px;
        display: flex;
        justify-content: center;
        // align-items: center;
    }

    .itemCard {
        width: 100%;
        max-width: 450px;
        display: flex;

        img {
            margin-right: 24px;
            align-self: flex-start;
        }

        &:nth-of-type(2) {
            margin-left: 59px;
        }

        &:nth-of-type(3) {
            margin-top: 48px;
        }

        &:nth-of-type(4) {
            margin-left: 59px;
            margin-top: 48px;
        }
    }

    .giftClass {
        width: 192px;
        height: 192px;
        border-radius: 192px/2;
        background: #f2f6ff;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
        border-radius: 112px;
        justify-content: center;
        align-items: center;
        display: flex;
        right: 30px;
        top: -57px;
        align-self: flex-end;
        float: right;
        position: absolute;
    }

    .childItemCard {
        width: 100%;
    }

    .titleInCard {
        font-weight: bold;
        font-size: 28px;
        line-height: 26px;
    }

    .subTitleInCard {
        margin-top: 16px;
        font-size: 15px;
        line-height: 21px;
        color: #868a92;
    }

    .title {
        margin-left: 112px;
    }

    .subTitle {
        margin-left: 112px;
    }
}

.btnYellow {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 258px;
    align-self: center !important;
    height: 64px;
}

.wpBtnYellow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/ourService/bgWhyUseLogol.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
    width: 100%;
    height: 291px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    line-height: 52px;
}

.subTitle {
    font-size: 16px;
    line-height: 24px;
    color: #868a92;
}

.contentDecText {
    @extend %content;
    display: flex;
    align-items: center;
    margin-bottom: 397px;
    margin: 112px auto 240px auto;
    min-height: 504px;
    background-repeat: no-repeat !important;
    background-position: right;

    .title {
        margin-bottom: 32px;
    }

    .textDecText {
        max-width: 552px;
        right: 408px;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        font-size: 18px;
        line-height: 32px;
        padding: 39px;
        font-style: normal;
        font-weight: normal;
    }
}

.imgSelect {
    width: 744px;
    height: 504px;
}
