@media only screen and (max-width: 1128px) {
    .contentBg3 {
        padding: 64px 32px 64px 32px;
    }

    .itemCard {
        margin-top: 48px !important;

        &:nth-of-type(2) {
            margin-left: 0px !important;
        }
        &:nth-of-type(4) {
            margin-left: 0px !important;
        }
    }

    .title {
        font-size: 20px !important;
        line-height: 34px !important;
    }

    .whyUseLogol {
        padding: 16px;
    }

    .content {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .layout {
        min-height: 88px !important;
    }

    .itemCard {
        flex-direction: column;
        text-align: center;

        img {
            align-self: center !important;
            margin-bottom: 24px;
            margin-right: 0px !important;
        }
    }

    .wpImg {
        display: block !important;
        .imgWpImg {
            display: flex;
            margin-top: 56px;
            justify-content: center;
        }
    }

    .whyUseLogol {
        flex-direction: column;
        align-items: center !important;
        display: flex;
        margin-top: 116px !important;

        .title {
            margin-left: 0px !important;
        }

        .subTitle {
            margin-left: 0px !important;
        }
    }

    .giftClass {
        top: -50px !important;
        width: 104px !important;
        height: 104px !important;
        border-radius: 104px/2 !important;
        right: 16px !important;
    }

    .textDecText {
        font-size: 14px !important;
        line-height: 24px !important;
    }

    .rsContentDecText {
        max-width: 100%;
        margin: 32px 0px 64px 0px;
    }

    .rsImgCd {
        max-width: 100%;
        // max-height: 184px;
    }

    .textDecText {
        font-size: 14px;
        line-height: 24px;
        color: #868a92;
        padding: 24px 16px 24px 16px;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }

    .content {
        padding-top: 32px !important;
    }
}
