.container {
	display: block;
	position: relative;
	padding-left: 22px;
	margin-bottom: 12px;
	cursor: pointer;
	// font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 16px;
	width: 16px;
	// background-color: #eee;
	border: 1px solid #004dff;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	// background-color: #ccc;
	border: 2px solid #004dff;
	opacity: 1;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	border: 5px solid #004dff;
	opacity: 1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
// .checkmark:after {
// 	border: 2px solid #004dff;
// 	opacity: 1;
// }

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	top: -2px;
	left: -2px;
	border: 1px solid #004dff;
	transition: opacity 0.3s, border 0.1s, box-shadow.3s;
	opacity: 0;
	border-radius: 50%;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	width: 7px;
	height: 7px;
	background: white;
}

.radioBox {
	padding-left: 35px;
	cursor: pointer;
	padding: 19px 24px 19px 24px;
	width: 100%;
	margin-bottom: 16px;
	height: 59px;
	border: 1px solid #dadada;
	// border: 1px solid #0045ff;
	box-sizing: border-box;
	border-radius: 8px;
}

.radioActive {
	border: 1px solid #0045ff;
}
