@import "./responsive.module.scss";

.layoutHC {
    display: flex;
}

.contentHC {
    display: flex;
    height: 100%;
    min-height: 903px;
    padding: 0px;
}

.right {
    width: 100%;
    background: #fafcff;
    min-height: 100%;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
}

.subTitleHC {
    margin: 16px 0px 40px 0px;
}

.wpTitle {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px auto 0px auto;
    max-width: 1128px;
}

.bgRight {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}

.btnRes {
    margin-top: 64px;
}

.bgRight:nth-child(3) {
    background-image: url(../../images/helpCenter/bgRight1.png);
    background-position: right bottom;
}

.bgRight:nth-child(4) {
    background-image: url(../../images/helpCenter/bgRight2.png);
    background-position: left bottom;
}

.bgRight:nth-child(5) {
    background-image: url(../../images/helpCenter/bgRight3.png);
    background-position: top right;
}

.left {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 24px 0px 24px;
}

.itemCardInfo1 {
    margin-top: 196px;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}
.itemCardInfo2 {
    margin-top: 32px;
}

%wpContent {
    max-width: 564px;
    padding-right: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wpContentLeft {
    @extend %wpContent;
    padding-top: 64px;
}

.wpContentRight {
    @extend %wpContent;
    align-items: flex-end;
    z-index: 5;
    // justify-content: flex-end;
}

// 1128
