@media only screen and (max-width: 900px) {
    .left {
        max-width: 100% !important;
    }
    .btnRes {
        max-width: 100% !important;
        margin-top: 32px !important;
    }

    .itemCardInfo1 {
        margin-top: 72px !important;
    }

    .itemCardInfo2 {
        margin-top: 24px !important;
        margin-bottom: 54px;
    }

    .wpTitle {
        padding-left: 24px;
    }
}

@media only screen and (max-width: 600px) {
}
