@import '../../../variables/colors.module.scss';
@import '../../mixins/global.module.scss';

.freightListContainer {
    margin-top: 23px;

    .header {
        display: flex;
    }

    .title {
        flex: 1;
    }

    .breadcrumb {
        display: flex;
        align-items: center;
        margin-top: 8px;

        .label {
            color: $grey1 !important;
            margin-right: 8px;

            &:last-child {
                margin-left: 8px;
            }
        }
    }

    .newOrderButton {
        border: none;
        background: $white;
        display: flex;
        align-items: center;
        border: 1px solid $lightgrey;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
        border-radius: 8px;
        padding: 16px 30px;
        width: 291px;

        .buttonLabel {
            flex: 1;
            text-align: left;
        }
    }

    .resultTable {
        @include card-wrapper;

        .tabContainer {
            display: flex;

            .tabItem {
                padding: 5px 10px;
                padding-bottom: 24px;
                cursor: pointer;
                position: relative;

                &.active:after,
                &:hover:after {
                    display: block;
                }

                &:after {
                    display: none;
                    content: '';
                    width: 32px;
                    height: 4px;
                    background: $primary;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }

        .toolbar {
            margin-top: 24px;
            display: flex;
            justify-content: space-between;

            .searchBox {
                width: 372px;
                display: flex;
                border-bottom: 1px solid $whitee7;
                padding: 15px;

                input {
                    border: none;
                    outline: none;
                    width: 100%;
                }
            }

            .resultCount {
                display: flex;

            }
        }
    }
}

.freightListItemContainer{
    margin-top: 30px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E0E5E8;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;

    .tableWrapper {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 27px;
        padding-bottom: 27px;
    }

    table {
        border-collapse: collapse;
        width: 100%;

        thead {
            tr {
                font-family: Nunito Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                color: #333333;
            }
        }

        tbody::before {
            content: '';
            display: block;
            height: 20px;
            // background-color: red;
        }

        tbody {
            tr {
                font-family: Nunito Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #333333;
            }
        }

        .noPesanan {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #0045FF;
        }

        .bolWrapper{
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 2px;
            padding-bottom: 2px;
            background: #FFF4E6;
            border-radius: 5px;
            height: 22px;
            top: 2px;
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 18px;
            color: #FE9301;
        }

        .estimateText {
            font-size: 10px;
        }

        .ruteWrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            
            .iconRute {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    .alertBanner {
        width: 100%;
        background-color: #F9F9F9;;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        height: 48px;
        padding-right: 24px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        display: flex;

        .shapeWrapper {
            display: flex;
            flex-direction: row;
        }

        .shape {
            width: 8px;
            height: 48px;
            background: #FF9D3B;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            margin-right: 24px;
        }

        text {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: #FF9D3B;
        }

        button {
            height: 32px;
            background: #FF9D3B;
            border-radius: 5px;
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            border: 0px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }

}