.cardItem {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardTitle {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #0a2131;
}

.cardSubtitle {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #707070;
}

.arrowImg {
  display: flex;
  text-align: center;
  align-items: center;
}

.arrowImg:hover {
  cursor: pointer;
}
