@import "../../variables/colors.module.scss";

.checkBoxS {
  display: flex;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
  // width: 16px;
  // height: 16px;
}

.checkBoxM {
  display: flex;
  align-items: center;
  margin: 0px !important;
  padding: 0px !important;
}
// .checkBox {
// width: 16px;
// height: 16px;
//   border: 1px solid $grey1;
//   border-radius: 2px;
//   display: flex;
//   justify-content: center;
//   align-items: center;

.checkBoxModule {
  cursor: pointer !important;

  input[type="checkbox"] {
    visibility: hidden;
    margin-right: 0px !important;
    width: 100px;
    height: 100px;

    &:checked {
      & + .checkBox {
        background: $checkblue;
        border: 1px solid $checkblue;
      }
    }
  }
}

// }
