.roundedOne {
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 14px;
}

.label {
	width: 20px;
	height: 20px;
	border: 2px solid #868a92;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: -1px;

	&:after {
		content: '';
		width: 20px;
		height: 20px;
		position: absolute;
		top: -2px;
		left: -2px;
		border: 1px solid #004dff;
		transition: opacity 0.3s, border 0.1s, box-shadow.3s;
		opacity: 0;
		border-radius: 50px;
	}

	&:hover::after {
		border: 2px solid #004dff;
		opacity: 1;
	}
}

.inputCheckBox[type='checkbox'] {
	visibility: hidden;

	&:checked + .label:after {
		border: 7px solid #004dff;
		opacity: 1;
	}
}
