.buktiForm {
	width: 648px;
	height: 364px;
	background: #ffffff;
	border-radius: 8px;
	padding: 32px 40px 32px 40px;
}

.date {
	width: 158px;
	height: 52px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 14px;
}

.dateInput {
	border: none;
	width: 98%;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.btnUpload {
	float: left;
	width: 343px;
	height: 52px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Nunito Sans;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	border-radius: 5px;
	align-items: center;
}

.btnUpload input {
	opacity: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	width: 168px;
	position: absolute;
	cursor: pointer;
}

.btnUpload:hover,
.btnUpload input:hover {
	cursor: pointer;
}
