.body {
	width: 500px;
	height: 256px;
	background: #ffffff;
	box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 40px;
}

.footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}
