.verticalSplitSlider {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.viewLeft {
    transition: top 0.6s ease-in;

    width: 50%;
    position: absolute;
    height: 100%;
    left: 0px;
    touch-action: none;
}

.viewRight {
    transition: top 0.6s ease-in;

    width: 50%;
    position: absolute;
    height: 100%;
    right: 1px;
    top: -0px;
    touch-action: none;
}

.item {
    height: 100%;
}

.test {
    background: red;
}