.breadcrumb {
	.title {
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 34px;
	}

	.wrapper-text {
		margin-top: 8px;
		display: flex;
		align-items: center;

		.text {
			font-size: 12px;
			line-height: 18px;
			color: #868a92;
			margin-right: 8px;
			text-transform: capitalize !important;
		}

		.text:hover {
			color: blue;
			cursor: pointer;
		}

		svg {
			margin-right: 8px;
		}
	}
}

.select {
	display: flex;
	align-items: center;
	height: 27px;

	.text {
		font-size: 12px;
		line-height: 18px;
		color: #838e95;
	}

	select {
		margin-left: 8px;
	}

	.right {
		margin-left: 8px;
	}

	.select-dashboard {
		background: #ffffff;
		border: 1px solid #e0e5e8 !important;
		box-sizing: border-box;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		text-align: center;
		color: #000000;
		cursor: pointer;
		width: 53px;
		height: 27px;
		border-radius: 0px !important;
		position: relative;
		/*Don't really need this just for demo styling*/

		float: left;
	}

	.select-dashboard::after {
		content: 'asdfas';
		font: normal normal normal 17px/1 FontAwesome;
		color: #0ebeff;
		right: 11px;
		top: 6px;
		height: 34px;
		padding: 15px 0px 0px 8px;
		border-left: 1px solid #0ebeff;
		position: absolute;
		pointer-events: none;
	}

	.select-dashboard::selection {
		border: 1px solid #e0e5e8 !important;
	}
}

.search {
	border-bottom: 1px solid #dce2e7;
	max-width: 372px;
	width: 100%;
	height: 44px;
	display: flex;
	align-items: center;

	input {
		width: 100%;
		border-width: 0px;
		background: #ffffff;
	}

	svg {
		margin-right: 16px;
	}
}

.select-tab {
	display: flex;

	.tab {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: #868a92;
		margin-left: 24px;
		padding-bottom: 24px;
		cursor: pointer;

		&:hover {
			color: #333333;
		}

		&:first-of-type {
			margin-left: 0px;
		}
	}

	.tab-active {
		color: #333333;
		border-bottom: 4px solid #004dff;
	}
}

.btn-dsb-right {
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 30px 16px 30px;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	height: 64px;
	width: 291px;
	cursor: pointer;

	svg {
		fill: #004dff;
	}
}

.dashboard {
	// height: 100%;
	display: flex;
	background-color: #fafafa;
	color: #333333;

	min-height: 984px !important;

	.wrepper-menu {
		width: 108px;
		height: 100%;

		%active {
			background-color: #fafafa;
			border-right: 4px solid #004dff;
			transition: all 0.5s;

			.text-name {
				color: #002985;
				transition: all 0.5s;
			}

			svg {
				fill: #002985;
				transition: all 0.5s;

				path {
					fill: #002985;
				}
			}

			.btn-add {
				background-color: #002985;

				svg {
					fill: #ffffff;

					path {
						fill: #ffffff;
					}
				}
			}
		}

		.active-menu {
			width: 342px !important;
			height: 100% !important;
			z-index: 2 !important;

			.item-menu {
				justify-content: flex-start !important;
				padding: 14px 32px 14px 32px !important;
			}

			.text-name {
				display: block !important;
				opacity: 1 !important;
				-webkit-animation: fadein 1.4s;
				/* Safari, Chrome and Opera > 12.1 */
				-moz-animation: fadein 1.4s;
				/* Firefox < 16 */
				-ms-animation: fadein 1.4s;
				/* Internet Explorer */
				-o-animation: fadein 1.4s;
				/* Opera < 12.1 */
				animation: fadein 1.4s;
			}

			.button-menu::before {
				content: '';
				background-repeat: no-repeat;
				background-image: url('../assets/images/dashboard/logol.png');
				background-position: 32px;
				width: 100%;
				height: 50px;
			}

			.button-menu {
				width: 100%;

				.icon {
					content: url('../assets/images/dashboard/menu-icon-right.png');
				}
			}

			#menu-icon {
				.button-menu::after {
					content: url('../assets/images/dashboard/menu-icon-right.png');
				}
			}

			.item-menu-child::after {
				content: '';
				width: 12px;
				height: 12px;
				background-repeat: no-repeat;
				margin-right: 36px;
				right: 0px;
				position: absolute;
				background-image: url('../assets//images/icons/arrow-down.png');
				transform: rotate(-90deg);
				transition: transform 0.3s;
			}

			.rotate-icon::after {
				background-image: url('../assets//images/icons/arrow-down.png') !important;
				transform: rotate(0deg) !important;
			}

			.block {
				visibility: visible;
			}

			.none {
				visibility: hidden;
			}

			.item-menu-child::after:hover {
				// display: none;
				// transform: rotate(0deg);
			}

			.item-child {
				padding-left: 68px !important;
			}

			.item-sub-child {
				padding-left: 88px !important;
			}

			@keyframes fadein {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}

			/* Firefox < 16 */
			@-moz-keyframes fadein {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}

			/* Safari, Chrome and Opera > 12.1 */
			@-webkit-keyframes fadein {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}

			/* Internet Explorer */
			@-ms-keyframes fadein {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}

			/* Opera < 12.1 */
			@-o-keyframes fadein {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}
		}

		.menu {
			-webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0, 1) 0s;
			transition: all 0.7s cubic-bezier(0.2, 0, 0, 1) 0s;
			height: 100%;
			top: 0px;
			width: 108px;
			position: absolute;
			z-index: 1;
			background-color: #ffffff;
			box-shadow: 12px 0px 24px rgba(0, 0, 0, 0.05);
			min-height: 984px !important;
			.btn-add {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #ffffff;
				width: 44px;
				height: 44px;
				border-radius: 22px;
			}

			.item-menu {
				height: 72px;
				align-items: center;
				display: flex;
				justify-content: center;
				cursor: pointer;

				svg {
					fill: #868a92;
				}

				&:hover {
					@extend %active;
				}
			}

			// &:hover {
			//     @extend %active-menu;
			// }

			.item-menu-child {
				border-right: 0px !important;
			}

			.text-name {
				display: none;
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
				margin-left: 24px;
				color: #868a92;
				opacity: 0;
			}

			.item-button {
				height: 113px;
				width: 100%;

				// menu-icon
				.button-menu {
					margin-bottom: 8px;
					height: 113px;
					align-items: center;
					display: flex;
					justify-content: center;
					border-bottom: 1px solid #868a92;

					.icon {
						content: url('../assets/images/dashboard/menu-icon-left.png');
					}
				}
			}

			.item-menu-active {
				@extend %active;
			}

			.item-button:hover {
				background-color: transparent;
				border-right: 0px;
			}
		}
	}

	.container {
		width: 100%;
		height: 100%;
		padding: 48px 33px 78px 33px;

		.header-dashboard {
			display: flex;
			justify-content: space-between;
			background-color: transparent;

			.left {
				display: flex;
				align-items: center;

				.text-calendar {
					font-weight: bold;
					font-size: 12px;
					line-height: 18px;
					color: #868a92;
					margin-left: 12.15px;
				}
			}

			.right {
				align-items: center;
				display: flex;
				height: 40px;

				.wrepper-icon {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding-right: 26px;
					border-right: 1px solid #868a92;
				}

				.drop-down-column {
					margin-left: 24px;
				}

				.drop-down-column:hover .item-drop-down-lang {
					display: flex;
				}

				.drop-down-lang {
					cursor: pointer;
					// width: 65px;
					height: 32px;
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 4px 10px 4px 5px;
				}

				.item-drop-down-lang {
					// display: none;
					cursor: pointer;
					// width: 65px;
					height: 32px;
					display: none;
					position: absolute;
					background-color: white;
					flex-direction: row;
					align-items: center;
					padding: 4px 5px 4px 5px;
					background: #ffffff;
					top: 9%;
					box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2);
					border-radius: 5px;
				}

				.countryText {
					font-family: Nunito Sans;
					font-style: normal;
					font-weight: bold;
					font-size: 10px;
					line-height: 12px;
					margin-left: 8px;
					margin-right: 8px;
					color: #868a92;
				}

				.rounded-personal {
					margin-left: 24px;
					height: 40px;
					width: 40px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #868a92;

					svg {
						margin-left: 0px;
					}
				}
			}

			svg {
				cursor: pointer;
				margin-left: 24px;
			}
		}

		.content {
			padding: 64px 0px 0px 0px;

			.top-content {
				display: flex;
				justify-content: space-between;

				.title-home {
					font-weight: normal;
					font-size: 28px;
					line-height: 34px;
					font-weight: 700;
				}

				.title {
					margin-top: 8px;
					font-family: Nunito Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
				}

				.text {
					font-size: 16px;
					line-height: 24px;
				}

				.card-type-customer {
					align-items: center;
					width: 340px;
					height: 38px;
					background: #ffffff;
					border: 1px solid #e0e5e8;
					box-sizing: border-box;
					border-radius: 100px;
					display: flex;
					flex-direction: row;
					padding: 5px 6px;

					.item-type-customer {
						cursor: pointer;
						font-family: Nunito Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 18px;
						flex: 1;
						justify-content: center;
						align-items: center;
						display: flex;
						color: #333333;
					}

					.item-active {
						background: #002985;
						border-radius: 100px;
						color: #ffffff;
						height: 28px;
					}
				}
			}

			.list-card {
				flex: 1;
				grid: auto auto auto auto;
				display: grid;
				grid-column-gap: 24px;
				display: flex;
				margin-top: 64px;

				.flex {
					display: flex;
					position: absolute;
					justify-content: space-between;
					width: 100%;
					padding: 32px;
				}

				.card-calculation {
					min-width: 291px;
					width: 100%;
					// height: 100%;
					height: 149px !important;
					height: 149px !important;
					padding-top: 6%;
					padding-bottom: 6%;

					border-radius: 10px;
					color: #ffffff;
					display: flex;
					justify-content: center;
					flex-direction: column;
					position: relative;

					.btn-card-go {
						width: 62px;
						height: 26px;
						border: 2px solid #ffffff;
						box-sizing: border-box;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: 800;
						font-size: 12px;
						line-height: 18px;
						color: #ffffff;
						cursor: pointer;
					}

					.wrepper-text {
						.number {
							font-family: Nunito Sans;
							font-style: normal;
							font-weight: 800;
							font-size: 36px;
							line-height: 52px;
							color: #002985;
						}

						.text-card {
							font-size: 14px;
							color: #868a92;
							line-height: 24px;
						}
					}

					.icon-img {
						// position: absolute;
					}
				}

				.bg-1 {
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
					position: absolute;
					border-radius: 10px;
				}

				.bg-2 {
					background-repeat: no-repeat;
					width: 100%;
					height: 100%;
					position: absolute;
					border-radius: 10px;
				}

				.card-calculation {
					border: 1px solid #e0e5e8;
					box-sizing: border-box;
					box-shadow: 0px 16px 32px -8px rgba(0, 0, 0, 0.05);
					border-radius: 10px;
				}

				.card-calculation:nth-child(4) {
					background: linear-gradient(75.31deg, #0047fc 0%, #0094ff 100%);
					box-shadow: 0px 16px 32px -8px rgba(0, 71, 252, 0.25);

					.number {
						font-family: Nunito Sans;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 24px;
						color: white;
					}

					.text-card {
						font-family: Nunito Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						color: white;
					}
				}
			}

			.bottom-content {
				margin-top: 64px;
				display: flex;
				border-radius: 10px;

				.wrepper-table {
					width: 100%;
					// margin-right: 24px;
				}

				.card-right {
					width: 291px;
					height: 416px;
					padding: 56px 33px 40px 33px;
					background: #ffffff;
					box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.02);
					border-radius: 10px;
					margin-left: 24px;
					display: flex;
					flex-direction: column;

					.top-content {
						display: flex;
						margin-bottom: 40px;
						justify-content: space-between;

						.title {
							font-weight: bold;
							font-size: 20px;
							line-height: 34px;
						}
					}

					.text-content {
						font-size: 16px;
						line-height: 24px;
					}

					.btn-daftar {
						width: 227px;
						height: 48px;
						background: #004dff;
						box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
						border-radius: 10px;
						font-weight: bold;
						font-size: 16px;
						line-height: 24px;
						text-align: center;
						color: #ffffff;
						display: flex;
						align-items: center;
						border-width: 0px;
						margin-top: 35%;
						justify-content: center;
						font-weight: bold;
						font-style: normal;

						cursor: pointer;

						&:focus {
							outline: none;
						}
					}
				}
			}

			.truck {
				.header-truk {
					display: flex;
					justify-content: space-between;
				}

				.middle-component {
					margin-top: 24px;
					margin-bottom: 32px;
					display: flex;
					align-items: center;
					justify-content: space-between;

					.right {
						display: flex;

						.sort-item {
							display: flex;
							margin-right: 39px;
							align-items: center;
							font-size: 12px;
							line-height: 18px;
							color: #838e95;

							.text {
								margin-left: 8px;
							}
						}
					}
				}

				.truck-table {
					margin-top: 36px;

					.td:first-of-type {
						min-width: 48px !important;
						width: 48px !important;
					}
				}

				.truck-order-table {
					margin-top: 36px;
				}
			}

			.wrapper {
				background: #ffffff;
				box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
				border-radius: 10px;
				min-height: 260px;
				width: 760px;
				margin-left: 300px;

				.header {
					background: #f2f2f2;
					border-radius: 10px 10px 0 0;
					padding: 24px 30px 10px;
				}
				.title {
					font-weight: bold;
					font-size: 24px;
					color: #004dff;
				}
				.wrapper-body {
					padding: 0 30px;
				}
			}
		}
	}
}

.card-left {
	flex: 1;
	display: flex;
	flex-direction: column;

	.grid-card {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 32px;
		align-items: center;
	}

	.title {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 34px;
		color: #333333;
	}

	.show-all {
		cursor: pointer;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		text-align: right;
		color: #868a92;
	}
}

.wrepper-table {
	background: #ffffff;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.02);
	border-radius: 10px;
	padding: 32px 24px 32px 24px;

	.title {
		font-weight: bold;
		font-size: 20px;
		line-height: 34px;
	}

	.table {
		font-size: 14px;
		line-height: 24px;
		width: 100%;

		.type-booking {
			font-weight: bold;
			font-size: 10px;
			line-height: 14px;
			color: #002985;
		}

		.tr {
			width: 100%;
			min-height: 56px;
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid #e0e5e8;
			.no {
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
			}
		}

		.tr-expandable {
			width: 100%;
			min-height: 56px;
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid #e0e5e8;
			flex-wrap: wrap;
			.no {
				font-weight: bold;
				font-size: 14px;
				line-height: 24px;
			}
		}

		.expandable-view {
			transition: height 500ms;
			width: 100%;
			height: 0px;
			overflow-y: hidden;
			flex: 0 0 100%;
			display: flex;
			flex-direction: row;
		}

		.tr:last-of-type {
			border-bottom: 0px;
		}

		.td {
			//min-width: 186px;
			width: 100%;
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 24px;
			svg {
				margin: 0px 9px 0px 9px;
			}
		}

		.td:last-of-type() {
			max-width: 81px;
		}

		.tr:nth-child(1) {
			border-bottom-width: 0px;
			cursor: pointer;

			.td {
				font-weight: 800;
				font-size: 14px;
				line-height: 24px;
				color: #868a92;

				.icon-sort {
					margin-left: 8px;
					display: flex;
					flex-direction: column;

					svg:nth-child(1) {
						margin-bottom: 1px;
					}

					svg:nth-child(2) {
						margin-top: 1px;
					}
				}
			}
		}

		.btn {
			// background: #FFF4E6;
			border-radius: 5px;
			padding: 2px 8px 2px 8px;
			height: 22px;
			font-weight: bold;
			font-size: 10px;
			line-height: 18px;
			border-width: 0px;
			cursor: pointer;

			&:focus {
				outline: none;
			}
		}

		.no-proses {
			background: #fff4e6;
			color: #fe9301;
		}

		.cancel {
			color: #ff0000;
			background: #faebeb;
		}

		.finish {
			background: #ebfaf7;
			color: #33ccb2;
		}
	}
}

.truck-order-detail {
	margin-top: 30px;
	.load-date {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #868a92;
	}

	.card-wrapper {
		display: flex;
		justify-content: space-between;
	}

	.card-container {
		display: flex;
		flex-direction: row;
		margin-top: 30px;
	}

	.card {
		width: 291px;
		height: 149px;
		background: #ffffff;
		box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.03);
		border-radius: 10px;
		display: flex;
		padding: 20px;
	}

	.card-value-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.card-value {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: 800;
			font-size: 36px;
			line-height: 52px;
			color: #333333;
		}

		.card-title {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: #868a92;
		}
	}

	.card-icon-container {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.icon {
		width: 96px;
		height: 96px;
		background: #edf1f8;
		border-radius: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;

	.modal {
		width: 816px;
		height: 556px;
		background: #ffffff;
		box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		padding: 30px;
	}

	.gatepass-modal-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.gatepass-title {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 34px;
			display: flex;
			align-items: center;
			color: #333333;
		}

		.gatepass-subtitle {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			display: flex;
			align-items: center;
			color: #333333;
		}
	}

	.gatepass-body {
		border-bottom: 1px solid #e0e5e8;
		margin-top: 30px;
		padding-bottom: 45px;
		.gatepass-input-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-top: 20px;
		}

		.gate-pass-upload-btn {
			width: 110px;
			height: 38px;
			background: #edf1f8;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
			border-radius: 5px;

			span {
				font-family: Nunito Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				color: #868a92;
			}
		}
	}

	.gatepass-footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		.gatepass-btn-container {
			margin-top: 30px;
			.cancel-btn {
				width: 144px;
				height: 48px;
				background: #ffffff;
				border-radius: 5px;
				margin-right: 10px;
				border: 0px;

				font-family: Nunito Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #333333;
			}
			.sbmt-btn {
				width: 144px;
				height: 48px;
				background: #004dff;
				box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
				border-radius: 5px;
				border: 0px;

				font-family: Nunito Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
				text-align: center;
				color: #ffffff;
			}
		}
	}

	.gallery {
		.gallery-modal-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
		}
		.gallery-body {
			width: 1026px;
			height: 500px;
			position: relative;
		}

		.img-btn {
			position: absolute;
			width: 100%;
			top: 40%;
			padding: 20px;
			display: flex;
			justify-content: space-between;

			.img-prev-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 22px;
				height: 22px;
				border-radius: 11px;
				background: #ffffff;
			}
		}

		.img-info {
			position: absolute;
			width: 100%;
			bottom: 40px;
			padding: 20px;
		}

		.img-thumnail {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 34px;
			color: #ffffff;
		}
		.img-date {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #ffffff;
		}

		.img-list-container {
			display: flex;
			flex-direction: row;

			.img-list {
				width: 180px;
				height: 124px;
				border-radius: 0px 0px 0px 10px;
			}
		}
	}
}

.map-container {
	width: 1026px;
	height: 423px;
	position: relative;
	.truck-info {
		position: absolute;
		bottom: 40px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.truck-info-list {
			display: flex;
			flex-direction: row;
			width: 840px;
			height: 64px;
			background: #ffffff;
			box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
			border-radius: 8px;
			padding-left: 20px;

			li {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
			}
		}
	}
}

.marker {
	.marker-place {
		background: #ffffff;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
		border-radius: 8px;
	}
}

.google_map_infobox {
	background: red;
	padding: 1em;
	text-align: center;
	font-size: 1.1rem;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
	border: 1px solid #666;
}

.pagination-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;

	.pagination {
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
		}

		ul {
			list-style-type: none;
		}
	}

	.pagination-prev-text {
		width: 57px;
		height: 19px;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.3px;
		color: #868a92;
		list-style-type: none;
		margin-right: 15px;
		cursor: pointer;
	}

	.pagination-next-text {
		width: 57px;
		height: 19px;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 0.3px;
		color: #868a92;
		list-style-type: none;
		margin-left: 10px;
		cursor: pointer;
	}

	.cursor-disable {
		cursor: not-allowed;
	}

	.page-item {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #e0e5e8;
		box-sizing: border-box;
		border-radius: 4px;
		border-radius: 4px;
		list-style-type: none;
		margin-right: 5px;
		margin-left: 5px;
		cursor: pointer;

		.page-link {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			letter-spacing: 0.3px;
			color: #868a92;
			cursor: pointer;
		}
	}

	.page-item-active {
		background: #005eeb;
		color: #ffffff;
		.page-link {
			color: #ffffff;
			cursor: pointer;
		}
	}
}

.expadableView-title {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #868a92;
}

.expadableView-value {
	display: flex;
	justify-content: space-between;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.border {
	width: 32px;
	height: 0px;
	border: 1px solid #e0e5e8;
	transform: rotate(90deg);
}

.truck-order-detail-breadcrum {
	display: flex;
	flex-direction: row;

	.truck-order-detail-si {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 34px;
		color: #333333;
		margin-left: 30px;
	}
}

span.h6 {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	&.note {
		color: #868a92;
		margin-left: 5px;
	}
}

.radio-label-container {
	display: flex;
	flex-direction: column;
	.label-title {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		color: #1e1e1e;
	}
	.label-note {
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: #868a92;
	}
}

.mega-dropdown-container {
	display: flex;
	flex-direction: row;
	border-radius: 12px;
	width: 100%;
	min-width: 680px;
	color: #333333;
	.mega-dropdown-left {
		display: flex;
		flex-direction: column;
		background: #f6f8fc;
		width: 30%;
		.mega-button-list {
			cursor: pointer;
			padding: 10px 20px;
			&.selected {
				color: white;
				background: #002985;
			}
		}
	}
	.mega-dropdown-right {
		padding: 10px 20px;
		width: 100%;
		&:before {
			content: '';
			height: 2px;
			background: #002985;
			width: 60%;
			display: flex;
			position: absolute;
			left: 0;
			top: 0;
		}
		&.finished::before {
			width: 100%;
		}
		.mega-header {
			border-bottom: 1px solid #edf1f8;
			padding-bottom: 10px;
			margin-bottom: 10px;
			span {
				font-weight: bold;
				font-size: 16px;
				line-height: 24px;
			}
			.mega-header-container {
				display: flex;
				flex-direction: row;
				.mega-header-left {
					cursor: pointer;
				}
				.mega-header-right {
					display: flex;
					flex-direction: column;
					.note {
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 16px;
						color: #868a92;
					}
				}
			}
		}
		.mega-container {
			.mega-list-item {
				padding: 6px 0;
				.mega-parent-list {
					font-weight: bold;
					font-size: 16px;
					line-height: 24px;
				}
			}
			.mega-subitem-container {
				display: flex;
				flex-wrap: wrap;
				.mega-list-item {
					width: 50%;
					cursor: pointer;
					&:hover {
						color: #002985;
					}
				}
			}
			.mega-container-form {
				.mega-container-row {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 15px;
					&.right {
						justify-content: flex-end;
						margin-top: 10px;
						button {
							width: 88px;
							height: 35px;
							margin-bottom: 1px;
						}
					}
				}
			}
			.mega-list-single-container {
				display: flex;
				flex-direction: column;
				height: 200px;
				overflow: auto;
				.mega-bottom-list {
					margin-top: 20px;
				}
				.mega-list-single-item {
					display: flex;
					min-height: 50px;
					border-bottom: 1px solid #e0e5e8;
					align-items: center;
					justify-content: space-between;
					.mega-child-list {
						display: flex;
						&:first-of-type {
							width: 50%;
						}
						&:nth-child(2) {
							width: 50%;
						}
					}
				}
			}
		}
	}
}

.modal-drop-xy {
	position: fixed;
	top: 0px;
	left: 0px;	
	bottom: 0px;
	right: 0px;
	width:100%;
	height: 100%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 5px 10px #888888;
	display: none;

	.close-modal-btn {
		position: fixed;
		top : 0px;
		right: 10px;

		.close-btn {
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
}
