// Ipads
@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard.has_side_menu {
    div[class="gatePass_sideMenuDocument_*"] {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 0;
    }
    .container {
      margin-left: 0;
      display: flex;
      flex-direction: column;
    }
  }
  .dashboard {
    display: flex;
    .wrepper-menu.has_side_menu { display: none; }
    .wrepper-menu {
      position: fixed;
      left: 0;
      z-index: 10;
    }
    .container {
      width: 100%;
      height: auto;
      overflow: scroll;
      margin-left: 100px;
      padding: 20px;
      .header-dashboard {
        .right {
          .wrepper-icon {
            display: flex;
            padding-right: 0;
            border-right: none;
          }
        }
      }
      .content {
        .top-content {
          .title-home {
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
            font-weight: 700;
          }
          .title {
            font-size: 16px;
            font-weight: normal;
          }
        }
        .list-card {
          .card-calculation:nth-child(4) .number {
            font-size: 14px !important;
            line-height: 14px !important;
          }
          .card-calculation {
            min-width: calc(100%/5);
            height: 100px !important;
            .flex {
              padding: 10px;
              .wrepper-text {
                .number {
                  font-size: 20px;
                  line-height: 24px;
                }
                .text-card {
                  font-size: 12px;
                  line-height: 12px;
                }
              }
            }
          }
        }
      }
      .card-right {
        margin-left: 0px;
        // width: 35% !important;
        height: 385px !important;
        padding: 20px;

        .top-content {
          display: flex;
          margin-bottom: 20px !important;
          justify-content: space-between;

          .title {
            font-size: 18px !important;
          }
        }

        .text-content {
          font-size: 12px !important;
        }

      }
    }
  }

  .track-input {
    width: auto !important;
    height: 40px !important;
    .input-search {
      font-size: 12px !important;
    }
    .btn-track {
      height: 30px !important;
      width: auto !important;
    }
  }
}

// Low res tablet
@media (min-width: 481px) and (max-width: 767px) {
  
}

// Mobile
@media (max-width: 767px) {
  .title-home, .title {
    font-size: 18px !important;
  }
  .stepindicator-title {
    height: 40px;
    text-align: center;
  }
  .dashboard.has_side_menu {
    .container {
      padding-bottom: 400px;
    }
  }
  .wrepper-table {
    padding: 10px;
    .table {
      margin: auto;
      border-collapse: collapse;
      overflow-x: auto;
      display: block;
      width: fit-content;
      max-width: 100%;
    }
  }
  .form-inner-container {
    width: 100% !important;
    padding: 10px;
    .schedule-select-box-container {
      flex-direction: column;
      & > div { margin-left: 0 !important; margin-bottom: 10px;}
      .select-box-header {
        width: 100% !important;
      }
    }
  }
  .container-break {
    .see-more-wrapper{
      width: 100% !important;
    }
  }
  .form-footer {
    & > button {
      width: 45%;
    }
  }
  .select-box-list-container, .bg-drop-down-box-value, .bg-drop-down-add-address {
    width: 100% !important;
  }
  .error-modal-content {
    width: 95%;
  }
  .dashboard {
    display: flex;
    &.mobile_menu_clicked {
      .wrepper-menu {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
    }
    .mobile-menu {
      position: fixed;
      top: 0;
      left: 0;
      background: white;
      padding: 20px;
      z-index: 1;
      .button-menu {
        width: 100%;
        .icon {
          content: url('../assets/images/dashboard/menu-icon-right.png');
        }
      }
    }
    .wrepper-menu {
      width: 70px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.33s, opacity 0.33s linear;
      &.has_side_menu { display: none; }
      .menu {
        width: 70px;
      }
    }
    div[class*="gatePass_sideMenuDocument"] {
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 20px;
      div[class*="gatePass_wrapperCalendar"] {
        margin-bottom: 20px;
      }
      div[class*="gatePass_wrapperButton"] {
        flex-direction: row;
        margin-top: 0;
        justify-content: space-around;
        button {
          width: 45%;
        }
      }
    }
    .container {
      padding: 15px;
      .header-dashboard {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        .left {
          flex-direction: column;
          width: 100%;
          margin-top: 15px;
          align-items: flex-end;
          .track-input { width: 100%; }
          .date-header {
            display: flex;
            margin-top: 15px;
          }
          .track-date-header {
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
          }
        }
      }
      div[class*="freightbreadcrumb_freightBreadcrumb"] {
        flex-direction: column;
        div[class*="freightbreadcrumb_freightStepIndicator"] {
          margin-top: 20px;
          div[class*="freightbreadcrumb_indicatorItem"] {
            margin-right: 5px;
            div[class*="freightbreadcrumb_bullet"] {
              z-index: 1;
            }
          }
        }
      }
      .content {
        padding: 20px 0 0 0;
        .top-content {
          flex-direction: column;
          .card-type-customer { margin-top: 15px; }
        }
        .list-card {
          flex-direction: column;
          margin-top: 30px;
          .card-calculation {
            margin-bottom: 10px;
            height: 112px !important;
          }
        }
        .bottom-content {
          margin-top: 30px;
          flex-direction: column;

          .card-right {
            margin-top: 16px;
            margin-left: 0px;
            width: 100% !important;
            height: 300px;
            padding: 20px;
          }

          .btn-daftar {
            margin-top: 25px !important;
          }
          
          .wrepper-table {
            padding: 10px;
            .table {
              width: 100% !important;
              margin: auto;
              border-collapse: collapse;
              overflow-x: auto;
              display: block;
              width: fit-content;
              max-width: 100%;
            }
          }
        }
        .truck {
          .header-truk {
            flex-direction: column;
            .btn-dsb-right {
              align-self: flex-end;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}