input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #333333;
}

.subtitle-container {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #868a92;
}

.container1 {
    width: "100%";
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}

.progress-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e0e5e8;
    padding-top: 35px;
}

.progress-inner-container {
    width: 1250px;
    display: flex;
    padding-bottom: 15px;
}

.wizard {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #004dff;
}

.progress-title-inactive {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #b8c1c6;
}

.progress-title-done {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #b8c1c6;
}

.progress-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-outer-circle {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #004dff;
    box-shadow: 0px 4px 8px rgba(0, 69, 255, 0.25);
}

.progress-pending-outer-circle {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #e0e5e8;
}

.progress-outer-circle-inactive {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #e0e5e8;
}

.progress-inner-circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #ffffff;
}

.progress-line {
    height: 2px;
    background: #e0e0e0;
}

.progress-line-container {
    justify-content: flex-end;
    align-items: flex-end;
}


.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-inner-container {
    width: 1160px;
    margin-top: 40px;
}

.form-footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

.prev-button {
    float: left;
    display: flex;
    width: 200px;
    height: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #868a92;
    //background-color: #ffffff;
    border-radius: 5px;
}

.next-button {
    float: right;
    display: flex;
    width: 200px;
    height: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #004dff;
    box-shadow: 0px 8px 16px rgba(0, 69, 255, 0.2);
    border-radius: 5px;
}

.next-button-disabled {
    opacity: 0.4;
}

.next-button-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.disabled-button {
    float: right;
    display: flex;
    min-width: 121px;
    min-height: 48px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #edf1f8;
    border: 1px solid #edf1f8;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.disabled-button-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #868a92;
}

.prev-button-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #868a92;
}

.form-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #333333;
}

.form-checkbox-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.form-checkbox-title {
    margin-top: 30px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.form-checkbox-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e5e8;
}

.radio-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.radio-button-input {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 15px;
}
.form-import-radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.form-almat-pickup {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.form-text-input-container {
    display: flex;
    flex-direction: column;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.form-text-input {
    width: 396px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.form-text-select-container {
    display: flex;
    flex-direction: column;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin-left: 25px;
}

.form-select-input {
    width: 396px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.container-break {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

.see-more-wrapper {
    display: flex;
    width: 1160px;
    flex-direction: row;
    align-items: center;
}

.break-title-container {
    width: 124px;
    height: 34px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.break-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: #e0e5e8;
}

.break-horizontal-line {
    display: flex;
    flex: 1;
    height: 1px;
    border: 1px solid #e0e5e8;
}

.form-container-row {
    display: flex;
    flex-direction: row;
}

.row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.detail-first-container {
    flex: 1;
}

.detail-first-container-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-first-container-title div {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.detail-first-container-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.detail-first-container-data span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.detail-second-container {
    flex: 1;
    margin-left: 40px;
}

.counter {
    width: 81px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
}

.counter-container {
    display: flex;
    flex-direction: row;
}

.counter-value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.counter-button-container {
    display: flex;
    flex: 0.5;
    height: 50px;
    flex-direction: column;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
}

.counter-increment-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e0e5e8;
    cursor: pointer;
}

.required-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e5e8;
    padding-top: 30px;
    padding-bottom: 60px;
}

.shipping-instruction-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.shipping-instruction-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 186px;
}

.shipping-instruction-title div {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.shipping-instruction-number {
    margin-left: 110px;
}

.shipping-instruction-number span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.shipping-instruction-number div input {
    width: 186px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.shipping-instruction-document {
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 291px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.shipping-instruction-document span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.shipping-instruction-document div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-button-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.pickup-address-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e0e5e8;
}

.pickup-address-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.pickup-address-container-title span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #333333;
}

.add-address-button {
    width: 171px;
    height: 44px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
}

.select-address-container {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
}

.select-address-info {
    display: flex;
    flex-direction: column;
}

.select-address-title-container {
    display: flex;
    flex-direction: row;
}

.select-address-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.select-main-title {
    width: 45px;
    height: 18px;
    background: #002985;
    border-radius: 9px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #ffffff;
}

.select-address {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.address-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #868a92;
}

.address-data {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #333333;
}

.select-address-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.select-address-name {
    display: flex;
    flex-direction: column;
}

.select-address-name span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.select-address-name div input {
    width: 396px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
}

.select-address-phone-number {
    display: flex;
    flex-direction: column;
}

.select-address-phone-number span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.select-address-phone-number div input {
    width: 396px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
}

// .body-load-time div.input-tanggal{
//     flex:1
// }

// .body-load-time div.input-waktu{
//     flex:1.7
// }

.body-load-time input.tanggal {
    width: 186px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
}

.body-load-time input.waktu {
    width: 120px;
    height: 52px;
    display: flex;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
}

.body-load-time input.kontainer {
    width: 252px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
}

.body-load-time input.jumlah {
    width: 252px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 30px;
}

.body-load-time div.counter {
    margin-left: 30px;
}

.additional-service-container {
    display: flex;
    flex-direction: row;
}

.additional-service-first-container {
    display: flex;
    flex-direction: column;
}

.port-handling-container {
    width: 400px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
}

.port-handling-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.port-handling-title {
    display: flex;
    flex-direction: row;
}

.port-title {
    display: flex;
    flex-direction: column;
}

.port-title span.port-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    margin-left: 10px;
}

.port-title span.port-price {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #002985;
    margin-left: 10px;
}

.port-body-title {
    margin-top: 30px;
}

.additional-service-second-container span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.port-body-title {
    margin-top: 30px;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
}

.port-body {
    display: flex;
    flex-direction: column;
}

.port-body span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #333333;

    margin-top: 20px;
}

.port-handling-name-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    input {
        width: 348px;
        height: 52px;
        margin-top: 10px;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

.port-handling-name-telephone-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    input {
        width: 348px;
        height: 52px;
        margin-top: 10px;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

.truck-quality-container {
    width: 400px;
    height: 300px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}

.depo-card-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    margin-left: 20px;
}

.insurance-card-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

/* checkbox */

.schedule-select-box-container {
    display: flex;
    flex-direction: row;
}

.depo-checkbox-container-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    //margin-top: 30px;
    margin-bottom: 10px;
}

.select-box-wrapper {
    position: relative;
    //margin-top: 15px;
}

.select-box-header {
    width: 186px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-overflow: ellipsis;
    padding: 10px;
    cursor: pointer;
}

.select-box-header-unselected {
    background: #edf1f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.select-box-header-title {
    width: 186px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-box-header-placeholder {
    width: 186px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #868a92;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;

    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.show-select-box {
    display: block !important;
    transition: display 0.9s;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.select-box-list-container {
    position: absolute;
    width: 296px;
    height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 6px;
    z-index: 1;

    transition: display 0.9s;
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;

    ul {
        list-style-type: none;
        padding: 0px;
    }
}

.waktu-select-box-container {
    position: absolute;
    width: 206px;
    height: 172px;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 16px;
    ul {
        list-style-type: none;
        padding: 0px;
    }
}

.select-box-list-value {
    width: 296px;
    height: 53px;
    padding: 20px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    cursor: pointer;
}

.select-box-list-value:hover {
    background-color: #edf1f8;
}

.select-box-search {
    width: 296px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e0e5e8;
    padding: 10px;
}

.select-box-search-input {
    width: 296px;
    height: 54px;
    background: #ffffff;
    border: 0px;
}

.bg-select-box-header {
    width: 291px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.bg-drop-down-box-container {
    position: absolute;
    width: 606px;
    height: 182px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: auto;
    ul {
        list-style-type: none;
        padding: 0px;
    }
}

.bg-drop-down-box-value {
    display: flex;
    flex-direction: row;
    width: 606px;
    height: 56px;
    align-items: center;
    padding: 10px;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    div {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        /* Text Color / 01 Black */

        color: #333333;
        cursor: pointer;
    }
}

.bg-drop-down-add-address {
    width: 606px;
    border-top: 1px solid #e0e5e8;
    padding: 10px;
}

.bd-drop-down-add-address-button {
    width: 163px;
    height: 44px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    float: right;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    /* Text Color / 02 Grey */

    color: #868a92;
}

.selection-class {
    background-color: #edf1f8;
}

// .bg-drop-down-box-value:hover {
//     background-color: #EDF1F8;
// }

//  pickup address modal

.pickup-address-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickup-address-modal-container {
    width: 816px;
    height: 435px;
    background: #ffffff;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 30px;
}

.pickup-address-modal-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
        color: #333333;
    }

    button {
        border: 0px;
        background-color: #ffffff;
        cursor: pointer;
    }
}

.pickup-address-modal-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    input {
        width: 768px;
        height: 52px;
        margin-top: 20px;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        color: #333333;
    }
}

.pickup-address-search-result-container {
    position: absolute;
    width: 768px;
    height: 161px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: scroll;
    z-index: 1;
    ul {
        list-style-type: none;
        padding: 0px;
    }
}

.pickup-address-list {
    position: relative;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    span.pickup-add {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-left: 2%;
        display: flex;
        align-items: center;
    }
}

.pickup-address-list:hover {
    background-color: #edf1f8;
}

.pickup-address-modal-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    button.modal-pickup-modal-cancel-button {
        width: 144px;
        height: 48px;
        background: #ffffff;
        border-radius: 5px;
        border: 0px;
        margin-right: 20px;

        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Fill Color / 03 Black Main Text */

        color: #333333;
    }
    button.modal-pickup-modal-save-button {
        width: 144px;
        height: 48px;
        background: #004dff;
        box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
        border-radius: 5px;
        border: 0px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Text Color / 03 White */

        color: #ffffff;
    }
}

.pickup-address-info-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 120px;
    border-bottom: 1px solid #e0e5e8;
}

.pickup-address-modal-text-box-container {
    // span {
    //     font-family: Nunito Sans;
    //     font-style: normal;
    //     font-weight: bold;
    //     font-size: 12px;
    //     line-height: 18px;
    //     color: #333333;
    // }

    // input {
    //     width: 372px;
    //     height: 52px;
    //     background: #FFFFFF;
    //     border: 1px solid #E0E5E8;
    //     box-sizing: border-box;
    //     border-radius: 5px;
    //     padding: 20px;

    //     font-family: Nunito Sans;
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 16px;
    //     line-height: 24px;
    //     /* identical to box height, or 150% */

    //     /* Fill Color / 03 Black Main Text */

    //     color: #333333;
    // }
}

.check-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.kontainer-handling-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.checkbox {
    label {
        display: flex;
        align-items: center;
    }
    input {
        width: 22px;
        height: 22px;
        background: #868a92;
    }

    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #333333;
    }
}

.kontainer-handling-price-container {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */

    /* Fill Color / 02 Dark Blue (LOGOL) */

    color: #002985;
}

.lift-on-off-body-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div.lift-on-off-title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }

    div.lift-on-btn {
        display: flex;
        background-color: #707070;
        border-radius: 17px;
        padding: 10px;

        label {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        } 
    }

    div.lift-on-btn-logol {
        display: flex;
        background-color: #002985;
        border-radius: 17px;
        padding: 10px;

        label {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    div.lift-on-off-body {
        margin-top: 30px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
    }
}

.lift-on-off-wrapper {
    display: flex;
    flex-direction: row;
    div.lift-on-off-second-container {
        margin-left: 35px;
    }
}

.shipping-line-input-box {
    margin-top: 20px;
    label {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 52px;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 10px;
    }
}

.input-box-container {
    display: flex;
    flex-direction: column;
    position: relative;
    //margin-top: 25px;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }

    input {
        flex: 1;
        border: 0px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
}

.input-text-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 396px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    position: relative;
    div {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    input {
        margin-left: 10px;
    }
}

.input-text-box-disabled {
    background: #edf1f8;
    cursor: pointer;
}

.weight-input-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    text-align: center;
    align-self: stretch;
    background: #e0e5e8;
    border-radius: 0px 5px 5px 0px;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
}

/// load container
.load-goods-container {
    margin-top: 30px;
}
.load-good-container-header {
    display: flex;

    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        margin-bottom: 10px;
    }
    span.tanggal {
        width: 207px;
    }

    span.waktu {
        width: 139px;
    }

    span.kontainer {
        width: 272px;
    }

    span.jumlah {
        width: 111px;
    }
}

.load-good-container-body {
    display: flex;
    div.tanggal {
        width: 207px;
    }

    div.waktu {
        width: 139px;
    }

    div.kontainer {
        width: 272px;
    }

    div.jumlah {
        width: 111px;
    }

    input.tanggal {
        width: 187px;
        height: 52px;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;
        border-radius: 5px;
    }

    div.waktu-select {
        width: 119px;
        height: 52px;
        background: #ffffff;
        border: 1px solid #e0e5e8;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.add-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.waktu-select-box-container {
    position: absolute;
    width: 186px;
    height: 172px;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-top: 6px;
    z-index: 1;
    ul {
        list-style-type: none;
        padding: 0px;
    }
}

.waktu-select-list-container {
    width: 186;
    height: 53px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;

    span {
        margin-left: 10px;
    }
}

.kontainer-select-container-header {
    width: 252px;
    height: 52px;
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.kontainer-select-list-container {
    position: absolute;
    width: 306px;
    height: 182px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
    ul {
        list-style-type: none;
        padding: 0px;
    }
}

//// see more

.see-more-details {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e5e8;
    overflow: scroll;
}

.expandableSeeMore {
    display: flex;
    transition: height 500ms;
    overflow-y: hidden;
    height: 0px;
    width: 100%;
    justify-content: center;
}

.see-more-container {
    display: flex;
    flex-direction: column;
}

.see-more-delivery-route-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #868a92;
}

.see-more-route-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.destination-point {
}

.destination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #002985;
    font-size: 10px;
    color: #ffffff;
}

.destination-address {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin-left: 10px;
}

.destination-arrow {
    margin-left: 10px;
    margin-right: 10px;
}

.see-more-service-free {
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    div.price-label {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        text-align: left;
    }

    div.price-value {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #333333;
    }
}

.price-total-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    div.price-total-label {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #002985;
    }

    div.price-total-value {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        color: #002985;
    }
}

/// summary icon

.summary-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    div.summary-print-sharre-icon-container {
        display: flex;
        flex-direction: row;

        div {
            margin-right: 10px;
        }
    }
}

.summary-delivery-route-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;

    div.summary-delivery-title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #868a92;
        text-align: left;
    }

    div.summary-delivery-warapper {
        display: flex;
        flex-direction: column;
        width: 501px;
    }
}

.destination-progress-circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004dff;

    div {
    }
}

.summary-delivery {
    display: flex;
    //height: 100px;
    flex-direction: row;

    .summary-destination {
        margin-left: 10px;
    }

    .destination-title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        color: #333333;
    }

    .summary-destination-subtitle {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #868a92;
    }
}

.summary-pickup-address {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    width: 291px;
    margin-top: 34px;
}

.summary-pickup-address-info {
    display: flex;
    flex-direction: row;
    margin-top: 34px;
    border-bottom: 2px solid #004dff;
    padding-bottom: 30px;
    .summary-pickup-address-info-name {
        text-align: left;
        span {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            color: #868a92;
        }

        div {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            /* Fill Color / 03 Black Main Text */

            color: #333333;
        }
    }

    .summary-pickup-address-info-phone {
        margin-left: 34px;
        text-align: left;
        span {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            color: #868a92;
        }

        div {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */

            /* Fill Color / 03 Black Main Text */

            color: #333333;
        }
    }
}

.summary-load-time-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* Fill Color / 03 Black Main Text */

    color: #333333;
}

.summary-load-time-table {
    display: flex;
    flex-direction: column;
    width: 594px;
    margin-top: 20px;
}

.summary-load-time-table-header {
    display: flex;
    background-color: #edf1f8;
    padding: 10px;
    span {
        flex: 1;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        //text-align: center;

        /* Fill Color / 02 Dark Blue (LOGOL) */

        color: #002985;
    }
    .header-no {
        width: 31px;
    }
}

.summary-load-time-container {
    margin-top: 34px;
}

.summary-load-time-table-body {
    display: flex;
    flex-direction: row;
    padding: 10px;
    div {
        flex: 1;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        //text-align: center;
    }
}

.summary-depo-care-service {
    margin-top: 44px;
}

.summary-depo-care-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

.summary-depo-care-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    .summary-depo-care-depo-detail {
        width: 196px;
        border-right: 1px solid #e0e5e8;
        span {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            color: #868a92;
            text-align: left;
        }

        div {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #333333;
            margin-top: 15px;
            text-align: left;
        }
    }

    .summary-depo-care-tanggal-detail {
        width: 196px;
        padding-left: 20px;
        span {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            color: #868a92;
            text-align: left;
        }

        div {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: #333333;
            margin-top: 15px;
            text-align: left;
        }
    }
}

.summary-additional-service-container {
    margin-top: 44px;
}

.summary-additional-service-title {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    color: #1e1e1e;
}

.summary-additional-service-info {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.summary-additional-service {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    background: #edf1f8;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
}

/// complete order

.complete-order-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.complete-order-inner-container {
    width: 960px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.complete-order-title {
    margin-top: 30px;

    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 52px;
        color: #333333;
    }

    p {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 34px;
        color: #333333;
    }
}

.complete-order-info {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #333333;

    p {
        color: "#004DFF";
    }
}

.complete-order-button {
    margin-top: 30px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 268px;
        height: 48px;
        background: #004dff;
        box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
        border-radius: 5px;
        border: 0px;

        div {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
    }
}

.confirmation-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .confirmation-modal-content {
        position: absolute;
        width: 499px;
        height: 256px;
        background: #ffffff;
        box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .confirmation-modal-header {
            display: flex;
            flex: 1.8;
            justify-content: center;
            flex-direction: column;
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 34px;
            color: #333333;

            .confirmation-modal-body {
                font-family: Nunito Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #333333;
                margin-top: 15px;
            }
        }
        .confirmation-modal-btn-container {
            display: flex;
            flex: 1;
            justify-content: flex-end;

            .confirmation-modal-cancel-btn {
                width: 144px;
                height: 48px;
                background: #ffffff;
                border-radius: 5px;
                border: 0px;
                font-family: Nunito Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #333333;
            }
            .confirmation-modal-submit-btn {
                width: 168px;
                height: 48px;
                background: #004dff;
                box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
                border-radius: 5px;
                border: 0px;
                font-family: Nunito Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}

// .error-modal {
// position: fixed;
// z-index: 1;
// left: 0;
// top: 0;
// display: flex;
// padding-top: 10%;
// justify-content: center;
// width: 100%;
// height: 100%;
// margin-top: 300px;
// overflow: auto;
// background-color: rgba(0, 0, 0, 0.4);
// display: flex;
// align-items: center;

.error-modal-content {
    position: absolute;
    width: 499px;
    height: 256px;
    background: #ffffff;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;

    .error-modal-header {
        display: flex;
        flex: 0.8;
        align-items: center;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
        color: #333333;
        border-bottom: 1px solid blue;
        padding: 20px;
    }
    .error-modal-body {
        display: flex;
        flex: 1;
        align-items: center;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        margin-top: 15px;
        padding: 20px;
    }

    .error-modal-btn-container {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;
    }

    .error-modal-submit-btn {
        width: 168px;
        height: 48px;
        background: #004dff;
        box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
        border-radius: 5px;
        border: 0px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
    }
}
// }

.submit-order-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    padding-top: 10%;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .submit-order-modal-content {
        position: absolute;
        background: #ffffff;
        box-shadow: 0px 12.8258px 25.6516px rgba(0, 0, 0, 0.02);
        border-radius: 16.0323px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
        .submit-title {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: 800;
            font-size: 28.8581px;
            line-height: 42px;
            color: #333333;
            margin-top: 10px;
        }

        .submit-content {
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16.0323px;
            line-height: 27px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #333333;
        }
    }
}

.autocomplete-list-container {
    position: absolute;
    width: 296px;
    height: 222px;
    overflow: auto;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 6px;
    //z-index: 1;
}

// import maut style

.data-container-info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
    border-bottom: 1px solid #e0e5e8;
    div.data-container-title {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #002985;
    }

    div.data-container-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.data-container-table-heading {
    display: flex;
    flex-direction: row;

    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
    }
}

.data-container-table-value {
    display: flex;
    flex-direction: row;

    span {
        margin-top: 10px;
        input {
            background: #ffffff;
            border: 1px solid #e0e5e8;
            box-sizing: border-box;
            border-radius: 5px;
            font-family: Nunito Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            padding-left: 10px;
        }
    }
}


/// destination time line 

.destination-liftOn {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}

div.destination-liftOff-container {
    display: flex; 
    justify-content : flex-end;
}

.destination-timeline-container {
    display:flex;
    flex:1;
    flex-direction:column;
    margin-top: 15px;

    div.destination-loc-container {
        display:flex;
        align-items: center;
        flex-direction: row;
        flex:1;
        height:56px;

        div.destination-Line {
            display:flex;
            flex:1;
            height:2px;
            background-color:#E0E5E8
        }

        div.destination-loc-icon-container {
            width: 20px;
            height:20px;
            border-radius:10px;
            background-color: #E0E5E8;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        div.destination-liftOn-container {
            display: flex; 
            justify-content : center;
        }
    }
}

.btn-container {
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.handling-text  {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
}

.phill-container {
    width: 142px;
    height: 32px;
    border: 1px solid #E0E5E8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    span {
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        margin-left:10px
    }
}
.error_msg {
    position: absolute;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: red;
}


