@media only screen and (max-width: 1128px) {
  .app-home {
    .header-home {
      // width: auto;

      .container-header-home {
        padding: 0px 16px 0px 16px;

        img {
          // margin-right: 60px;
        }
      }
    }

    .wrepper-top {
      padding-left: 16px;
      padding-top: 120px !important;
    }

    .intro-search {
      padding: 0px 16px 0px 16px;
      .search-button {
        width: 190px;
      }
    }

    .wrepper-rules-map {
      padding-left: 16px;
    }

    .our-service {
      padding: 0px 16px 0px 16px;
    }

    .must-logol {
      padding: 0px 16px 0px 16px;
    }

    .content-membership {
      padding: 0px 16px 0px 16px;
    }

    .content-easier-order {
      padding: 0px 16px 0px 16px;
    }

    .testimoni {
      padding: 0px 16px 0px 16px;

      .wrepper-testimoni .card-testimoni {
        width: auto !important;
        margin-left: 370px !important;

        .list-card {
          max-width: 170px;
        }
      }
    }

    .content-logo {
      margin: 0px 16px 0px 16px !important;
    }

    .content-mobile-phone {
      padding: 0px 16px 0px 16px;
    }

    .content-easier-order .wrepper-easier-order .content-video {
      .item-animation {
        margin: 0px auto 0px auto;
      }

      .wrepper-video {
        flex-direction: column;

        .wrepper-right {
          margin-left: 16px !important;
          padding-top: 80px;

          .title-home {
            width: auto !important;
            text-align: center !important;
          }

          .text-description-home {
            width: auto !important;
            word-break: break-all;
          }
        }
      }
    }
  }
}

@media (max-width: 840px) {
  // .customer-service {
  //   // display: block !important;
  //   flex-direction: column !important;
  // }

  .customer-service .wp-customer-service {
    flex-direction: column !important;

    .text-customer {
      text-align: center;
      margin-left: 0px !important;

      &:first-of-type {
        margin-top: 48px;
      }

      &:last-of-type {
        display: block !important;
      }
    }
  }
}

// Default
.humberger-menu {
  display: none;

  .item-drop-down {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .item-drop-down-column {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 92px;
    justify-content: center;
  }

  .open-item-drop-down {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    position: absolute;
    top: 75%;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 1;
    padding-left: 8px;
    padding-right: 8px;
    display: none;
  }

  .item-drop-down-column:hover .open-item-drop-down {
    display: block;
  }
}

.inline-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  .login {
    margin-left: 24px;
    width: 88px;
    height: 44px;
  }
  .register {
    margin-left: 24px;
    width: 88px;
    height: 44px;
    margin-bottom: 1px;
  }
}

.login.outside,
.register.outside {
  padding: 10px 20px;
  margin-right: 10px;
}

// Mobile
@media (max-width: 600px) {
  .header-home {
    z-index: 0 !important;
    .container-header-home {
      display: none !important;
    }
  }

  .header-active {
    display: none;
  }

  .humberger-menu {
    display: block;
  }

  .text-title-bg {
    font-size: 28px !important;
    width: auto !important;
    line-height: normal !important;
  }

  .child-text-title {
    margin-top: 16px;
  }

  .app-home {
    .layout-home {
      min-height: 580px !important;

      .wrepper-top {
        margin: 0 0 0 20px;

        .text-title-bg,
        .track-input {
          width: auto !important;
        }

        .track-input {
          margin-right: 15px;
        }
      }
    }

    .container {
      .btn-rules {
        width: 100% !important;
      }
      .btn-next {
        width: 100% !important;
        margin-top: 60px;
      }
      .intro-search {
        display: flex;
        flex-direction: column;
        position: relative !important;
        .intro-card-container {
          .wrepper-tab {
            display: flex;
            flex-direction: row;
            .tab {
              width: auto;
              flex: 1;
            }
          }
          .tab-pane {
            min-height: 400px !important;
          }
          .mega-custom {
            display: flex;
            flex-direction: column;

            div[class^="megamenu_gridItem"]:nth-child(1),
            div[class^="megamenu_gridItem"]:nth-child(3) {
              padding: 0 !important;
              border-right: none !important;
              border-left: none !important;
            }
            div[class^="megamenu_gridItem"]:nth-child(2) {
              padding: 0 !important;
            }
            div[class^="megamenu_gridItem"]:nth-child(2)::after {
              content: "";
            }
            div[class^="megamenu_gridItem"]:nth-child(4) {
              padding: 0 !important;
            }
            div[class^="megamenu_buttonSelect"] {
              padding: 0 25px 0 16px !important;
            }
            .react-datepicker-wrapper {
              width: 100%;
              .react-datepicker__input-container > div {
                width: auto !important;
              }
            }
          }
          //--modals
          div[class^="portpicker_portpicker"] {
            width: 100% !important;
            flex-direction: column;
            top: auto;
            div[class^="portpicker_leftPane"] {
              width: 100% !important;
              div[class^="portpicker_wpInLeft"] {
                width: 100% !important;
              }
              div[class^="portpicker_exportShipping"] {
                display: none !important;
              }
            }
            div[class^="portpicker_rightPane__"] {
              width: 100% !important;
              display: flex;
              flex-direction: column;
              div[class^="portpicker_viewSg"] {
                input[class^="portpicker_autoCompleted"] {
                  width: 100% !important;
                }

                .portpicker_viewDone__3SM2u {
                  // margin-top: 110px;
                }
              }
            }
          }

          div[class^="containerpicker_containerTruck"] {
            width: 100%;
            // flex-direction: column;
            top: 100px;
            margin-left: 0;
            div[class^="containerpicker_itemTruck"] {
              width: 100% !important;
            }
          }
        }
        .search-button {
          width: 100%;
        }
      }
      .wrepper-rules-map {
        min-height: 610px !important;

        .container-rules {
          margin: 0 15px 0 auto !important;
          .text-title-rules {
            width: auto !important;
          }
        }
      }
      .our-service {
        .tab-pane {
          .wrepper-tab {
            margin-right: 10px !important;
            .tab {
              font-size: 15px !important;
            }
          }
        }
        .tab-active {
          flex-direction: column;
          .background-img {
            width: 100%;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .must-logol {
        width: 100% !important;
        margin: 400px auto 20px auto !important;
        .content-must-logol {
          flex-direction: column;
          img {
            width: 100%;
            margin-right: 52px;
          }
        }
      }

      .content-easier-order {
        .wrepper-easier-order {
          .content-card {
            flex-direction: column;
            align-items: center;
            .card-wrepper {
              margin-bottom: 10px;
              margin-top: 10px;
              max-width: 100% !important;
            }
            .wr-card-list {
              margin-top: 6px !important;
              width: 100%;
              flex-direction: column;
              display: flex;
              align-items: center;
              justify-content: center !important;

              &::after {
                content: url(../assets/images/icons/arrow-right-home.svg);
                display: inline-block;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
              }
            }
          }
          .content-video {
            width: 100%;
            padding-top: 20px !important;
            .wrepper-video {
              width: 100%;
              video {
                width: 100%;
              }
            }
          }
        }
      }
      .bg-parallax-two {
        .testimoni {
          .wrepper-testimoni {
            display: flex;
            flex-direction: column;
            .testimoni-wrapper {
              display: flex;
              .card-testimoni {
                position: relative;
                display: flex;
                flex-direction: column !important;
                align-items: center;
                margin-left: 0 !important;
                height: auto;
                padding: 40px 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .text-testimoni {
                  margin-top: 20px !important;
                }
              }
            }
          }
        }
        .content-logo {
          margin-top: 200px !important;
          width: auto !important;
          display: flex;
          flex-direction: column;
          padding: 20px 0 !important;
          img {
            margin: 45px auto !important;
          }
        }
      }

      .our-service {
        .tab-active .tab-right {
          margin-left: 0px !important;
          max-height: 100% !important;
        }
        .text-description {
          margin-top: 32px;
        }
      }
    }
    .customer-service {
      .wp-customer-service {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        background: #0045ff;
        .right {
          margin-top: 20px;
          .text-customer {
            margin-bottom: 20px;
          }
        }
      }
    }
    .content-membership {
      padding-left: 24px;
      padding-right: 24px;

      .btn-yellow {
        margin-top: 64px;
        width: 100%;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    .wrepper-top-footer {
      display: flex;
      flex-direction: column;
      padding: 0px 24px 0px 24px;

      .wrepper-top-footer {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        height: auto !important;
      }

      .content-right {
        margin-top: 20px;
        .th-table {
          margin-top: 10px;
        }
      }
    }
    .wrepper-bottom-footer {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      margin-bottom: 50px;
    }
  }
}

// Low res tablet
@media (min-width: 481px) and (max-width: 767px) {
  .content-right {
    margin-top: 20px;
  }
}

// Ipads
@media (min-width: 768px) and (max-width: 1024px) {
  .content-right {
    margin-top: 20px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
