@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import './scss/btn/sweepToRight.scss';
@import './indexResponsive.scss';

@-ms-viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	overflow: auto !important;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin-top: 0px;
}

#root {
	height: 100%;
	font-family: Nunito Sans;
	font-style: normal;
	color: #333333;
	// transition-delay: 10s !important;
}

.wrepper-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 200px;
	width: 100%;
}

.favicon {
	width: 58px;
	height: 58px;
	display: block;
	animation: rotation 2s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.item-animation {
	visibility: visible !important;
	animation: show-item 1s;
}

%hidden-relative {
	position: relative;
	visibility: hidden;
}

.item-animation:nth-child(1) {
	// animation: show-item 1s;
}

.item-animation:nth-child(2) {
	// animation: show-item 1200ms;
}

.item-animation:nth-child(3) {
	// animation: show-item 1500ms;
}

.item-animation:nth-child(4) {
	// animation: show-item 1500ms;
}

@keyframes show-item {
	from {
		left: -70px;
		top: -10px;
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	to {
		left: 0px;
		top: 0px;
		opacity: 1;
	}
}

.animation-background {
	visibility: visible !important;
	animation: show-animation 3s;
}

@keyframes show-animation {
	to {
		opacity: 1;
	}

	from {
		opacity: 0;
	}
}

button {
	&:focus {
		outline: none;
	}
}

textarea:focus,
input:focus {
	outline: none;
}

.btn-primary {
	@extend %sweep-to-right;
	background-color: #002985;
	color: #ffffff;
	border-width: 0px;
	transition: color 1000ms;
	border-radius: 5px !important;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

.btn-secondary {
	@extend %sweep-to-right;
	border: 1px solid #e0e5e8 !important;
	background-color: transparent;
	box-sizing: border-box;
	color: #002985;
	font-size: 12px;
	line-height: 18px;
	border-radius: 5px;
	transition: color 1000ms;
}

.btn-previous {
	@extend %sweep-to-right;
	border: 1px solid #e0e5e8 !important;
	background-color: transparent;
	box-sizing: border-box;
	color: #002985;
	font-size: 12px;
	height: 55px;
	padding: 0px 24px 0px 24px;
	line-height: 18px;
	border-radius: 5px;
	transition: color 1000ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-primary-light {
	@extend %sweep-to-right;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	color: #002985;
	border-radius: 5px;
	transition: color 1000ms;
}

.btn-yellow {
	@extend %sweep-to-right;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 18px;
	border-radius: 5px;
	transition: all 1s;
	color: #ffffff;
	background: #ff7a00;
	height: 64px;
	padding: 0px 12px 0px 12px;
}

.btn-yellow:hover {
	border-radius: 5px;
	background: #ff9533;
}

.btn-yellow:before {
	border-radius: 5px;
	background: #ff9533;
}

.input-auth {
	max-width: 456px;
	width: 100%;
	height: 68px;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	transition: all 500ms;

	.icon {
		height: 100%;
		width: 52px;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.wrapping {
		.label {
			font-weight: 600;
			font-size: 16px;
			line-height: 18px;
			color: #868a92;
			margin-bottom: 0px;
			transition: all 300ms;
		}

		input {
			font-weight: bold;
			font-size: 16px;
			width: 100%;
			max-width: 350px;
			line-height: 18px;
			border-width: 0px;
			background-color: transparent;
			position: absolute;
			margin-top: -15px;
		}
	}

	.active {
		margin-bottom: 20px;

		.label {
			font-weight: normal;
			font-size: 12px;
			margin-bottom: 18px !important;
			// top: 90px;

			// margin-bottom: 0px;
			// bottom: 20px;
			// margin-top: -25px;
		}

		input {
			// margin-bottom: 40px;
		}

		// top: 20px;

		// input {
		// }
	}

	.wrepper-icon {
		margin-left: auto;
		margin-right: 16px;
	}
}

.active-input {
	background-color: #f3f7ff;

	.check-input {
		margin-top: 10px;

		path {
			fill: #004dff !important;
		}
	}
}

.track-input {
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	height: 56px;
	width: 398px;
	display: flex;
	border-color: #e0e5e8;
	align-items: center;
	flex-direction: row;

	.input-search {
		background: #ffffff;
		width: 100%;
		border: none;
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		margin-top: 0px !important;
		color: #868a92;
		padding-left: 32px;
	}

	.btn-track {
		@extend %sweep-to-right;
		width: 77px;
		height: 40px;
		background: #0045ff;
		box-shadow: 0px 2px 4px rgba(0, 94, 235, 0.3);
		border-radius: 5px;
		border-width: 0px;
		margin-right: 8px;
		font-size: 16px;
		line-height: 22px;
		color: #ffffff;
		transition: color 1000ms;
		margin-left: auto;
	}

	.btn-track:before {
		border-radius: 5px;
		background-color: #0a3eb8;
	}

	.btn-track:hover {
		border-radius: 5px;
		box-shadow: 0px 8px 16px rgba(10, 60, 194, 0.25);
	}

	.input-search:focus,
	.btn-track:focus {
		outline: none;
	}
}

.wrepper-btn-select {
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 56px;
	margin-bottom: 24px;
	cursor: pointer;

	.btn-select-home {
		@extend %sweep-to-right;
		box-sizing: border-box;
		color: #002985;
		transition: color 1000ms;
		border-radius: 0px 4px 4px 0px !important;
		padding: 0px 24px 0px 24px;
		background-color: #ffffff;
		color: #333333 !important;
		box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
	}

	.viwe-number {
		width: 52px;
		background: #edf1f8;
		border-radius: 4px 0px 0px 4px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		display: flex;
		box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
		justify-content: center;
		align-items: center;
		color: #333333;
	}

	&:hover {
		.viwe-number {
			background: #004dff;
			color: #ffffff;
		}
	}
}

.wrepper-btn-select-active {
	.btn-select-home {
		background-color: #f5f8ff;
	}

	.viwe-number {
		background: #004dff;
		color: #ffffff;
	}
}

.btn-previous:before {
	border-radius: 5px;
	background-color: #f5f8ff;
}

.search-button {
	@extend %sweep-to-right;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: #004dff;
	box-shadow: 0px 8px 16px rgba(0, 69, 255, 0.2);
	border-radius: 5px;
	height: 55px;
	width: 168px;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	transition: color 1s;
	padding: 0px 24px 0px 24px;
}

.search-button:before {
	background: #0a3eb8;
	border-radius: 5px;
}

.search-button:hover {
	box-shadow: 0px 8px 16px rgba(10, 60, 194, 0.25);
}

.btn-select-home:before {
	background-color: #f5f8ff;
	border-radius: 5px;
}

.btn-secondary:hover {
	border-radius: 5px;
	background-color: #f5f8ff;
}

.btn-secondary:before {
	border-radius: 5px;
	background: #f2f2f2;
}

.btn-secondary:hover {
	border-radius: 5px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.btn-primary:hover {
	// border-radius: 5px !important;
	box-shadow: 0px 8px 16px rgba(0, 41, 133, 0.25);
}

.btn-primary:before {
	border-radius: 5px !important;
	background-color: #0037b3;
}

.text-title-bg {
	font-weight: 800;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: -1px;
	color: #002985;
	width: 648px;
	text-shadow: 0px 0px 20px #ffffff;
}

.title-home {
	font-weight: 800;
	font-size: 36px;
	line-height: 52px;
	color: #333333;
}

.text-description-home {
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: #868a92;
}

.learn-more {
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	width: 100%;
	max-width: 330px;
	display: flex;
	align-items: center;
	color: #0045ff;
	margin-top: 24px;
	transition: justify-content 0.3s;
	cursor: pointer;

	.animation-arrow-left {
		display: flex;
		align-items: center;
		margin-left: 24px;
		transition: margin-left 0.3s;
	}

	&:hover {
		.animation-arrow-left {
			margin-left: 74px;
		}

		.size-s {
			margin-left: 170px;
		}
	}
}

.header-home {
	width: 100%;
	transition: all 0.5s ease-out;
	height: 92px;
	position: fixed;
	top: 0;
	z-index: 9;

	&.schedules {
		background: white;
	}

	.container-header-home {
		display: flex;
		margin: 0px auto 0px auto;
		max-width: 1128px;
		justify-content: space-between;
		height: 100%;
		align-items: center;

		img {
			cursor: pointer;
		}

		.menu-home {
			display: flex;
			align-items: center;
			transition: width 2s, height 4s;
			height: 92px;

			.text-header {
				font-weight: bold;
				font-size: 14px;
				line-height: 18px;
				color: #333333;
				cursor: pointer;
				margin-right: 32px;
				transition: color 0.3s;
			}

			.text-header:hover {
				color: #004dff;
			}

			.text-header:last-of-type {
				margin-right: 48px;
			}

			.text-language {
				font-weight: bold;
				font-size: 12px;
				line-height: 18px;
				color: #868a92;
				margin-left: 10px;
				cursor: pointer;
			}

			.text-language:hover {
				color: #004dff;
			}

			.register {
				margin-left: 24px;
				width: 88px;
				height: 44px;
				margin-bottom: 1px;
			}

			.login {
				margin-left: 24px;
				width: 88px;
				height: 44px;
			}

			.item-drop-down {
				cursor: pointer;
				display: flex;
				align-items: center;
			}

			.item-drop-down-column {
				cursor: pointer;
				display: flex;
				align-items: center;
				flex-direction: column;
				height: 92px;
				justify-content: center;
			}

			.open-item-drop-down {
				background: #ffffff;
				box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2);
				border-radius: 5px;
				position: absolute;
				top: 75%;
				padding-top: 8px;
				padding-bottom: 8px;
				z-index: 1;
				padding-left: 8px;
				padding-right: 8px;
				display: none;
			}

			.item-drop-down-column:hover .open-item-drop-down {
				display: block;
			}
		}
	}
}

.header-active {
	height: 80px;
	transition: all 0.1s ease-in;
	background: #ffffff;
	box-shadow: 0px 4px 8px rgba(50, 50, 93, 0.05);
	// z-index: 2;
}

.app-home {
	.layout-home {
		min-height: 812px;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;

		.wrepper-top {
			margin: 0px 40px 0px 40px;
			max-width: 1128px;
			width: 100%;
			padding-top: 192px;
		}
	}

	.container {
		.intro-search {
			width: 100%;
			max-width: 1128px;
			position: absolute;
			margin: -100px auto 0px auto !important;
			z-index: 5;
			left: 0;
			right: 0;

			.intro-card-container {
				.wrepper-tab {
					.tab {
						float: left;
						width: 120px;
						height: 48px;
						background: #fafafa;
						font-weight: bold;
						font-size: 16px;
						line-height: 24px;
						justify-content: center;
						align-items: center;
						display: flex;
						color: #868a92;
						cursor: pointer;
					}

					.tab:first-of-type {
						border-radius: 5px 0px 0px 0px;
					}

					.tab:last-of-type {
						border-radius: 0px 5px 0px 0px;
					}

					.selected {
						background: #ffffff;
						color: white;
						color: #333333;
						border-bottom: 2px solid #004dff;
					}
				}

				.tab-pane {
					position: relative;
					max-width: 1128px;
					width: 100%;
					z-index: 4;
					min-height: 104px;
					// overflow: hidden;
					clear: left;
					background: #ffffff;
					box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.05);
					border-radius: 0px 5px 5px 5px;

					.tab-select-booking {
						display: grid;
						grid-template-columns: auto auto auto auto;
						// grid-gap: 24px;
						min-height: 104px;
						height: 100%;

						.grid-item {
							text-align: start;

							.title {
								font-weight: bold;
								font-size: 12px;
								line-height: 18px;
								margin: 16px 0px 0px 16px;
								color: #868a92;
							}

							.button-select {
								cursor: pointer;
								height: 48px;
								display: flex;
								list-style: none;
								width: 100%;
								padding: 0px 24px 0px 16px;
								margin-top: 8px;
								justify-content: space-between;
								align-items: center;
							}

							img {
								height: 0px;
							}
						}

						.grid-item:nth-child(1) {
							padding-right: 36px;
							border-right: 1px dashed #e0e5e8;
						}

						.grid-item:nth-child(2)::after {
							position: relative;
							content: url('./images/icons/left-right.svg');
							left: -40px;
							text-align: center;
							top: -36px;
						}

						.grid-item:nth-child(2) {
							padding: 0px 36px 0px 28px;
						}

						.grid-item:nth-child(3) {
							padding: 0px 36px 0px 28px;
							border-right: 1px solid #e0e5e8;
							border-left: 1px solid #e0e5e8;
						}

						.grid-item:nth-child(4) {
							padding: 0px 0px 0px 28px;
						}
					}
				}

				.box {
					display: inline-block;
					white-space: nowrap;
					position: absolute;
					// position:relative;
					z-index: 1;
					width: 100%;
					height: 100%;
					text-align: center;
					z-index: 90;
				}
			}
		}

		.container-promo {
			padding-top: 316px;
			width: 100%;
			max-width: 1128px;
			margin: 0px auto 0px auto;

			.flex {
				display: flex;
				justify-content: space-between;
				@extend %hidden-relative;
			}

			.bt-see-all {
				font-size: 14px;
				cursor: pointer;

				&:hover {
					color: #004dff;
				}
			}

			img {
				margin-top: 28px;
				border-radius: 10px;
			}
		}

		.btn-rules {
			width: 193px;
			height: 60px;
			font-size: 16px;
			line-height: 24px;

			// @extend %hidden-relative;
		}

		.wrepper-rules-map {
			width: 100%;
			min-height: 910px;
			padding-top: 259px;
			background-image: url('../assets/images/home/bg-map-about.jpg');
			background-repeat: no-repeat;
			background-position: right top;
			@extend %hidden-relative;
			// background-attachment: fixed;
			// transform: translateZ(0);

			.container-rules {
				max-width: 1128px;
				margin: 0px auto 0px auto;

				.text-title-rules {
					width: 569px;
					font-size: 36px;
					line-height: 52px;
					// @extend %hidden-relative;
				}

				.child-title-rules {
					max-width: 552px;
					font-size: 14px;
					margin-top: 32px;
					line-height: 32px;
					color: #868a92;
					// @extend %hidden-relative;
				}

				// .btn-rules:last-of-type {
				//   margin-left: 24px;
				// }
			}
		}

		.bg-image {
			// background-image: url("../assets/images/home/bg-round-2.png"), url("../assets/images/home/bg-round-border.png");
			background-repeat: no-repeat;
		}

		.our-service {
			max-width: 1128px;
			margin: 80px auto 0px auto;
			// height: 860px;
			// background-image: url('../assets/images/home/bg-round-border.png');
			background-repeat: no-repeat;
			// background-attachment: fixed;

			.title-home {
				text-align: center;
				@extend %hidden-relative;
			}

			.tab-pane {
				display: flex;
				margin-top: 40px;
				justify-content: center;
				align-items: center;
				padding-bottom: 32px;
				flex-wrap: wrap;

				@extend %hidden-relative;

				.text-active {
					color: #333333 !important;
					background: #3c63af !important;
					transition: all 0.3s;
					width: 24px;
					height: 3px;
				}

				.wrepper-tab {
					align-items: center;
					// justify-content: center;
					flex-direction: column;
					display: flex;
					margin-right: 40px;
					transition: all 0.3s;

					.active {
						color: #333333 !important;
						transition: all 0.3s;
					}

					.tab {
						display: flex;
						font-weight: bold;
						font-size: 18px;
						line-height: 32px;
						color: #a1afb7;
						cursor: pointer;
						transition: all 0.3s;
						margin-bottom: 15px;
					}

					// &:last-of-type {
					//   .tab::after {
					//     margin-left: 8px;
					//     padding-bottom: 1px;
					//     font-style: normal;
					//     font-weight: 800;
					//     line-height: 6px;
					//     display: flex;
					//     justify-content: center;
					//     align-items: center;
					//     color: #ffffff;
					//     content: "Baru";
					//     font-size: 10px;
					//     width: 40px;
					//     height: 20px;
					//     border-radius: 11px;
					//     background: #004dff;
					//   }
					// }

					span {
						margin-left: 8px;
						padding-bottom: 1px;
						font-style: normal;
						font-weight: 800;
						line-height: 6px;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #ffffff;
						content: 'Baru';
						font-size: 10px;
						width: 40px;
						height: 20px;
						border-radius: 11px;
						background: #004dff;
					}

					// &:hover {
					//   .tab {
					// color: #333333;
					// @extend %activeTab;
					//   }
					// }
				}
			}

			.text-description {
				font-size: 14px;
				line-height: 32px;
				max-width: 551px;
				color: #868a92;
			}

			.tab-active-wp {
				@extend %hidden-relative;
			}

			.tab-active {
				display: flex;
				margin-top: 64px;
				// @extend %hidden-relative;
				max-height: 311px;

				.background-img {
					width: 100%;
					max-width: 431px;
					// height: 291px;
					background: #ffffff;
					border-radius: 8px;
					box-shadow: -48px 48px white;

					.fright-img {
						border-radius: 8px;
						max-width: 431px;
						max-height: 311px;
						box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
					}
				}

				.tab-right {
					margin-left: 50px;
					display: flex;
					max-height: 311px;
					// justify-content: space-between;
					flex-direction: column;
					justify-content: space-between;

					.btn-next {
						width: 155px;
						height: 60px;
					}
				}
			}
		}

		.text-description-home {
			@extend %hidden-relative;
		}

		.must-logol {
			max-width: 1128px;
			margin: 168px auto 0px auto;
			// height: 860px;

			.title-home {
				text-align: center;
				@extend %hidden-relative;
			}
			.content-must-logol {
				// margin-top: 86px;
				// margin-bottom: 161px;
				// display: flex;
				// align-items: center;
				// justify-content: space-around;
				@extend %hidden-relative;

				.wrepper-select {
					display: flex;
					@extend %hidden-relative;

					.right {
						margin-left: 24px;
					}
				}

				img {
					margin-left: 52px;
					@extend %hidden-relative;
				}
			}
		}

		.content-membership {
			// height: 256px;
			padding-top: 72px;
			padding-bottom: 72px;
			background-color: #002985;
			display: flex;
			background-position: right;
			background-image: url('../assets/images/home/bg-ads.jpg');
			background-repeat: no-repeat;

			.wrepper-membership {
				display: flex;
				flex-wrap: wrap;
				margin: 0px auto 0px auto;
				max-width: 1128px;
				width: 100%;
				align-items: center;
				justify-content: space-between;

				.title-home {
					letter-spacing: -0.3px;
					color: #ffffff;
					@extend %hidden-relative;
				}

				.text-description-home {
					line-height: 28px;
					margin-top: 8px;
					max-width: 607px;
					font-size: 16px;
					text-align: left;
					font-weight: 600;
					letter-spacing: 0.1px;
					color: #ffffff;
					@extend %hidden-relative;
				}

				.btn-yellow {
					@extend %hidden-relative;
				}
			}

			img {
				@extend %hidden-relative;
			}
		}

		.content-easier-order {
			min-height: 1345px;
			padding-top: 184px;

			background-repeat: no-repeat;
			background-position: left;
			// background-position-x: 140px;
			background-image: url('../assets/images/home/bg-round-1.png');

			.wrepper-easier-order {
				.title-home {
					text-align: center;
					@extend %hidden-relative;
				}

				.text-description-home {
					@extend %hidden-relative;
				}

				.content-card {
					margin: 0px auto 0px auto;
					max-width: 1128px;
					width: 100%;
					margin-top: 72px;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;
					@extend %hidden-relative;

					.wrp-round {
						width: 35.15px;
						height: 35.15px;
						border-radius: 17px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin: auto 0px auto 0px;
						background: rgba(0, 69, 255, 0.04);

						&:last-child {
							display: none;
						}
					}

					.card-wrepper {
						width: 100%;
						max-width: 186px;
						min-height: 300px;
						background: #ffffff;
						text-align: center;
						box-shadow: 0px 13.3902px 26.7805px rgba(0, 0, 0, 0.05);
						border-radius: 8.3689px;
						padding: 33.48px 13.39px 33.48px 13.39px;

						.child-round {
							font-weight: 600;
							font-size: 20.8px;
							line-height: 28px;
							color: #27377d;
							text-align: center;
							margin-top: 20.19px;
						}

						.child-desc {
							font-size: 11.7165px;
							line-height: 23px;
							text-align: center;
							color: #707070;
							margin-top: 13.39px;
						}

						// .card-round {
						//   width: 160px;
						//   height: 160px;
						//   border-radius: 80px;
						//   display: flex;
						//   justify-content: center;
						//   align-items: center;
						//   background: #ffffff;
						//   box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
						// }
					}

					.wr-card-list {
						margin-top: 64px;
						display: flex;
						align-items: center;
						justify-content: space-around;

						&::after {
							content: url(../assets/images/icons/arrow-right-home.svg);
							margin: 6px;
						}
					}
					.wr-card-list:nth-last-child(1) {
						&::after {
							content: '';
							display: none;
						}
					}
				}

				.content-video {
					padding-top: 240px;

					.wrepper-video {
						margin: 0px auto 0px auto;
						max-width: 1128px;
						display: flex;

						video {
							object-fit: cover;
							background-color: red !important;
							border-radius: 10px;
							z-index: -1;
							position: fixed;

							max-width: 455px;
							width: 100%;
							height: auto;
						}

						.bg-video {
							cursor: pointer;
							max-width: 456px;
							width: 100%;
							height: 257px;
							background-repeat: no-repeat;
							background-size: contain;
						}

						.wrepper-right {
							margin-left: 119px;

							.title-home {
								// width: 293px;
								text-align: start;
							}

							.text-description-home {
								width: 456px;
								text-align: start;
								margin-top: 16px;
							}
						}
					}
				}
			}
		}

		.bg-parallax-two {
			background-image: url('../assets/images/home/bg-testimoni.png');
			background-position: right;
			background-repeat: no-repeat;
			background-color: transparent;
			height: auto;
			padding-bottom: 148px;

			.testimoni {
				// height: 860px;
				padding-top: 80px;
				margin: 0px auto 0px auto;
				max-width: 1128px;

				.content-testimoni {
					.title-home {
						text-align: center;
						line-height: 52px;
						@extend %hidden-relative;
					}

					.text-description-home {
						margin-top: 32px;
						@extend %hidden-relative;
					}
				}

				.wrepper-testimoni {
					margin: 144px auto 0px auto;
					max-width: 1128px;
					@extend %hidden-relative;

					.list-card {
						display: flex;

						.select-view {
							@extend %sweep-to-right;

							width: 100%;
							height: 114px;
							background: #ffffff;
							border-radius: 4px 0px 0px 4px;
							margin-top: 8px;
							border-left-style: solid;
							border-left-color: #ffffff;
							border-left-width: 4px;
							padding-left: 24px;
							display: flex;
							flex-direction: column;
							justify-content: center;
							transition: all 1000ms;

							.text-name {
								font-weight: bold;
								font-size: 20px;
								line-height: 34px;
								color: #333333;
							}

							.text-description {
								font-size: 16px;
								line-height: 24px;
								color: #85859b;
								margin-top: 8px;
							}

							.text-company {
								font-style: normal;
								font-weight: normal;
								font-size: 16px;
								line-height: 24px;
								color: #85859b;
							}

							&::first-of-type {
								margin-top: 0px;
							}
						}

						.select-view::hover {
							border-radius: 5px !important;
							background-color: #f5f8ff;
							border-left-color: #0045ff;
						}

						.select-view::before {
							border-radius: 5px !important;
							background-color: #f5f8ff;
							border-left-color: #0045ff;
						}

						.select-view-active {
							border-left-color: #0045ff;
							background-color: #f5f8ff;
						}
					}

					.card-testimoni {
						position: absolute;
						margin-left: auto;
						margin-left: 575px;
						padding: 72px 35px 0px 35px;
						z-index: 1;
						margin-bottom: 100px;
						margin-top: -420px;
						height: 470px;
						width: 553px;
						background: #ffffff;
						box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
						border-radius: 10px;

						.text-testimoni {
							margin-top: 40px;
							font-size: 14px;
							line-height: 32px;
							color: #333333;
						}
					}
				}
			}

			.wp-content-logo {
				margin: 226px auto 0px auto;
				max-width: 1128px;

				.title-home {
					text-align: center;
					margin-bottom: 36px;
				}
			}

			.content-logo {
				min-height: 160px;
				display: flex;
				background: #ffffff;
				box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
				border-radius: 20px;
				width: 100%;
				justify-content: space-between;
				align-items: center;
				padding: 0px 113px 0px 113px;
				flex-wrap: wrap;
				overflow: auto;

				img {
					@extend %hidden-relative;
				}
			}

			.content-mobile-phone {
				// margin-top: 148px;
				margin: 0px auto 0px auto;
				max-width: 1128px;
				width: 100%;
				min-height: 712px;
				height: 712px;
				display: flex;
				align-items: center;

				img {
					margin-top: 32px;
					@extend %hidden-relative;
				}

				.wrepper-right {
					margin-left: 64px;

					.text-title {
						font-weight: 800;
						font-size: 36px;
						line-height: 52px;
						color: #333333;
						@extend %hidden-relative;
					}

					.text-description {
						width: 456px;
						font-size: 18px;
						line-height: 32px;
						color: #333333;
						margin-top: 32px;
						@extend %hidden-relative;
					}
				}
			}
		}
	}
}

.customer-service {
	width: 100%;
	// height: 169px;
	padding: 88px 0px 88px 0px;
	background: #0045ff;
	display: flex;
	align-items: center;

	.text-customer {
		font-size: 20px;
		// line-height: 25px;
		color: #ffffff;
		font-weight: bold;
	}

	.wp-customer-service {
		max-width: 1128px;
		width: 100%;
		margin: 0px auto 0px auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.left {
		display: flex;
		align-items: center;

		img {
			margin-right: 26.2px;
		}

		.wrepper-text {
			.text-customer {
				&:last-of-type {
					font-weight: bold !important;
					font-size: 22px !important;
				}

				&:first-of-type {
					font-size: 18px !important;
					font-weight: normal !important;
				}
			}
		}
	}

	.right {
		.text-customer {
			margin-left: 52.75px;

			&:first-of-type {
				font-size: 20px !important;
			}

			&:last-of-type {
				display: flex;
				font-size: 18px !important;
				font-weight: normal;
			}

			.text-dec {
				margin-bottom: 0px;
				cursor: pointer;
				text-decoration: underline;
				font-weight: bold;
				font-size: 20px;
				line-height: 27px;
				margin-left: 8px;
			}
		}
	}
}

footer {
	.wrepper-top-footer {
		margin: 15px auto 0px auto;
		max-width: 1128px;
		width: 100%;
		display: flex;

		.content-left {
			height: 100%;
			margin-top: 49px;
			max-width: 384px;
			width: 100%;

			.text-logol {
				font-size: 20px;
				line-height: 27px;
				margin-top: 56px;
				color: #131313;
			}

			.text-address {
				font-size: 14px;
				line-height: 19px;
				color: #868a92;
				margin-top: 13px;
				width: 232px;

				&::first-of-type {
					margin-top: 28px;
				}
			}
		}

		.content-right {
			margin-top: 49px;

			.tr-table {
				margin-top: 21.78px;
				display: flex;
			}

			.tr-table:nth-child(1) {
				margin-top: 0px;

				.th-table:hover {
					color: #27377d;
					cursor: auto;
				}
			}

			.th-table {
				min-width: 168px;
				margin-right: 24px;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 22px;
				color: #333333;
				margin-top: 15px;
				cursor: pointer;
			}

			.th-table:hover {
				color: #0045ff;
			}

			.th-table:first-of-type {
				//margin-left: 0px;
			}

			.title-table {
				font-weight: bold;
				font-size: 20px;
				line-height: 27px;
				color: #27377d;
				margin-top: 0px !important;
			}

			.text-line {
				width: 34.81px;
				height: 0px;
				margin-top: 13.32px;
				border: 2px solid #3c63af;
				margin-bottom: 3.57px;
			}

			.tr-table {
				margin-top: 4px !important;
			}
		}
	}

	.wrepper-bottom-footer {
		margin: 57px 0px 0px auto;
		max-width: 1128px;
		min-height: 96px;
		width: 100%;
		display: flex;
		margin-right: auto;

		.content-left {
			max-width: 384px;
			width: 100%;
			margin: auto 0px auto 0px;

			.wrepper-icon {
				width: 192px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.card-icon {
					height: 48px;
					width: 48px;
					display: flex;
					align-items: center;
					cursor: pointer;
				}
			}
		}

		.content-right {
			width: 100%;
			border-top: 1px solid #868a92;
			align-items: center;
			display: flex;
		}
	}
}

.split-wrepper {
	display: flex;
	height: 100%;

	.left {
		width: 100%;
		height: 100%;

		.container {
			margin: 0px auto 0px auto;
			max-width: 456px;
			width: 100%;

			.header {
				width: 100%;
				height: 100px;
				align-items: center;
				display: flex;
			}

			.content {
				margin-top: 96px;

				.text-welcome {
					font-size: 20px;
					line-height: 34px;
				}

				.text-welcome:first-of-type {
					margin-top: 8px;
				}

				.hello {
					font-weight: 800;
					font-size: 36px;
					line-height: 52px;
				}

				.form {
					margin-top: 40px;
					box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
					border-radius: 5px;
				}

				.wrepper-bottom {
					display: flex;
					padding: 16px 16px 0px 16px;
					justify-content: space-between;
					align-items: center;

					.wrepper-checkbox {
						margin-left: 8x;
						display: flex;

						.text {
							margin-left: 24px;
						}
					}
				}

				.wrepper-button {
					margin-top: 40px;

					.btn {
						width: 168px;
						height: 48px;
						border-width: 0px !important;
						font-weight: bold;
						font-size: 16px;
					}

					.register {
						margin-left: 24px;
					}
				}

				.text {
					font-weight: bold;
					font-size: 12px;
					line-height: 18px;
					color: #868a92;
				}

				.list-icon {
					margin-top: 17px;

					.icon {
						cursor: pointer;
					}
				}

				.login {
					background: #004dff;
					box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
					color: #ffffff;
				}
			}
		}
	}

	.right-bg {
		width: 100%;
		height: 100%;
		background-image: url('../assets/images/bg/login-truck.jpg');
		background-repeat: no-repeat;
		// background-size: contain;
		background-size: cover;
	}
}

.login-truck {
	// .right-bg {
	// font-size: 12px;
	// line-height: 18px;
	// padding: ;

	// .text-1 {
	//   font-weight: bold;
	// }

	// .text-2 {
	//   font-weight: normal;
	// }

	// .line {
	//   width: 4px;
	//   height: 66px;
	//   background: #FFFFFF;
	//   transform: rotate(90deg);
	// }
	// }
}

.content-r-show {
	width: 100%;
}
.inline-style {
	display: inline-block;
}

.wrapper-floating-scroll-top {
	position: fixed;
	z-index: 1;
	right: 25px;
	bottom: 100px;
	display: none;
	transition: all 0.3s;

	.grid {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		transition: all 0.3s;

		&:hover .showSpan {
			display: block;
		}
	}

	.showSpan {
		width: 146px;
		height: 40px;
		background: #ffffff;
		margin-right: -10px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
		border-radius: 19px 0px 0px 19px;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		text-align: center;
		padding-top: 9px;
		display: none;
		cursor: pointer;
	}

	.floating-scroll-top {
		width: 52px;
		height: 52px;
		background: #ffffff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
		border-radius: 26px;
		cursor: pointer;
		display: none;
		text-align: center;
		padding: 16px;
		transition: all 0.3s;

		&:hover {
			background: linear-gradient(69.82deg, #005eeb 0%, #466fff 100%);
			box-shadow: 0px 4px 8px rgba(0, 69, 255, 0.25);
		}

		&:active {
			background: linear-gradient(69.82deg, #0046ae 0%, #0031e0 100%);
			box-shadow: 0px 4px 26px rgba(0, 69, 255, 1);
		}
	}

	.floating-scroll-top-active {
		display: block;
	}
}

.wrapper-floating-scroll-top-active {
	display: block;
}

.flex-row-style {
	display: flex;
	flex-flow: row;
}

.flex-column-style {
	display: flex;
	flex-flow: column;
}

.box-white {
	background: #ffffff;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}

.bt-no-border {
	border: none;
}
