@import './variables/colors.module.scss';
@import './scss/btn/sweepToRight.scss';

.splitWrepper {
	display: flex;
	height: 100%;
}

.left {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 100px;
	align-items: center;
	display: flex;
}

.container {
	margin: 0px auto 0px auto;
	max-width: 468px;
	width: 100%;
	padding: 0px 12px 0px 12px;
	overflow: scroll;

	// ::-webkit-scrollbar {
	//     width: 0px;
	//     background: transparent; /* make scrollbar transparent */
	// }
	scrollbar-width: none;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.content {
	margin-top: 96px;
}

.textWelcome {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 34px;
}

.text-welcome:first-of-type {
	margin-top: 8px;
}

.hello {
	font-weight: 800;
	font-size: 36px;
	line-height: 52px;
}

.form {
	margin-top: 40px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.wrepperBottom {
	display: flex;
	padding-top: 17px;
	justify-content: space-between;
	align-items: center;
}

.wrepperCheckbox {
	margin-left: 8x;
	display: flex;
}

.text {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #868a92;
}

.contentBg {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	// padding: 147px 0px 0px 0px;
	background-size: cover;
	transition: 2s ease all;
}

.activeBg {
	transition: 5s ease all;
	animation: opacityBg 2s;
}

@keyframes opacityBg {
	from {
		opacity: 0.3;
	}

	to {
		opacity: 1;
	}
}

%btn {
	width: 168px;
	height: 48px;
	border-width: 0px !important;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

.btnPrimary {
	@extend %btn;
	@extend %sweep-to-right;
	width: 100%;
	background: $mainblue;
	color: $whitef2;
	margin-top: 41px;
}

.btnPrimary:before {
	background-color: $darkblue;
	box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
}

.text1 {
	font-weight: bold;
	color: $whitef2;
	font-size: 12px;
	line-height: 18px;
}

.text2 {
	color: $whitef2;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.line {
	height: 4px;
	width: 66px;
	background: #ffffff;
}

.lineAT {
	width: 100%;
	height: 1px;
	background-color: #e0e5e8;
}

.select {
	margin-top: 32px;
	width: 100%;
	max-width: 456px;
	height: 65px;
	border-radius: 50%;
	background: $whitef4;
	border-radius: 100px;
	padding: 8px;
	display: flex;
	align-items: center;
}

.contentSelect {
	width: 220px;
	height: 49px;
	border-radius: 24.5px;
	display: flex;
	position: absolute;
	transition: all 0.4s ease;
}

.first-active {
}

.second-active {
	transition: all 0.4s ease;
}

.tabSelect {
	// @extend %sweep-to-right;

	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	background: transparent;
	color: $darkgrey;
	max-width: 220px;
	width: 100%;
	height: 49px;
	border-radius: 24.5px;
}

.actSelect {
	@extend %sweep-to-right;

	border-radius: 24.5px !important;
	background: $darkblue;
	color: $whitef4;
}

.blue {
	color: $mainblue;
	cursor: pointer;
}

.textBottom {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
}

.text3 {
	font-size: 20px;
	line-height: 34px;
}

.btnLeft {
	@extend %sweep-to-right;

	width: 100%;
	max-width: 268px;
	height: 48px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #004dff;
	color: $whitef4;
	border-radius: 5px;
}

.btnLeft::before {
	border-radius: 5px;
	background-color: $darkblue;
	box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
}

.btnLeft::hover {
	border-radius: 5px;
	box-shadow: 0px 12px 24px rgba(0, 94, 235, 0.25);
}

.text4 {
	margin-top: 150px;
	color: #707070;
	font-size: 16px;
}

.information {
	display: flex;
	margin-top: 25px;
}

.text5 {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	margin-left: 27px;
}

.cardBg {
	height: 80%;
	width: 417px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin: 0px auto 133px auto;
}

.textBg {
	color: #ffffff;
	font-weight: 800;
	font-size: 36px;
	line-height: 52px;
}

.decBg {
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
}

.detailContent {
	margin-left: 55px;
	width: 456px;
}

.contentRound {
	width: 360px;
	height: 52px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 16px 15px 16px;
	font-size: 16px;
	line-height: 24px;
}

.detailContainer {
	display: flex;
	margin: 42px 0px 107px 49px;
}

.mrTop {
	margin-top: 4px;
}

.flexDt {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}

.flexDt:nth-child(1) {
	margin-top: 8px;
}

.inputNo {
	width: 72px;
	height: 52px;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
}

.input {
	width: 44px;
	border: none;
	border-radius: 5px;
	padding-left: 13px;
}

.input[type='number'] {
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.btnSelect {
	width: 28px;
	background: #ffffff;
	border-left: 1px solid #e0e5e8;
	box-sizing: border-box;
	border-radius: 5px;
}

.click {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 26px;

	&:last-of-type {
		border-top: 1px solid #e0e5e8;
	}
}

.arrowDownDetail {
	margin-left: 8px;

	-webkit-animation: rotateBack 0.4s;
	-moz-animation: rotateBack 0.4s;
	animation: rotateBack 0.4s;
}

.arrowUpDetail {
	-ms-transform: rotate(20deg);
	transform: rotate(180deg);

	-webkit-animation: rotate 0.4s;
	-moz-animation: rotate 0.4s;
	animation: rotate 0.4s;
}

@keyframes rotateBack {
	0% {
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes rotate {
	0% {
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

.seeDetailSt {
	cursor: pointer;
	margin-top: 16px;
}

.lineDetail {
	width: 100%;
	border: 1px solid #e0e5e8;
	margin-top: 40px;
}

.btnLight {
	@extend %btn;
	@extend %sweep-to-right;
	width: 100%;
	margin-top: 41px;
	background-color: #ffffff;
	width: 183px;
	border: 1px solid #ececec !important;
}

.btnLight:before {
	background: #f2f2f2;
}

.btnDetail {
	width: 183px;
}

.font14 {
	font-size: 12px !important;
	margin-top: 8px;

	&:first-of-type {
		margin-top: 0px;
	}

	&:last-of-type {
		margin-top: 0px;
	}
}

.addTruckFlex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
}

// input[type=checkbox] {
//     background-color: #005EEB;
//     width: 16px;
//     height: 16px;
//     margin-right: 16px;
//     cursor: pointer;
// }

.addTruckSy {
	// padding-top: 9px;
	// justify-content: center;
	// align-items: center !important;
	// display: flex;
	width: 100%;
	cursor: pointer;
}

.ruteTruck {
	display: flex;
	align-items: center;
}

.rightArrowSearhcIcon {
	transform: rotate(90deg);
}

.track {
	display: flex;
	align-items: center;
}

.textRute {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	margin-left: 8px;
}

.itemInBg {
	margin: 0px auto 0px auto;
	width: 417px;
}

.alertBanner {
	max-width: 73%;
	height: 33px;
	background: rgba(212, 71, 71, 0.15);
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 16px;
	flex: 1;
	display: flex;
}

@media (max-width: 600px) {
	.container {
		// padding: ;
	}
}
