@import "./responsive.module.scss";

%content {
    max-width: 1128px;
    width: 100%;
    margin: 0px auto 0px auto;
}

.bgTop {
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 838px;
    height: 100%;

    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    .contentBg {
        @extend %content;
        .subTitle {
            margin-top: 34px;
            max-width: 453px;
        }
    }
}

.content {
    @extend %content;
}

.title {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    white-space: pre-wrap;
}

.subTitle {
    font-size: 18px;
    line-height: 32px;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.8);
}

.scssDocSvg {
    width: 68px;
    height: 68px;
    background: #e8edfc;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wpCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -150px;
    margin-bottom: 249px;
    align-items: center;
}

.cardEDoc {
    width: 100%;
    max-width: 264px;
    height: 303px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 24px;
    margin-top: 24px;

    div {
        margin-top: 16px;
    }
}

.titleCard {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.subTitleCard {
    font-size: 14px;
    line-height: 28px;
}
