@media only screen and (max-width: 1128px) {
    .content {
        padding: 0px 24px 64px 24px;
    }
    .contentBg {
        padding: 0px 24px 0px 24px;
    }
}

@media only screen and (max-width: 600px) {
    .bgTop {
        min-height: 550px !important;
    }
    .cardEDoc {
    }
    .wpCard {
        margin-top: 0px !important;
        margin-bottom: 148px !important;
    }

    .cardEDoc {
        width: 100%;
        max-width: 100% !important;
    }
}