.sideMenuDocument {
	-webkit-transition: all 0.7s cubic-bezier(0.2, 0, 0, 1) 0s;
	background-color: #ffffff;
	width: 258px;	
	box-shadow: 12px 0px 24px rgba(0, 0, 0, 0.05);
	transition: all 0.7s cubic-bezier(0.2, 0, 0, 1) 0s;
	z-index: 1;
	border: 1px solid #E0E5E8;
	padding: 48px 24px;

	.wrapperCalendar{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 90px;

		.textCalendar{
			font-size: 12px;
			margin-left: 12.5px;
			color: #868A92;
		}
	}

	.textDocument{
		font-size: 28px;
		line-height: 34px;
		font-weight: 700;
		color: black;
		padding-bottom: 8px;
	}

	.textSubDocument{
		font-size: 12px;
		color: #868A92;
		line-height: 18px;
	}

	.wrapperButton{
		margin-top: 24px;
		display: flex;
		flex-direction: column;

		button{
			margin-top: 24px;
			border-radius: 5px;
			height: 72px;
			min-width: 186px;
			border: 0px;
			background: #FAFAFA;
			color: #002985;
			font-weight: 700;
			font-size: 14px;
			line-height: 24px;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 24px;
		}

		.buttonActive{
			background: #0045FF;
			color: #FFF;
		}

		.textButton{
			margin-left: 24px;
		}

	}

}

.flexContainer {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 20px;

	.flexItem {
		margin-right: 20px;
	}
}

.header{
	background-color: #FAFAFA;
	border-radius: 10px 10px 0 0;
	padding: 24px 30px 10px;

	.p {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 34px;
		color: #333333;
	}
}

.gatepass-uploadDocument{
	display: flex;
	flex-direction: row;
	margin-top: 20px;

}

.gatepassItems{
	display: flex;
	flex-direction: row;
	margin: 4px 0px;
	flex: 1;
	height: 48px;
	align-items: center;
	padding-right: 16px;

	text{
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		margin-right: 24px;
	}

	.textNama {
		width: 177px;
	}

	.textNpwp{
		flex-shrink: 1;
		flex: 1;
	}

	button{
		background-color: #E8EDFC;
		background: #E8EDFC;
		border: 0px;
		width: 48px;
		height: 22px;
		color: #0045FF;
		border-radius: 5px;
	}

}

.wrapperSelectedNPWP {
	flex-direction: row;
	display: flex;

	.flexItem {
		margin-right: 20px;
	}

}

.wrapperActionBack{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	flex: 1;

	text {
		margin-left: 24px;
		font-family: Nunito Sans;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 34px;
		letter-spacing: 0px;
		text-align: left;
	}

}

.wrapperPilihKontainer{
	margin-top: 40px;
	display: flex;
	flex-wrap: nowrap;
	width: 695px;
	flex-direction: column;

	span {
		text {
			font-weight: bold;
			font-family: Nunito Sans;
		}
	}

	.textCliclable {
		color: #0055FF;
		font-weight: bold;
		font-family: Nunito Sans;
		cursor: pointer;
	}

	.headerKontainer {
		height: 48px;
		background: #FAFAFA;
		margin-top: 24px;
		flex-direction: row;
		padding: 15px;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;

		span{
			flex: 1;
		}

		.price {
			width: 134px;
			text-align: end;
		}

	}

}

.table {
	flex: 1;
	width: 695px;
	margin-top: 40px;
	background-color: #FAFAFA;
	border: none;
	border-collapse: collapse;
	
	thead{
		background: #FAFAFA;
		padding: 15px;
		tr{
			height: 48px;
			text-align: center;
		}
	}

	tbody{
		background-color: white;
		tr{
			height: 40px;
			// text-align: center;
		}

		td {
			padding-left: 16px;
		}
	}

	.textPrice {
		text-align: end;
	}

	.textLeft {
		text-align: left;
	}
}

.buttonFooter {

	display: flex;
	flex-direction: row;
	align-content: flex-end;
	justify-content: flex-end;

	.buttonOutline {
		cursor: pointer;
		border: 1px solid #868A92;
		box-sizing: border-box;
		border-radius: 5px;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #868A92;;
		width: 218px;
		background-color: white;
		margin-right: 24px;
	}
}

.loadingBlockView{
	position: fixed;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	top: 0;
	bottom: 0;
	margin-left: -30px;
	// left: 20;
	// right: 20;
	width: 760px;
	height: 100%;
	// padding: 0 30px;
}

// Ipads
@media (min-width: 768px) and (max-width: 1024px) {
  // .dashboard {
  //   .wrepper-menu {
  //     display: none !important;
  //   }
  // }
}
.statusContainerIsStack{
	height: 22px;
	padding: 2px 19px;
	border-radius: 5px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 18px;
	background: #EBFAF7;
	color: #33CCB2;
}

.statusContainerIsStacked{
	background: #FFF7E8;
	color: #FE9301;
}

.listGatepass {
	display: block;

	.gridHeader{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// align-items: center;
	}

	.column{
		display: flex;
		flex-direction: column;
	}

	.title{
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		color: #333333;
	}
	
	.subTitle{
		margin: 8px 0px;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #868A92;
	}

	.buttonRequestGatepass {
		display: flex;
		flex-direction: row;
		width: 291px;
		height: 64px;
		background: #FFFFFF;
		border: 1px dashed #E0E5E8;
		box-sizing: border-box;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.03);
		border-radius: 8px;
		padding: 16px 30px;
		cursor: pointer;
		justify-content: space-between;
		align-items: center;
	}

	.textButtonRequestGatepass{
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;
		color: #333333;
	}

	.container{
		margin-top: 46px;
		min-height: 321px;
		background: #FFFFFF;
		border: 1px solid #ECECEC;
		box-sizing: border-box;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
		border-radius: 4px;
		padding: 16px 0px;
		padding-bottom: 52px;
	}

	.separator {
		border-bottom: 1px solid #ECECEC;
	}

	.paddingHorizontal{
		padding: 0px 28px;
	}

	.tabsWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 13px;
	}

	.tab{
		padding-bottom: 17px;
		margin-right: 24px;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 16.6px;
		line-height: 25px;
		color: #8A8A8A;
		cursor: pointer;
	}

	.tabActive {
		border-bottom: 2px solid #0045FF;
		color: #0045FF;
	}

	.wrapperSectionType {
		width: 236px;
		height: 42px;
		background: #FFFFFF;
		border: 1px solid #E0E5E8;
		box-sizing: border-box;
		border-radius: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 5px 4.5px;
		margin-bottom: 16px;
		flex-direction: row;
		justify-content: space-between;
	}

	.sectionType {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		color: #333333;
		width: 115.65px;
		text-align: center;
		height: 100%;
		padding-top: 3.5px;
		cursor: pointer;
	}

	.sectionTypeActive {
		background: #002985;
		border-radius: 100px;
		color: #FFFFFF;
	}

	.table {
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #333333;
		width: 100%;
		background-color: white;
		border-collapse: collapse;

		.tr {
			width: 100%;
			height: 56px;
		}

		.trContent {
			font-family: Nunito Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #333333;
			border: 1px solid #ECECEC;
		}

		.action{
			width: 76px;
			height: 31px;
			border-radius: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}

		.action:active {
			background-color: #6C6C6C !important;
		}

	}

}

.headerInvoice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.labelGantiMetodePembayaran {
	cursor: pointer;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #868A92;
}