@import "./responsive.module.scss";

%content {
    max-width: 1128px;
    width: 100%;
    margin: 0px auto 0px auto;
}

.containerTop {
    padding-top: 288px;
    height: 1006px;
}

.visiUs {
    // @extend %content;
    // margin: 0px auto 0px auto;
    // max-width: 754px;
    // width: 100%;
    // text-align: center;
    // flex-direction: column;
}

.ourStory {
    margin: 0px auto 0px auto;
    max-width: 754px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.subTitle {
    // text-align: center;
    font-size: 24px;
    line-height: 32px;
    text-shadow: 0px 0px 20px #ffffff;
    margin-top: 32px;
}


.title {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 0px 0px 20px #ffffff;

    &::nth-child(2) {
        margin-top: 19px;
    }
}

.cardDescription {
    margin-top: 32px;
    max-width: 648px;
    width: 100%;
    min-height: 620px;
    // box-shadow: 0px 80.2491px 69.3061px -51.7972px rgba(0, 0, 0, 0.05) !important;
    // border-radius: 20px;
    padding: 64px 39px 0px 24px;
    background-color: #ffffff;

    .textCtCard {
        font-size: 20px;
        line-height: 33px;
        width: 543px;
        height: 326px;
        margin-left: 31px;
        position: relative;
        overflow: hidden;
        font-style: normal;
        font-weight: normal;
        transition: all 0.5s;
        padding-right: 100px;

        .wrapper {
            position: relative;
            overflow: hidden;
            width: 600px;
            height: 370px;
            border: 1px solid black;
        }

        @-webkit-keyframes slide {
            100% {
                left: 0;
            }
        }

        @keyframes slide {
            100% {
                left: 0;
            }
        }
    }

    .topCard {
        display: flex;
    }

    .bottomCard {
        display: flex;

        div {
            margin: 32px auto 0px auto;
            cursor: pointer;
        }
    }
}

.cardDescription604 {
    background: #ffffff;
    border: 1px solid #e0e5e8;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 16px;
}

.imgCeoScss {
    background-repeat: no-repeat;
    // min-height: 660px;
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: flex-end;
    background-position: right bottom;
    padding-left: 100px;

    .cardTitle {
        margin-bottom: 70px;
        max-width: 230px;
    }
}

.cardTitleCeo {
    max-width: 240px;
    margin-left: 31px;
    width: 100%;
    border-left: 9px solid #0045ff;
    padding-left: 16px;
    margin-bottom: 40px;

    .cardTitleName {
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        // letter-spacing: -0.771429px;
        color: #1e1e1e;
    }
}

.cardTitle {
    padding: 8px;
    background-color: #ffffff;
    max-width: 200px;
    margin-bottom: 130px;
    margin-left: 20px;
    width: 100%;
    border-left: 9px solid #0045ff;
    box-shadow: 0px 61.9065px 53.4647px -39.9578px rgba(0, 0, 0, 0.05);
    border-radius: 7px;

    .title {
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.771429px;
        color: #1e1e1e;
    }
}

.wrIndicator {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .indicator {
        width: 7px;
        height: 7px;
        background-color: #eeeeee;
        border-radius: 7px;
        transition: all 0.5s;
        cursor: pointer;

        &::after {
            content: "";
            height: 55px;
            width: 3px;
            background-color: red;
        }
    }

    .indicatorActive {
        background-color: #0045ff !important;
    }
}

.roundIndicator {
    border: 2px solid #0045ff;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    transition: all 0.5s;

    .indicator {
        border-radius: 10px;
    }
}

.contentBg1 {
    padding: 0px 0px 240px 0px;
    background: url("../../images/bg/aboutUs/triangleAboutUs1.png") bottom left no-repeat,
        url("../../images/bg/aboutUs/roundAbutUs1.png") right no-repeat;
}

.contentBg2 {
    background: url("../../images/bg/aboutUs/roundAbutUs2.png") top left no-repeat,
        url("../../images/bg/aboutUs/roundAbutUs3.png") bottom right no-repeat;
}

.contentBg3 {
    position: relative;

    background: url("../../images/bg/aboutUs/triangleAboutUs2.png") top left no-repeat,
        url("../../images/bg/aboutUs/roundAboutUs4.png") right no-repeat;
}

.content {
    @extend %content;
}

.description {
    font-size: 16px;
    line-height: 24px;
    color: #868a92;
    margin-top: 32px;
}

.wrpContent {
    display: flex;
}

.talksScss {
    @extend %content;
    display: flex;
    justify-content: space-between;

    .left {
        max-width: 1128px;
        width: 100%;

        .title {
            margin-left: 66px;
        }

        .description {
            margin-left: 66px;
        }
    }

    .cardTitle {
        // margin-top: -130px;
    }
}

.lineCardTitle {
    margin: 6px 0px 6px 0px;
    width: 71px;
    height: 1px;
    background-color: #e8e8e8;
}

.txPositionScss {
    font-size: 14.3126px;
    line-height: 23px;
    color: #707070;
    text-shadow: 0px 0px 14.3126px #ffffff;
}

.functionaryCss {
    @extend %content;
    max-width: 1129px;
    display: flex;
    margin-top: 189px;
    justify-content: space-between;
    // padding-bottom: 30px;

    .cardFunctionary {
        background-repeat: no-repeat;
        min-height: 400px;
        // margin-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        background-position: center top;
    }
}

.ourService {
    display: flex;
    align-items: center;
    @extend %content;

    .cardOne {
        max-width: 358px;
    }

    .stepImg {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 264px;
        height: 320px;
        border-radius: 10px;
        position: relative;
        margin-left: 24px;
        cursor: pointer;
        transition: all 0.3s;

        .wpStep {
            background: linear-gradient(0deg, #04143d 28.12%, rgba(4, 28, 92, 0) 71.09%);
            width: 100%;
            position: absolute;
            display: flex;
            padding: 32px 40px 32px 40px;
            height: 100%;
            justify-content: flex-end;
            flex-direction: column;
            border-radius: 10px;

            .ourServiceNmae {
                font-weight: bold;
                font-size: 24px;
                line-height: 33px;
                letter-spacing: -1px;
                color: #ffffff;
                margin-bottom: 16px;
            }

            .ourServiceDoc {
                font-size: 14px;
                line-height: 24px;
                color: #ffffff;
                margin-bottom: 32px;
                transition: display 10s;
                display: none;
            }

            .detail {
                display: flex;
                align-items: center;

                .detailText {
                    margin-right: 11px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: #ffffff;
                    transition: margin-right 0.3s;
                }
            }
        }

        &:hover {
            height: 438px;
            border-radius: 10px;

            .wpStep {
                background: linear-gradient(360deg, #04143d 36.08%, rgba(4, 20, 61, 0) 81.01%);
                box-shadow: 0px 53px 69px -24px rgba(0, 51, 189, 0.25);
                border-radius: 10px;
            }

            .detailText {
                margin-right: 100px !important;
            }

            .ourServiceDoc {
                transition: display 10s;
                display: block !important;
            }
        }
    }
}

.contentStep {
    min-height: 438px;
    display: flex;
    width: 100%;
}

.flexMd {
    width: 100%;
    display: flex;
    justify-content: space-between;

    // padding-bottom: 30px;
    // margin-top: 30px;
}

.contentTrustedBy {
    @extend %content;
    padding-top: 120px;
    max-width: 1128px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin-bottom: 260px;

    .listIcon {
        max-width: 780px;
        width: 100%;
        flex-wrap: wrap;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        // align-items: center;
        grid-column-gap: 80px;
        grid-row-gap: 48px;

        // div {
        //     max-width: 180px;
        //     width: 100%;
        //     display: flex;
        //     justify-content: center;
        //     margin-top: 32px;
        // }
    }
}

.joinOur {
    margin-top: 433px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .wrJoinOur {
        margin-top: 112px;
        display: flex;

        &:last-of-type {
            margin-bottom: 246px;
            margin-top: 272px;

            .leftJoinOur {
                background-image: url(../../images/aboutUs/menJoinOur.png);

                .infoBtn:nth-child(1) {
                    top: 135px;
                    position: absolute;
                    left: -66px;
                }

                .infoBtn:nth-child(2) {
                    top: 239px;
                    position: absolute;
                    // left: 223px;
                }

                .infoBtn:nth-child(3) {
                    top: 336px;
                    position: absolute;
                    left: -22px;
                }
            }
        }

        &:first-of-type {
            .leftJoinOur {
                background-image: url(../../images/aboutUs/joinOur.png);
            }
        }
    }

    .rightJoinOur {
        margin-left: 80px;

        .title {
            font-size: 30px;
        }

        .description {
            margin-top: 24px;
            width: 100%;
            max-width: 549px;
        }
    }

    .leftJoinOur {
        background-image: url(../../images/aboutUs/joinOur.png);
        margin-left: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        width: 360px;
        height: 360px;
        position: relative;

        .infoBtn:nth-child(1) {
            top: 203px;
            position: absolute;
            left: -73px;
        }

        .infoBtn:nth-child(2) {
            position: absolute;
            top: 284px;
            right: -65px;
        }
    }
}

.infoBtn {
    height: 57px;
    background: #0045ff;
    box-shadow: 0px 10px 25px rgba(0, 94, 235, 0.25);
    border-radius: 10px;
    font-weight: bold;
    padding: 16px 24px;
    color: #ffffff;
    display: inline-block;
}

.learnMore {
    margin-top: 50px !important;
}

.flexMd {
    display: flex;
    justify-content: space-around;
}
