@media only screen and (max-width: 1128px) {
  %content {
    padding: 0px 20px 0px 20px;
  }

  .functionaryCss {
    display: block !important;
  }

  .talksScss {
    display: block !important;
  }

  .contentStep {
    display: block !important;

    .stepImg {
      margin-top: 24px;
    }
  }
  .contentBg2 {
    padding-top: 84px !important;
  }
  .cardOne {
    max-width: 100% !important;
  }

  .imgCeoScss {
    margin-top: 40px;
  }
  .contentBg1 {
    padding: 0px 0px 0px 0px !important;
  }
  .imgCeoScss {
    background-position: center bottom !important;
    justify-content: flex-start !important;

    min-height: 300px !important;
    background-size: contain;
    .cardTitle {
      margin-bottom: 60px !important;
    }
  }
  .contentBg3 {
    background-image: none !important;
    padding-top: 0px !important;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 600px) {
  .visiUs {
    max-width: 1128px;
    width: 100%;
    margin: 0px auto 0px auto;
  }

  .subTitle {
    // text-align: center;
    font-size: 24px;
    line-height: 32px;
    text-shadow: 0px 0px 20px #ffffff;
    margin-top: 32px;
    max-width: 377px;
  }

  .containerTop {
    background-image: url("../../images/aboutUs/about-logol.png");
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 600px) {
  .description {
    font-size: 14px !important;
    line-height: 24px !important;
    margin-top: 8px !important;
  }

  .contentTrustedBy {
    .description {
      text-align: center;
    }
  }
  .title {
    font-size: 20px !important;
    line-height: 27px !important;
  }
  .containerTop {
    background-image: url("../../images/aboutUs/bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 131px !important;
    height: auto !important;
    .visiUs {
      height: 410px !important;
      margin: 0px auto 0px auto;
      max-width: 754px;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
  }
  .flexMd {
    flex-direction: column;
    align-items: center;
  }

  .cardFunctionary {
    margin-top: 16px;
  }

  .talksScss {
    padding-bottom: 50px;

    .left {
      .title {
        margin-left: 0px !important;
      }

      .description {
        margin-left: 0px !important;
      }
    }
  }

  .contentBg1 {
    padding-top: 0px !important;
    background-image: none !important;
  }
  .contentBg2 {
    background-image: none !important;
  }

  .functionaryCss {
    padding-top: 0px !important;
    margin-top: 0px !important;
  }

  .contentTrustedBy {
    padding-top: 61px !important;
    margin-bottom: 53px !important;
  }

  .stepImg {
    margin-left: 0px !important;
  }

  .imgCeoScss {
    padding-left: 0px !important;
  }
}

@media only screen and (max-width: 320px) {
  .cardTitle {
    margin-top: 70px !important;
    max-width: 153px !important;

    .title {
      font-size: 14px !important;
    }

    .txPositionScss {
      font-size: 10px;
    }
  }
  .cardFunctionary {
    max-width: 200px !important;
    background-size: cover;
    align-items: center !important;
  }
}
