.autoCompleted {
	width: 100%;
	height: 56px !important;
	background: #ffffff;
	border: 1px solid #e0e5e8;
	padding-left: 16px;
	font-size: 16px;
	box-sizing: border-box;
	border-radius: 5px;
	text-overflow: ellipsis;

	&:focus {
		border: 1px solid #004dff;
	}
}

.wpTextSg {
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	margin-top: 9px;
	text-overflow: ellipsis;
}

.textP {
	margin-left: 11px;
	font-size: 16px;
	line-height: 24px;

	padding-right: 20px;
	max-width: 570px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.textSg {
	display: flex;
	height: 53px;
	align-items: center;
	padding-left: 10px;
	cursor: pointer;

	&:first-of-type {
		border-radius: 5px 5px 0px 0px;
	}

	&:last-of-type {
		border-radius: 0px 0px 5px 5px;
	}

	&:hover {
		background: #edf1f8;
	}
}

.wpAutoCompleted {
	width: 100%;
	display: flex;
	flex-direction: column;
	// max-width: 600px;
	// padding: 0px 24px 24px 24px;
	// height: 100%;
}

.error {
	border: 1px solid red !important;
}
