.containerIn {
	height: 53px;
	// border-top: 0px solid #FFFFFF !important;
	// border: 1px solid #D3D3D3;
	// box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 8px 8px;
	position: relative;
}

.inputCompleted {
	width: 100%;
	border-width: 0px;
	border-radius: 8px;
	margin-left: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 5px;
}

.wrapperInput {
	border: 1px solid #0045ff;
	box-sizing: border-box;
	border-radius: 8px;
	height: 53px;
	width: 100%;
	// max-width: 456px;
	display: flex;
	position: absolute;
	z-index: 2;
}

.suggestion {
	margin-top: 5px;
	padding-top: 47px;
	height: 270px;
	// height: 300px;
	text-overflow: ellipsis;
	width: 100%;
	border-top: 0px solid #ffffff !important;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	background-color: #ffffff;
	// box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 8px 8px;
	overflow: scroll;
}

.centerIcon {
	margin: auto 9.68px auto 0px;
	padding-top: 6px;
}

.itemScss {
	height: 53px;
	align-items: center;
	display: flex;
	margin: auto 35px auto 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}

.itemText {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	margin-left: 11px;
}
