@import "../../variables/colors.module.scss";

.inputAuth {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: all 500ms;
    border-bottom: 1px solid $whitef3;
}

.inputOutlined {
    border: 1px solid $whitef3;
    border-radius: 5px;
    padding: 16px;
    width: 40%;
    margin-left: 20px;
}

.inputAuth:first-of-type {
    border-radius: 5px 5px 0px 0px;
}

.active {
    margin-bottom: 15px;

    .label {
        font-weight: normal;
        font-size: 12px;
        margin-bottom: 18px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.wrapping {
    // white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    width: 100%;
}

.wrepperIcon {
    margin-left: auto;
    margin-right: 16px;
}

.icon {
    height: 100%;
    width: 52px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.label {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #868a92;
    margin-bottom: 0px;
    transition: all 300ms;
}

.input {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    line-height: 18px;
    border-width: 0px;
    background: transparent;
    position: absolute;
    margin-top: -15px;
    font-family: Nunito Sans;
}

.textareaStyle {
    background-color: transparent;
    position: inherit;
    margin-top: 6px;
    // color: #868a92 !important;
}

.fill {
    transition: all 500ms;
}

.checkInput {
    margin-top: 10px;
}

.activeInput {
    background-color: #f3f7ff;
}

.inactiveInput {
    border-bottom: 1px solid red;
}