@import '../../variables/colors.module.scss';

.phoneInput {
  border: 1px solid $lightgrey;
  box-sizing: border-box;
  border-radius: 5px;
  height: 52px;
  display: flex;
  flex-direction: row;
  flex: 1;

  .select {
    border-right: 1px solid $lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  input {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-style: italic;
    padding: 14px;

    &::placeholder {
      color: $whiteda;
    }
  }
}