@import '../../variables/colors.module.scss';

.container {
  background: $white;
  border: 1px solid $lightgrey;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 52px;
  position: relative;

  input {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Nunito Sans;
    font-weight: normal;
    font-style: italic;
    padding: 14px;

    &::placeholder {
      color: $whiteda;
    }
  }
}