@import '../../variables/colors.module.scss';

.bookingFilter {
  width: 264px;
  background: #FFFFFF;
  border: 1px solid $lightgrey;
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 16px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $lightgrey;
    padding: 0 16px;
  }
  .body {
    padding: 0 16px;
    .filterTitle {
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .filterItem {
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 24px;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}