@import '../../variables/colors.module.scss';

.datepicker {
	// width: 328px;
	// height: 150px;
	top: 125px;
	background: #ffffff;
	box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	display: block;

	.navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.navButton {
			width: 24px;
			height: 24px;
			border-radius: 12px;
			background: $whitef3;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			i.iconArrow {
				font-size: 12px;
				color: $darkgrey;
			}
		}

		.months {
			display: flex;
			flex-direction: row;

			.item {
				background: $whitef4;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				padding: 7px 10px;
				margin-right: 8px;
				display: none;
				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					background: $primary;
					display: block;

					p {
						color: white !important;
					}
				}
			}
		}
	}

	.dates {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 16px;

		.item {
			background: $whitef4;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 8px;
			padding: 12px 7px;
			margin-right: 8px;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background: $primary;

				p {
					color: white !important;
				}
			}
		}
	}
}
