.container {
  box-sizing: border-box;
  overflow: auto;
  padding-top: 92px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 26px;
    background: url("../../images/png/kapal-1.png");
    background-size: cover;
    height: 218px;
    width: 100%;
    z-index: -1;
  }
  a .header-home {
    background: white !important;
  }

  .content {
    padding: 0 156px;
    @media only screen and (max-width: 1402px) {
      padding: 0 107px;
    }

    @media only screen and (max-width: 1220px) {
      padding: 0 40px;
    }
  }
  .bookingMenu {
    margin-top: 112px;
  }

  .divider {
    display: flex;
    margin-bottom: 20px;
    .filter {
      margin-top: 42px;
      .filterContent {
        margin-top: 34px;
      }
    }
    .result {
      margin-left: 24px;
      margin-top: 27px;
      display: flex;
      flex-direction: column;
      flex: 1;
      .resultContent {
        margin-top: 24px;
      }
      .pagination {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
