@import '../../variables/colors.module.scss';

.container {
  display: flex;
  align-items: center;
  .numbers {
    display: flex;
    .numberItem {
      width: 30px;
      height: 30px;
      border: 1px solid $lightgrey;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2px;
      &.active {
        background: $mainblue;
        border: 1px solid $mainblue;  
        p {
          color: $white !important;
        }
      }
    }
  }
  .buttonNext {
    background: $transparent !important;
    color: $grey1 !important;
    width: 90px;
  }
}